{# @var review \App\Entity\Review #}

<div class="review-card">
    <h3 class="review-card__title">
        {{ review.author }} на <span>{{ review.manufacturer|capitalize }} {{ review.model }}</span>
    </h3>
    <div class="review-card__text {{ limit ? 'js-scroll-y' : 'no-limit' }}">{{ review.content|raw }}</div>
    <div class="review-card__info">
        <a class="review-card__link" href="{{ review.url }}" target="_blank">Ссылка на источник отзыва</a>
        <b class="review-card__date">{{ review.publishAt|localizeddate('short', 'none') }}</b>
    </div>
</div>
