{% extends 'www/layout_white.html.twig' %}

{% block content %}
    <main class="site-main page bg-gray" id="site-main">
        <div class="page__head">
            <div class="container">
                <h1 class="page__title">{{ reviewsCount }} отзывов</h1>
                <div class="page__lead">О автосервисе АвтоМагстир</div>
                <nav class="page__nav">
                    {% for link in ['all', 'nissan', 'lexus', 'toyota', 'infinity'] %}
                        <a class="page__nav-link{{ link == manufacturer ? ' is-active' }}" href="{{ path('www_reviews', {'manufacturer': link}) }}">
                            {{ 'all' == link ? 'Все' : link|capitalize }}
                        </a>
                    {% endfor %}
                </nav>
            </div>
        </div>

        <div class="page__body">
            <div class="container">
                <div class="reviews-list salvattore-grid" data-columns id="for-load-reviews"
                     data-url="{{ path('www_reviews', {'page': '__PAGE__', 'manufacturer': manufacturer}) }}"
                     data-placeholder="__PAGE__">
                    {% include 'www/Service/Reviews/reviews.html.twig' with {'reviews': reviews} only %}
                </div><!-- END reviews-list -->

                <div class="page__more">
                    <div class="spinner page__more-loader" id="js-auto-load-reviews">
                        <div class="spinner__dot spinner__dot_01"></div>
                        <div class="spinner__dot spinner__dot_02"></div>
                        <div class="spinner__dot spinner__dot_03"></div>
                        <div class="spinner__dot spinner__dot_04"></div>
                        <div class="spinner__dot spinner__dot_05"></div>
                        <div class="spinner__dot spinner__dot_06"></div>
                        <div class="spinner__dot spinner__dot_07"></div>
                        <div class="spinner__dot spinner__dot_08"></div>
                    </div>
                    <div class="page__more-temp" id="temp-container"></div>
                </div>

            </div><!-- END container -->
        </div><!-- END page__body -->
    </main><!-- END site-main -->
{% endblock %}
