{% extends 'easy_admin/default/layout.html.twig' %}

{% form_theme form with easyadmin_config('design.form_theme') %}

{# @var income \App\Entity\Income #}

{% block content_title %}
    <h1>Оприходовать</h1>
{% endblock %}

{% block main %}
    {{ form_start(form) }}

    <h3>Зачислить на склад "{{ income.incomeParts|length }}" позиций от {{ income.supplierId|display_name }} на сумму {{ income.totalPrice|localize_money }}</h3>

    {{ form_widget(form) }}

    <button class="btn btn-success">
        Подтвердить
    </button>

    <a href="{{ easyadmin_path(income, 'show') }}" class="btn btn-primary">Назад</a>
    {{ form_end(form) }}
{% endblock %}
