{# @var value \App\Entity\IncomePart[] #}

{% set income = item %}
{# @var income \App\Entity\Income #}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Наименование</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Итого</th>
            {% if income.editable %}
                <th>Действия</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for incomePart in value %}
            {% set trClass = null %}
            {% if incomePart.part.price.positive() %}
                {% set ratio = incomePart.price.ratioOf(incomePart.part.price) %}
                {% if ratio >= 1.1 and ratio < 1.25 %}
                    {% set trClass = 'warning' %}
                {% elseif ratio >= 1.25 %}
                    {% set trClass = 'danger' %}
                {% endif %}
            {% endif %}

            <tr{% if trClass is not empty %} class="{{ trClass }}"{% endif %}>
                <td>{{ loop.index }}</td>
                <td>{% include 'easy_admin/field_part.html.twig' with {'value': incomePart.part} only %}</td>
                <td>{{ incomePart.price|localize_money }}</td>
                <td>{{ incomePart.quantity / 100 }}</td>
                <td>{{ incomePart.totalPrice|localize_money }}</td>

                {%- if income.editable %}
                    <td>
                        <a href="{{ easyadmin_path(incomePart, 'edit') }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

