{% extends '@EasyAdmin/default/show.html.twig' %}

{% import 'easy_admin/macro/icon.html.twig' as icon %}

{% set order = entity %}
{% set car = order.car %}

{# @var order \AppBundle\entity\Order #}

{% block page_title %}Заказ № {{ order.id }}{% endblock %}

{% block content_title %}{% endblock %}

{% block main %}
    <section id="main" class="content">
        <div class="row">
            <div class="field-group col-xs-12 col-sm-6">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Основная информация по заказу №{{ order.id }}

                            {% if order.editable %}
                                {{ icon.link('pencil', order|easyadmin_path) }}
                            {% endif %}
                        </h3>
                    </div>

                    <div class="box-body">
                        <div class="form-horizontal">
                            <div class="form-group field-association ">
                                <label class="col-sm-2 control-label">Клиент</label>

                                <div class="col-sm-10">
                                    <div class="form-control">
                                        {% if order.customer is not empty %}
                                            {{ order.customer }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-horizontal">
                            <div class="form-group field-association ">
                                <label class="col-sm-2 control-label">Автомобиль</label>

                                <div class="col-sm-10">
                                    <div class="form-control">
                                        {{ order.car }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-horizontal">
                            <div class="form-group field-association ">
                                <label class="col-sm-2 control-label">Пробег</label>

                                <div class="col-sm-10">
                                    <div class="form-control">
                                        {{ order.mileage }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field-group col-xs-12 col-sm-6">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Описание
                        </h3>
                    </div>

                    <div class="box-body">
                        <div class="form-horizontal">
                            <div class="form-group field-association ">
                                <label class="col-sm-2 control-label">Описание</label>

                                <div class="col-sm-10">
                                    <div class="form-control">
                                        {{ order.description }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#{% if order.editable %}#}
        {#<div class="row">#}
        {#<div class="col-xs-12">#}
        {#<a href="{{ easyadmin_path(order) }}" class="btn btn-primary">#}
        {#<i class="fa fa-pencil"></i> Редактировать#}
        {#</a>#}

        {#<a href="{{ easyadmin_path('OrderService', {'order_id': order.id}) }}"#}
        {#class="btn btn-primary"><i class="fa fa-plus"></i> Работа</a>#}

        {#<a href="{{ easyadmin_path('OrderPart', {'order_id': order.id}) }}"#}
        {#class="btn btn-primary"><i class="fa fa-plus"></i> Запчасть</a>#}

        {#{% if car is not empty %}#}
        {#<a class="btn btn-primary"#}
        {#href="{{ easyadmin_path('CarRecommendation', {'car_id': order.car.id}) }}">#}
        {#<i class="fa fa-plus"></i> Рекомендация</a>#}
        {#{% endif %}#}
        {#</div>#}
        {#</div>#}
        {#{% endif %}#}

        <h2 class="page-header">
            {%- spaceless -%}
                Работы
                {%- if order.editable %}
                    <a href="{{ easyadmin_path('OrderService', {'order_id': order.id}) }}">
                        <i class="fa fa-plus"></i>
                    </a>
                {%- endif %}
                /
                Запчасти
                {% if order.editable -%}
                    <a href="{{ easyadmin_path('OrderPart', {'order_id': order.id}) }}">
                        <i class="fa fa-plus"></i>
                    </a>
                {%- endif -%}
            {%- endspaceless -%}
        </h2>

        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Наименование</th>
                            <th>Исполнитель / Артикул</th>
                            <th>Цена</th>
                            <th>Итого</th>
                            <th>Склад</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for part in order.rootParts %}
                            {# @var part \AppBundle\Entity\OrderPart #}
                            <tr>
                                <td>
                                    {{ icon.link('barcode', easyadmin_path(part.part), order.editable) }}

                                    {{ part.part.name }}
                                </td>
                                <td>{{ part.part.number }}</td>
                                <td>{{ part.quantity }} * {{ part.cost }}</td>
                                <td>{{ part.totalCost }}</td>
                                <td>-</td>
                                <td>
                                    {% if order.editable %}
                                        {{ icon.link('pencil', part|easyadmin_path) }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}

                        {% for service in order.services %}
                            {# @var service \AppBundle\Entity\OrderService #}
                            <tr>
                                <td>
                                    {{ icon.link('wrench', service.service|easyadmin_path, order.editable) }}

                                    {{ service.service.name }}

                                    {% if order.editable %}
                                        {{ icon.link('plus', easyadmin_path('OrderPart', {'order_id': order.id, 'order_service_id': service.id})) }}
                                    {% endif %}
                                </td>
                                <td>{{ service.worker }}</td>
                                <td></td>
                                <td>{{ service.cost }} / {{ service.partsCost }}</td>
                                <td>-</td>
                                <td>
                                    {% if order.editable %}
                                        {{ icon.link('pencil', service|easyadmin_path) }}
                                    {% endif %}
                                </td>
                                {% for part in service.orderParts %}
                                    {# @var part \AppBundle\order\OrderPart #}
                                    {{ '</tr><tr>' }}

                                    <td style="padding-left: 40px">
                                        {{ icon.link('barcode', part.part|easyadmin_path, order.editable) }}

                                        {{ part.part.name }}
                                    </td>
                                    <td>{{ part.part.number }}</td>
                                    <td>{{ part.quantity }} * {{ part.cost }}</td>
                                    <td>{{ part.totalCost }}</td>
                                    <td>-</td>
                                    <td>
                                        {% if order.editable %}
                                            {{ icon.link('pencil', part|easyadmin_path) }}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {% if car is not empty and car.recommendations is not empty %}
            <h2 class="page-header">
                {%- spaceless -%}
                    Рекоммендации

                    <a href="{{ easyadmin_path('CarRecommendation', {'car_id': order.car.id}) }}">
                        <i class="fa fa-plus"></i>
                    </a>
                {%- endspaceless -%}
            </h2>

            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Наименование</th>
                                <th>Цена</th>
                                <th>Склад</th>
                                <th>Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for recommendation in car.recommendations %}
                                <tr>
                                    <td>
                                        {{ icon.link('asterisk', easyadmin_path(recommendation.service), true) }}

                                        {{ recommendation.service.name }}

                                        {{ icon.link('plus', easyadmin_path('CarRecommendationPart', {'recommendation_id': recommendation.id})) }}
                                    </td>
                                    <td>{{ recommendation.cost }}</td>
                                    <td>-</td>
                                    <td>{{ icon.link('pencil', recommendation|easyadmin_path) }}</td>
                                    {% for part in recommendation.parts %}
                                        {{ '</tr><tr>' }}
                                        <td style="padding-left: 40px">
                                            {{ icon.link('barcode', part.part|easyadmin_path) }}

                                            {{ part.part.name }}
                                        </td>
                                        <td>{{ part.totalCost }}</td>
                                        <td>-</td>
                                        <td>{{ icon.link('pencil', part|easyadmin_path) }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        {% endif %}
    </section>

{% endblock %}
