{% extends '@EasyAdmin/default/show.html.twig' %}

{# @var entity \AppBundle\Entity\Order #}

{% block main %}
    <section id="main" class="content">
        <div class="row">
            <div class="field-group col-xs-12 col-sm-6">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Основная информация
                        </h3>
                    </div>

                    <div class="box-body">
                        <div class="form-horizontal">
                            <div class="form-group field-association ">
                                <label class="col-sm-2 control-label">Клиент</label>

                                <div class="col-sm-10">
                                    <div class="form-control">
                                        {% if entity.client is not empty %}
                                            {{ entity.client.person.fullName }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-horizontal">
                            <div class="form-group field-association ">
                                <label class="col-sm-2 control-label">Автомобиль</label>

                                <div class="col-sm-10">
                                    <div class="form-control">
                                        {{ entity.car }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-horizontal">
                            <div class="form-group field-association ">
                                <label class="col-sm-2 control-label">Пробег</label>

                                <div class="col-sm-10">
                                    <div class="form-control">
                                        {{ entity.mileage }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field-group col-xs-12 col-sm-6">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Описание
                        </h3>
                    </div>

                    <div class="box-body">
                        <div class="form-horizontal">
                            <div class="form-group field-association ">
                                <label class="col-sm-2 control-label">Описание</label>

                                <div class="col-sm-10">
                                    <div class="form-control">
                                        {{ entity.description }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if entity.editable %}
            <div class="row">
                <div class="col-xs-12">
                    <a href="{{ path('easyadmin', {
                        'entity': 'OrderService',
                        'action': 'new',
                        'order_id': entity.id,
                        'referer': app.request.uri
                    }) }}" class="btn btn-primary"><i class="fa fa-plus"></i> Работа</a>

                    <a href="{{ path('easyadmin', {
                        'entity': 'OrderPart',
                        'action': 'new',
                        'order_id': entity.id,
                        'referer': app.request.uri
                    }) }}" class="btn btn-primary"><i class="fa fa-plus"></i> Запчасть</a>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Наименование</th>
                            <th>Исполнитель / Артикул</th>
                            <th>Цена</th>
                            <th>Итого</th>
                            <th>Склад</th>
                            {% if entity.editable %}
                                <th></th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for part in entity.rootParts %}
                            <tr>
                                <td>
                                    <a href="{{ easyadmin_entity_path(part.part) }}">
                                        <i class="fa fa-barcode" aria-hidden="true"></i>
                                    </a>
                                    {{ part.part.name }}
                                </td>
                                <td>{{ part.part.partnumber }}</td>
                                <td>{{ part.quantity }} * {{ part.cost }}</td>
                                <td>{{ part.totalCost }}</td>
                                <td>-</td>
                                {% if entity.editable %}
                                    <td>
                                        <a href="{{ easyadmin_entity_path(part) }}">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}

                        {% for service in entity.services %}
                            <tr>
                                <td>
                                    <a href="{{ easyadmin_entity_path(service.service) }}">
                                        <i class="fa fa-wrench" aria-hidden="true"></i>
                                    </a>

                                    {{ service.service.name }}

                                    {% if entity.editable %}
                                        <a href="{{ path('easyadmin', {
                                            'entity': 'OrderPart',
                                            'action': 'new',
                                            'order_id': entity.id,
                                            'order_service_id': service.id,
                                            'referer': app.request.uri
                                        }) }}">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}
                                </td>
                                <td>{{ service.user }}</td>
                                <td></td>
                                <td>{{ service.cost }} / {{ service.partsCost }}</td>
                                <td>-</td>
                                {% if entity.editable %}
                                    <td>
                                        <a href="{{ easyadmin_entity_path(service) }}">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                {% endif %}

                                {% for part in service.orderParts %}
                                    {# @var part \AppBundle\Entity\OrderPart #}
                                    {{ '</tr><tr>' }}

                                    <td style="padding-left: 40px">
                                        <a href="{{ easyadmin_entity_path(part.part) }}">
                                            <i class="fa fa-barcode" aria-hidden="true"></i>
                                        </a>
                                        {{ part.part.name }}
                                    </td>
                                    <td>{{ part.part.partnumber }}</td>
                                    <td>{{ part.quantity }} * {{ part.cost }}</td>
                                    <td>{{ part.totalCost }}</td>
                                    <td>-</td>
                                    {% if entity.editable %}
                                        <td>
                                            <a href="{{ easyadmin_entity_path(part) }}">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </section>

{% endblock %}
