{% extends 'easy_admin/default/show.html.twig' %}

{# @var entity \App\Entity\MC\Equipment #}

{% block main %}
    <div class="row">

        <div class="col-md-4">
            <div class="field-group">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Основная информация</h3>
                    </div>

                    <div class="box-body">
                        {{ parent() }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="field-group">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Карта ТО</h3>
                    </div>

                    {% if entity.lines is not empty %}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Работа/Запчасть</th>
                                    <th>Цена</th>
                                    <th>Период</th>
                                    <th>Рек-мый?</th>
                                    <th>+Работа</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for line in entity.lines %}
                                    {# @var line \App\MC\Entity\McLine #}
                                    <tr>
                                        <td>
                                            <a href="{{ easyadmin_path('McWork', 'edit', {'id': line.work|toId}) }}">{{ line.work }}</a>
                                        </td>
                                        <td>{{ line.work.price|localize_money }}</td>

                                        <td>
                                            <a href="{{ easyadmin_path('McLine', 'edit', {'id': line|toId}) }}">{{ line.period }}
                                        </td>
                                        <td>{% include 'easy_admin/default/field_boolean.html.twig' with {'value': line.recommended} %}</td>
                                        <td>
                                            <a href="{{ easyadmin_path('McPart', 'new', {'mc_line_id': line|toId}) }}">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% for linePart in line.parts %}
                                        <tr>
                                            {# @var linePart \App\MC\Entity\McPart #}
                                            <td style="text-align: right">
                                                <a href="{{ easyadmin_path('McPart', 'edit', {'id': linePart|toId}) }}">{{ linePart.partId|display_name }}</a>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td>{% include 'easy_admin/default/field_boolean.html.twig' with {'value': linePart.recommended} %}</td>
                                            <td></td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="box-body">
                            <p>Записей не найдено</p>
                        </div>
                    {% endif %}

                    <div class="box-footer">
                        <a href="{{ easyadmin_path('McLine', 'new', {'mc_equipment_id': entity|toId}) }}" class="btn btn-primary">
                            Создать
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
