<section class="sec-partners">
    <div class="container">
        <h2 class="sec-partners__title">Нам доверяют основные клубы Nissan Москвы</h2>
        <div class="sec-partners__slider" id="sec-partners-slider">
            <div class="sec-partners__slide">
                <img class="sec-partners__logo" src="{{ asset('assets/img/sec-partners/uncompressed/partner_01.png') }}" alt="Авто партнер">
            </div>
            <div class="sec-partners__slide">
                <img class="sec-partners__logo" src="{{ asset('assets/img/sec-partners/uncompressed/partner_02.png') }}" alt="Авто партнер">
            </div>
            <div class="sec-partners__slide">
                <img class="sec-partners__logo" src="{{ asset('assets/img/sec-partners/uncompressed/partner_03.png') }}" alt="Авто партнер">
            </div>
            <div class="sec-partners__slide">
                <img class="sec-partners__logo" src="{{ asset('assets/img/sec-partners/uncompressed/partner_04.png') }}" alt="Авто партнер">
            </div>
            <div class="sec-partners__slide">
                <img class="sec-partners__logo" src="{{ asset('assets/img/sec-partners/uncompressed/partner_05.png') }}" alt="Авто партнер">
            </div>
        </div>
    </div><!-- END container -->
</section><!-- END sec-partners -->
