<section class="sec-features">
    <div class="sec-features__back" id="sec-features-back">
        <div class="sec-features__parr-lt">
            <img class="sec-features__parr-img sec-features__lt-img_min" src="{{ asset('assets/img/sec-features/lt-img_min.png') }}" alt="Авторемонт">
            <img class="sec-features__parr-img sec-features__lt-img_big" src="{{ asset('assets/img/sec-features/lt-img_big.png') }}" alt="Авторемонт">
            <img class="sec-features__parr-img sec-features__lt-img_blur" src="{{ asset('assets/img/sec-features/lt-img_blur.png') }}" alt="Авторемонт">
        </div>
        <div class="sec-features__parr-rt">
            <img class="sec-features__parr-img sec-features__rt-img_min" src="{{ asset('assets/img/sec-features/rt-img_min.png') }}" alt="Авторемонт">
            <img class="sec-features__parr-img sec-features__rt-img_big" src="{{ asset('assets/img/sec-features/rt-img_big.png') }}" alt="Авторемонт">
            <img class="sec-features__parr-img sec-features__rt-img_blur" src="{{ asset('assets/img/sec-features/rt-img_blur.png') }}" alt="Авторемонт">
        </div>
    </div>
    <div class="sec-features__front">
        <div class="container">
            <h2 class="sec-features__title">Проводим комплексную диагностику автомобиля более чем по 70 пунктам</h2>
            <ul class="sec-features__list">
                <li class="feature sec-features__item">
                    <i class="feature__icon icon-f_chassis"></i>
                    <h3 class="feature__title">Ходовая <br> часть</h3>
                    <div class="feature__note">Очень важно регулярно следить за состоянием ходовой части автомобиля, своевременный ремонт подвески делает вождение автомобиля безопасным.</div>
                </li>
                <li class="feature sec-features__item">
                    <i class="feature__icon icon-f_fuel"></i>
                    <h3 class="feature__title">Топливная <br> система</h3>
                    <div class="feature__note">Своевременное обслуживание топливной системы избавит вас от дополнительных трат.</div>
                </li>
                <li class="feature sec-features__item">
                    <i class="feature__icon icon-f_alarm"></i>
                    <h3 class="feature__title">Электронные <br>автомобильные системы</h3>
                    <div class="feature__note">Диагностика электронных систем проводится с помощью современного оборудования опытными мастерами. Дадим подробный ответ по вашей проблеме.</div>
                </li>
                <li class="feature sec-features__item">
                    <i class="feature__icon icon-f_snow"></i>
                    <h3 class="feature__title">Кондиционер</h3>
                    <div class="feature__note">Исправная система кондиционирование 90% комфорта автомобиля в жаркое время года.</div>
                </li>
                <li class="feature sec-features__item">
                    <i class="feature__icon icon-f_search"></i>
                    <h3 class="feature__title">Общая <br> диагностика</h3>
                    <div class="feature__note">Наши специалисты подробно объяснят из-за чего произошла поломка и как её избежать в будущем.</div>
                </li>
                <li class="feature sec-features__item">
                    <i class="feature__icon icon-f_painting"></i>
                    <h3 class="feature__title">Лакокрасочные покрытия</h3>
                    <div class="feature__note">Ухоженный автомобиль всегда красив, независимо от возраста.</div>
                </li>
                <li class="feature sec-features__item">
                    <i class="feature__icon icon-f_motor"></i>
                    <h3 class="feature__title">Двигатель</h3>
                    <div class="feature__note">Двигатель - сердце автомобиля. Мы расскажем, как не довести до остановки сердца.</div>
                </li>
                <li class="feature sec-features__item">
                    <i class="feature__icon icon-f_transmision"></i>
                    <h3 class="feature__title">АКПП, МКПП, <br> CVT</h3>
                    <div class="feature__note">Своевременное и квалифицированное обслуживание трансмиссии продлевает срок службы в несколько раз.</div>
                </li>
            </ul>
            <div class="sec-features__get">
                <a class="btn" href="{{ path('www_diagnostics', {'type': 'free'}) }}">Записаться на бесплатную диагностику</a>
            </div>
            <div class="sec-features__offer">
                <div class="proposal">
                    <div class="proposal__hint">Стоимость: 600 <i class="icon-rub">a</i></div>
                    <h3 class="proposal__title">Так же, рекомендуем компьютерную диагностику</h3>
                    <div class="proposal__lead">100 % определение поломки за <strong>30 минут</strong></div>
                    <div class="proposal__note">Электронных средств контроля и управления автомобиля</div>
                    <div class="proposal__more">
                        <a class="btn" href="{{ path('www_diagnostics', {'type': 'comp'}) }}">Подробнее об услуге</a>
                    </div>
                    <img class="proposal__img proposal__img-lt" src="{{ asset('assets/img/sec-features/proposal-lt.png') }}" alt="Бесплатная диагностика">
                    <img class="proposal__img proposal__img-rt" src="{{ asset('assets/img/sec-features/proposal-rt.png') }}" alt="Бесплатная диагностика">
                    <img class="proposal__img proposal__img-btm" src="{{ asset('assets/img/sec-features/proposal-btm.png') }}" alt="Бесплатная диагностика">
                </div>
            </div>
        </div>
    </div>
</section><!-- END sec-features -->
