<section class="sec-master">
    <div class="sec-master__back" style="background-image: url({{ asset('assets/img/backgrounds/bg_sec-master.jpg') }})"></div>
    <div class="sec-master__front">
        <h2 class="sec-master__title">Наши мастера</h2>
        <div class="sec-master__slider" id="sec-master-slider">
            <div class="sec-master__slide">
                <div class="container sec-master__slide-row">
                    <div class="sec-master__slide-lt">
                        <img class="sec-master__slide-img" src="{{ asset('assets/img/sec-master/master_01.png') }}" alt="Мастер авторемонт">
                    </div>
                    <div class="sec-master__slide-rt">
                        <div class="sec-master__slide-text js-scroll-y">
                            <h4 class="sec-master__slide-title">Иван Иванов</h4>
                            <dl class="sec-master__slide-list">
                                <dt>Автомеханик</dt>
                                <dd>Стаж работы по специальности: с 2005 г.</dd>
                                <dt>Основной профиль:</dt>
                                <dd>Ремонт двигателя и КПП, ремонт ходовой части.</dd>
                                <dt>Дополнительный профиль:</dt>
                                <dd>Ремонт рулевых реек, электрика, диагностика.</dd>
                                <dt>Информация о специалисте:</dt>
                                <dd>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Cum exercitationem illo inventore mollitia natus necessitatibus
                                    nihil obcaecati quis! Dicta esse iure quam quibusdam sint.
                                    Adipisci aperiam atque consequatur corporis cum error facilis.
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div><!-- END container -->
            </div><!-- END sec-master__slide -->
            <div class="sec-master__slide">
                <div class="container sec-master__slide-row">
                    <div class="sec-master__slide-lt">
                        <img class="sec-master__slide-img" src="{{ asset('assets/img/sec-master/master_02.png') }}" alt="Мастер авторемонт">
                    </div>
                    <div class="sec-master__slide-rt">
                        <div class="sec-master__slide-text js-scroll-y">
                            <h4 class="sec-master__slide-title">Иван Иванов</h4>
                            <dl class="sec-master__slide-list">
                                <dt>Автомеханик</dt>
                                <dd>Стаж работы по специальности: с 2005 г.</dd>
                                <dt>Основной профиль:</dt>
                                <dd>Ремонт двигателя и КПП, ремонт ходовой части.</dd>
                                <dt>Дополнительный профиль:</dt>
                                <dd>Ремонт рулевых реек, электрика, диагностика.</dd>
                                <dt>Информация о специалисте:</dt>
                                <dd>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Cum exercitationem illo inventore mollitia natus necessitatibus
                                    nihil obcaecati quis! Dicta esse iure quam quibusdam sint.
                                    Adipisci aperiam atque consequatur corporis cum error facilis.
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div><!-- END container -->
            </div><!-- END sec-master__slide -->
            <div class="sec-master__slide">
                <div class="container sec-master__slide-row">
                    <div class="sec-master__slide-lt">
                        <img class="sec-master__slide-img" src="{{ asset('assets/img/sec-master/master_03.png') }}" alt="Мастер авторемонт">
                    </div>
                    <div class="sec-master__slide-rt">
                        <div class="sec-master__slide-text js-scroll-y">
                            <h4 class="sec-master__slide-title">Иван Иванов</h4>
                            <dl class="sec-master__slide-list">
                                <dt>Автомеханик</dt>
                                <dd>Стаж работы по специальности: с 2005 г.</dd>
                                <dt>Основной профиль:</dt>
                                <dd>Ремонт двигателя и КПП, ремонт ходовой части.</dd>
                                <dt>Дополнительный профиль:</dt>
                                <dd>Ремонт рулевых реек, электрика, диагностика.</dd>
                                <dt>Информация о специалисте:</dt>
                                <dd>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Cum exercitationem illo inventore mollitia natus necessitatibus
                                    nihil obcaecati quis! Dicta esse iure quam quibusdam sint.
                                    Adipisci aperiam atque consequatur corporis cum error facilis.
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div><!-- END container -->
            </div><!-- END sec-master__slide -->
            <div class="sec-master__slide">
                <div class="container sec-master__slide-row">
                    <div class="sec-master__slide-lt">
                        <img class="sec-master__slide-img" src="{{ asset('assets/img/sec-master/master_04.png') }}" alt="Мастер авторемонт">
                    </div>
                    <div class="sec-master__slide-rt">
                        <div class="sec-master__slide-text js-scroll-y">
                            <h4 class="sec-master__slide-title">Иван Иванов</h4>
                            <dl class="sec-master__slide-list">
                                <dt>Автомеханик</dt>
                                <dd>Стаж работы по специальности: с 2005 г.</dd>
                                <dt>Основной профиль:</dt>
                                <dd>Ремонт двигателя и КПП, ремонт ходовой части.</dd>
                                <dt>Дополнительный профиль:</dt>
                                <dd>Ремонт рулевых реек, электрика, диагностика.</dd>
                                <dt>Информация о специалисте:</dt>
                                <dd>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Cum exercitationem illo inventore mollitia natus necessitatibus
                                    nihil obcaecati quis! Dicta esse iure quam quibusdam sint.
                                    Adipisci aperiam atque consequatur corporis cum error facilis.
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div><!-- END container -->
            </div><!-- END sec-master__slide -->
            <div class="sec-master__slide">
                <div class="container sec-master__slide-row">
                    <div class="sec-master__slide-lt">
                        <img class="sec-master__slide-img" src="{{ asset('assets/img/sec-master/master_05.png') }}" alt="Мастер авторемонт">
                    </div>
                    <div class="sec-master__slide-rt">
                        <div class="sec-master__slide-text js-scroll-y">
                            <h4 class="sec-master__slide-title">Иван Иванов</h4>
                            <dl class="sec-master__slide-list">
                                <dt>Автомеханик</dt>
                                <dd>Стаж работы по специальности: с 2005 г.</dd>
                                <dt>Основной профиль:</dt>
                                <dd>Ремонт двигателя и КПП, ремонт ходовой части.</dd>
                                <dt>Дополнительный профиль:</dt>
                                <dd>Ремонт рулевых реек, электрика, диагностика.</dd>
                                <dt>Информация о специалисте:</dt>
                                <dd>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Cum exercitationem illo inventore mollitia natus necessitatibus
                                    nihil obcaecati quis! Dicta esse iure quam quibusdam sint.
                                    Adipisci aperiam atque consequatur corporis cum error facilis.
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div><!-- END container -->
            </div><!-- END sec-master__slide -->
            <div class="sec-master__slide">
                <div class="container sec-master__slide-row">
                    <div class="sec-master__slide-lt">
                        <img class="sec-master__slide-img" src="{{ asset('assets/img/sec-master/master_06.png') }}" alt="Мастер авторемонт">
                    </div>
                    <div class="sec-master__slide-rt">
                        <div class="sec-master__slide-text js-scroll-y">
                            <h4 class="sec-master__slide-title">Иван Иванов</h4>
                            <dl class="sec-master__slide-list">
                                <dt>Автомеханик</dt>
                                <dd>Стаж работы по специальности: с 2005 г.</dd>
                                <dt>Основной профиль:</dt>
                                <dd>Ремонт двигателя и КПП, ремонт ходовой части.</dd>
                                <dt>Дополнительный профиль:</dt>
                                <dd>Ремонт рулевых реек, электрика, диагностика.</dd>
                                <dt>Информация о специалисте:</dt>
                                <dd>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Cum exercitationem illo inventore mollitia natus necessitatibus
                                    nihil obcaecati quis! Dicta esse iure quam quibusdam sint.
                                    Adipisci aperiam atque consequatur corporis cum error facilis.
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div><!-- END container -->
            </div><!-- END sec-master__slide -->
        </div><!-- END sec-master__slider -->
    </div><!-- END sec-master__front -->
</section><!-- END sec-happen -->
