<section class="sec-master">
    <div class="sec-master__back" style="background-image: url({{ asset('assets/img/backgrounds/bg_sec-master.jpg') }})"></div>
    <div class="sec-master__front">
        <h2 class="sec-master__title">Наши мастера</h2>
        <div class="sec-master__slider" id="sec-master-slider">
            <div class="sec-master__slide">
                <div class="container sec-master__slide-row">
                    <div class="sec-master__slide-lt">
                        <img class="sec-master__slide-img" src="{{ asset('assets/img/sec-master/master_01.png') }}" alt="Мастер авторемонт">
                    </div>
                    <div class="sec-master__slide-rt">
                        <div class="sec-master__slide-text js-scroll-y">
                            <h4 class="sec-master__slide-title">Дмитрий</h4>
                            <dl class="sec-master__slide-list">
                                <dt>Автомеханик, Арматурщик</dt>
                                <dd>Стаж работы по специальности: с 2011 г.</dd>
                                <dt>Основной профиль:</dt>
                                <dd>Проведение ТО, арматурные работы, ремонт подвески.</dd>
                                <dt>Дополнительный профиль:</dt>
                                <dd>Диагностика, компьютерная диагностика, шиномонтаж</dd>
                                <dt>Информация о специалисте:</dt>
                                <dd>
                                    Дмитрий в нашей команде с 2011 года. Профессионально проводит диагностику и техническое обслуживание любой сложности.
                                    Выполняет аккуратные работы по салону дорогих автомобилей.
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div><!-- END container -->
            </div><!-- END sec-master__slide -->
            <div class="sec-master__slide">
                <div class="container sec-master__slide-row">
                    <div class="sec-master__slide-lt">
                        <img class="sec-master__slide-img" src="{{ asset('assets/img/sec-master/master_02.png') }}" alt="Мастер авторемонт">
                    </div>
                    <div class="sec-master__slide-rt">
                        <div class="sec-master__slide-text js-scroll-y">
                            <h4 class="sec-master__slide-title">Андрей</h4>
                            <dl class="sec-master__slide-list">
                                <dt>Автомеханик, Диагност</dt>
                                <dd>Стаж работы по специальности: с 2005 г.</dd>
                                <dt>Основной профиль:</dt>
                                <dd>Агрегатный ремонт любой сложности</dd>
                                <dt>Дополнительный профиль:</dt>
                                <dd>Подвеска, диагностика, сварочные работы</dd>
                                <dt>Информация о специалисте:</dt>
                                <dd>
                                    Андрей в нашей команде с 2009 года. За долгое время сотрудничества показал себя
                                    надежным профессионалом. Является мастером широкого профиля, может применять нестандартные
                                    решения с сложных зачах.
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div><!-- END container -->
            </div><!-- END sec-master__slide -->
            <div class="sec-master__slide">
                <div class="container sec-master__slide-row">
                    <div class="sec-master__slide-lt">
                        <img class="sec-master__slide-img" src="{{ asset('assets/img/sec-master/master_03.png') }}" alt="Мастер авторемонт">
                    </div>
                    <div class="sec-master__slide-rt">
                        <div class="sec-master__slide-text js-scroll-y">
                            <h4 class="sec-master__slide-title">Вячеслав</h4>
                            <dl class="sec-master__slide-list">
                                <dt>Автомеханик, Электрик</dt>
                                <dd>Стаж работы по специальности: с 2008 г.</dd>
                                <dt>Основной профиль:</dt>
                                <dd>Сложный ремонт, электрика</dd>
                                <dt>Дополнительный профиль:</dt>
                                <dd>Подвеска, арматурный ремонт, сварочные работы</dd>
                                <dt>Информация о специалисте:</dt>
                                <dd>
                                    Вячеслав в нашей команде с 2013 года. Решает все самые сложные проблемы с агрегатами,
                                    автомобильной электрикой. Сверхбыстрая скорость работы по ремонту подвески и проведению ТО.
                                    Профессиональный сварщик.
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div><!-- END container -->
            </div><!-- END sec-master__slide -->
            <div class="sec-master__slide">
                <div class="container sec-master__slide-row">
                    <div class="sec-master__slide-lt">
                        <img class="sec-master__slide-img" src="{{ asset('assets/img/sec-master/master_04.png') }}" alt="Мастер авторемонт">
                    </div>
                    <div class="sec-master__slide-rt">
                        <div class="sec-master__slide-text js-scroll-y">
                            <h4 class="sec-master__slide-title">Денис</h4>
                            <dl class="sec-master__slide-list">
                                <dt>Автомеханик</dt>
                                <dd>Стаж работы по специальности: с 2011 г.</dd>
                                <dt>Основной профиль:</dt>
                                <dd>Ремонт подвески, проведение ТО</dd>
                                <dt>Дополнительный профиль:</dt>
                                <dd>Ремонт Двигателей, шиномонтаж</dd>
                                <dt>Информация о специалисте:</dt>
                                <dd>
                                    Денис в нашей команде с 2015г. Выполняет большинство работ по ремонту подвески.
                                    Диагностирует самые сложные случаи в подвеске и агрегатах.
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div><!-- END container -->
            </div><!-- END sec-master__slide -->
            <div class="sec-master__slide">
                <div class="container sec-master__slide-row">
                    <div class="sec-master__slide-lt">
                        <img class="sec-master__slide-img" src="{{ asset('assets/img/sec-master/master_05.png') }}" alt="Мастер авторемонт">
                    </div>
                    <div class="sec-master__slide-rt">
                        <div class="sec-master__slide-text js-scroll-y">
                            <h4 class="sec-master__slide-title">Юрий</h4>
                            <dl class="sec-master__slide-list">
                                <dt>Автомеханик, Моторист</dt>
                                <dd>Стаж работы по специальности: с 2007 г.</dd>
                                <dt>Основной профиль:</dt>
                                <dd>Ремонт подвески, ремонт двигателей</dd>
                                <dt>Дополнительный профиль:</dt>
                                <dd>Шиномонтаж</dd>
                                <dt>Информация о специалисте:</dt>
                                <dd>
                                    Юрий в нашей команде с 2013 года. За время работы в нашей команде, выполнил множество
                                    работ по ремонту двигателей и МКПП. Выполняет скоростной ремонт подвески.
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div><!-- END container -->
            </div><!-- END sec-master__slide -->
            {#<div class="sec-master__slide">#}
                {#<div class="container sec-master__slide-row">#}
                    {#<div class="sec-master__slide-lt">#}
                        {#<img class="sec-master__slide-img" src="{{ asset('assets/img/sec-master/master_06.png') }}" alt="Мастер авторемонт">#}
                    {#</div>#}
                    {#<div class="sec-master__slide-rt">#}
                        {#<div class="sec-master__slide-text js-scroll-y">#}
                            {#<h4 class="sec-master__slide-title">Иван Иванов6</h4>#}
                            {#<dl class="sec-master__slide-list">#}
                                {#<dt>Автомеханик</dt>#}
                                {#<dd>Стаж работы по специальности: с 2005 г.</dd>#}
                                {#<dt>Основной профиль:</dt>#}
                                {#<dd>Ремонт двигателя и КПП, ремонт ходовой части.</dd>#}
                                {#<dt>Дополнительный профиль:</dt>#}
                                {#<dd>Ремонт рулевых реек, электрика, диагностика.</dd>#}
                                {#<dt>Информация о специалисте:</dt>#}
                                {#<dd>#}
                                    {#Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
                                    {#Cum exercitationem illo inventore mollitia natus necessitatibus#}
                                    {#nihil obcaecati quis! Dicta esse iure quam quibusdam sint.#}
                                    {#Adipisci aperiam atque consequatur corporis cum error facilis.#}
                                {#</dd>#}
                            {#</dl>#}
                        {#</div>#}
                    {#</div>#}
                {#</div><!-- END container -->#}
            {#</div><!-- END sec-master__slide -->#}
        </div><!-- END sec-master__slider -->
    </div><!-- END sec-master__front -->
</section><!-- END sec-happen -->
