{% extends '@EasyAdmin/default/new.html.twig' %}

{% block entity_form %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    {{ form_row(form.order) }}
                </div>
                <div class="col-xs-12 col-md-6">
                    {{ form_row(form.orderService) }}
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="form-group field-easyadmin_autocomplete">
                        {{ form_label(form.part) }}

                        <div class="input-group">
                            {{ form_widget(form.part) }}
                            <div class="input-group-addon">
                                <a href="" id="new-part">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-4">
                    {{ form_row(form.cost) }}
                </div>

                <div class="col-xs-12 col-md-4">
                    {{ form_row(form.quantity) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
        var url = "{{ easyadmin_entity_path('Part')|raw }}",
            partInput = $("#{{ form.part.children.autocomplete.vars.id }}"),
            costInput = $("#{{ form.cost.vars.id }}");

        $('#new-part').click(function () {
            $.ajax({
                url: url
            }).done(function (data) {
                $('body').append(data);
            });

            return false;
        });

        $(document).on('new-part-added', function (e, part) {
            var option = new Option([part.name, '(' + part.manufacturer.name, part.number + ')'].join(' '), part.id);
            option.selected = true;

            partInput.append(option);
            partInput.trigger('change');

            costInput.val(part.price);
        });
    </script>
{% endblock %}
