{% extends 'www/layout.html.twig' %}

{% block content %}
    <main class="site-main">
        <section class="sec-intro">
            <div class="sec-intro__back" style="background-image: url({{ asset('assets/img/backgrounds/bg_corporates.jpg') }})"></div>
            <div class="sec-intro__front">
                <div class="container">
                    <h1 class="sec-intro__title">АВТОСЕРВИС <br> ДЛЯ БИЗНЕСА В МОСКВЕ</h1>
                    <div class="sec-intro__lead">РЕМОНТИРУЕМ АВТОМОБИЛИ <br> СО СКОРОСТЬЮ ПИТ-СТОП ФОРМУЛЫ 1</div>
                    <form class="subscribe sec-intro__form sec-intro__form_slim">
                        <input class="subscribe__name" type="text" placeholder="Имя">
                        <input class="subscribe__numb js-phone-mask" type="text" placeholder="Телефон">
                        <div class="subscribe__agree">
                            <label class="subscribe__check"><input type="checkbox" checked><span></span></label>
                            <div class="subscribe__hint">
                                <span>Lorem ipsum dolor sit amet, consec tetur adipisi cing elit. At, exerci tati onem.</span>
                            </div>
                        </div>
                        <a class="btn subscribe__btn" role="button">Записаться
                            <i class="btn__icon-rt icon_arrow-rt"></i></a>
                    </form>
                    <ul class="sec-intro__features">
                        <li class="feature sec-intro__feature">
                            <i class="feature__icon icon-f_suspension"></i>
                            <h3 class="feature__title">Ремонт <br> день в день</h3>
                            <div class="feature__note">Полностью бесплатная диагностика и калькуляция работ. А когда и где ремонтировать - решать вам.</div>
                        </li>
                        <li class="feature sec-intro__feature">
                            <i class="feature__icon icon-f_success"></i>
                            <h3 class="feature__title">Оперативно, <br> без очереди</h3>
                            <div class="feature__note">Полностью бесплатная диагностика и калькуляция работ. А когда и где ремонтировать - решать вам.</div>
                        </li>
                        <li class="feature sec-intro__feature">
                            <i class="feature__icon icon-f_speed"></i>
                            <h3 class="feature__title">Обработаем большие заказы</h3>
                            <div class="feature__note">Полностью бесплатная диагностика и калькуляция работ. А когда и где ремонтировать - решать вам.</div>
                        </li>
                        <li class="feature sec-intro__feature">
                            <i class="feature__icon icon-f_star"></i>
                            <h3 class="feature__title">100% <br> гарантия ремонта</h3>
                            <div class="feature__note">Наши специалисты подробно объяснят из-за чего произошла поломка и как её избежать в будущем</div>
                        </li>
                    </ul>
                </div>
            </div>
        </section><!-- END sec-intro -->

        <section class="sec-partners">
            <div class="container">
                <h2 class="sec-partners__title">Наши корпоративные клиенты</h2>
                <div class="sec-partners__slider sec-partners-slider">
                    <div class="sec-partners__slide">
                        <img class="sec-partners__logo" src="{{ asset('assets/img/sec-partners/partner_01.png') }}" alt="Авто партнер">
                    </div>
                    <div class="sec-partners__slide">
                        <img class="sec-partners__logo" src="{{ asset('assets/img/sec-partners/partner_02.png') }}" alt="Авто партнер">
                    </div>
                    <div class="sec-partners__slide">
                        <img class="sec-partners__logo" src="{{ asset('assets/img/sec-partners/partner_03.png') }}" alt="Авто партнер">
                    </div>
                    <div class="sec-partners__slide">
                        <img class="sec-partners__logo" src="{{ asset('assets/img/sec-partners/partner_04.png') }}" alt="Авто партнер">
                    </div>
                    <div class="sec-partners__slide">
                        <img class="sec-partners__logo" src="{{ asset('assets/img/sec-partners/partner_05.png') }}" alt="Авто партнер">
                    </div>
                    <div class="sec-partners__slide">
                        <img class="sec-partners__logo" src="{{ asset('assets/img/sec-partners/partner_03.png') }}" alt="Авто партнер">
                    </div>
                    <div class="sec-partners__slide">
                        <img class="sec-partners__logo" src="{{ asset('assets/img/sec-partners/partner_04.png') }}" alt="Авто партнер">
                    </div>
                    <div class="sec-partners__slide">
                        <img class="sec-partners__logo" src="{{ asset('assets/img/sec-partners/partner_05.png') }}" alt="Авто партнер">
                    </div>
                </div>
            </div><!-- END container -->
        </section><!-- END sec-partners -->

        {{ include('www/_sections/experience.html.twig') }}

        {{ include('www/_sections/reviews.html.twig') }}

        {{ include('www/_sections/clubs.html.twig') }}

        {{ include('www/_sections/faq.html.twig') }}

    </main><!-- END site-main -->
{% endblock %}
