{% extends 'www/layout.html.twig' %}

{% set brand = app.request.attributes.get('brand')|capitalize %}

{% block content %}
    <main class="site-main">
        <section class="sec-intro">
            <div class="sec-intro__back" style="background-image: url({{ asset('assets/img/backgrounds/bg_diagnostics-free.jpg') }})"></div>
            <div class="sec-intro__front">
                <div class="container">
                    <h1 class="sec-intro__title">Бесплатная диагностика <br> {{ brand }} в Москве</h1>
                    <form class="subscribe sec-intro__form">
                        <input class="subscribe__name" type="text" placeholder="Имя">
                        <input class="subscribe__numb js-phone-mask" type="text" placeholder="Телефон">
                        <input class="subscribe__date js-datepicker-limited" type="text" readonly placeholder="Выберите дату">
                        <div class="subscribe__agree">
                            <label class="subscribe__check"><input type="checkbox" checked><span></span></label>
                            <div class="subscribe__hint">
                                <span>Lorem ipsum dolor sit amet, consec tetur adipisi cing elit. At, exerci tati onem.</span>
                            </div>
                        </div>
                        <a class="btn subscribe__btn" role="button">Записаться
                            <i class="btn__icon-rt icon_arrow-rt"></i></a>
                    </form>
                    <ul class="sec-intro__features">
                        <li class="feature sec-intro__feature">
                            <i class="feature__icon icon-f_suspension"></i>
                            <h3 class="feature__title">Не обязываем <br> к ремонту</h3>
                            <div class="feature__note">Полностью бесплатная диагностика и калькуляция работ. А когда и где ремонтировать - решать вам.</div>
                        </li>
                        <li class="feature sec-intro__feature">
                            <i class="feature__icon icon-f_speed"></i>
                            <h3 class="feature__title">Управимся <br> за 19 минут</h3>
                            <div class="feature__note">Полностью бесплатная диагностика и калькуляция работ. А когда и где ремонтировать - решать вам.</div>
                        </li>
                        <li class="feature sec-intro__feature">
                            <i class="feature__icon icon-f_piggy"></i>
                            <h3 class="feature__title">Цены неизменны <br> год за годом</h3>
                            <div class="feature__note">Полностью бесплатная диагностика и калькуляция работ. А когда и где ремонтировать - решать вам.</div>
                        </li>
                        <li class="feature sec-intro__feature">
                            <i class="feature__icon icon-f_binocul"></i>
                            <h3 class="feature__title">Наблюдайте <br> за работой</h3>
                            <div class="feature__note">Полностью бесплатная диагностика и калькуляция работ. А когда и где ремонтировать - решать вам.</div>
                        </li>
                    </ul>
                </div>
            </div>
        </section><!-- END sec-intro -->

        {{ include('www/_sections/features.html.twig') }}

        {{ include('www/_sections/experience.html.twig') }}

        {{ include('www/_sections/master.html.twig') }}

        {{ include('www/_sections/reviews.html.twig') }}

        {{ include('www/_sections/clubs.html.twig') }}

        {{ include('www/_sections/faq.html.twig') }}

        {{ include('www/_sections/map.html.twig') }}
    </main><!-- END site-main -->
{% endblock %}
