<section class="sec-faq {{- scroll|default(false) ? ' js-sec-scroll' }}">
    <div class="sec-faq__back"></div>
    <div class="sec-faq__front">
        <div class="container sec-faq__container">
            <h2 class="sec-faq__title">Часто задаваемые вопросы</h2>
            <div class="sec-faq__row">
                <div class="sec-faq__col-lt">
                    <div class="sec-faq__tabs">
                        <nav class="sec-faq__tabs-head" id="sec-faq-tabs">
                            <a class="sec-faq__tabs-btn js-tabs-btn is-active" data-tab="faq-tab-01" role="button">Как часто нужно делать ТО?</a>
                            <a class="sec-faq__tabs-btn js-tabs-btn" data-tab="faq-tab-02" role="button">Факторы эксплуатации</a>
                            <a class="sec-faq__tabs-btn js-tabs-btn" data-tab="faq-tab-03" role="button">Как часто нужно делать ТО?</a>
                            <a class="sec-faq__tabs-btn js-tabs-btn" data-tab="faq-tab-04" role="button">Факторы эксплуатации</a>
                            <a class="sec-faq__tabs-btn js-tabs-btn" data-tab="faq-tab-05" role="button">Как часто нужно делать ТО?</a>
                            <a class="sec-faq__tabs-btn js-tabs-btn" data-tab="faq-tab-06" role="button">Факторы эксплуатации</a>
                        </nav>
                        <div class="sec-faq__tabs-body js-tabs-body">
                            <div class="sec-faq__tabs-item is-active js-tabs-item" id="faq-tab-01">
                                <div class="sec-faq__tabs-text js-scroll-y">
                                    <h3>Как часто нужно делать ТО?</h3>
                                    <p>
                                        Срок действия техосмотра для ОСАГО зависит в первую очередь от типа транспортного средства:
                                        <br>
                                        Автомобили категории B, мототранспортные средства, прицепы и полуприцепы - через 3, 5, 7 лет
                                        после года выпуска. Далее - каждый год.
                                        Автомобили категории С, учебные автомобили, автомобили оборудованные спецсигналами - каждый год.
                                        Такси, автобусы, грузовики для перевозки людей, автомобили для перевозкиопасных грузов - каждые
                                        6 месяцев.
                                    </p>
                                    <p>
                                        У водителей часто возникает вопрос, нужно ли проходить техосмотр, если машине 3 года. В данном
                                        случае проходить нужно обязательно, т.к. в противном случае Вам не продадут полис ОСАГО.
                                    </p>
                                    <h4>Еще один популярный вопрос:
                                        <br> "Нужно ли проходить техосмотр на новую машину".</h4>
                                    <p>
                                        Срок действия техосмотра для ОСАГО зависит в первую очередь от типа транспортного средства:
                                        <br>
                                        Автомобили категории B, мототранспортные средства, прицепы и полуприцепы - через 3, 5, 7 лет
                                        после года выпуска. Далее - каждый год. <br>
                                        Автомобили категории С, учебные автомобили, автомобили оборудованные спецсигналами - каждый год.
                                        Такси, автобусы, грузовики для перевозки людей, автомобили для перевозкиопасных грузов - каждые
                                        6 месяцев.
                                    </p>
                                </div>
                            </div><!-- END sec-faq__tabs-item -->

                            <div class="sec-faq__tabs-item js-tabs-item" id="faq-tab-02">
                                <div class="sec-faq__tabs-text js-scroll-y">
                                    <h3>Как часто нужно делать ТО?</h3>
                                    <p>
                                        Срок действия техосмотра для ОСАГО зависит в первую очередь от типа транспортного средства:
                                        <br>
                                        Автомобили категории B, мототранспортные средства, прицепы и полуприцепы - через 3, 5, 7 лет
                                        после года выпуска. Далее - каждый год. <br>
                                        Автомобили категории С, учебные автомобили, автомобили оборудованные спецсигналами - каждый год.
                                        Такси, автобусы, грузовики для перевозки людей, автомобили для перевозкиопасных грузов - каждые
                                        6 месяцев.
                                    </p>
                                    <p>
                                        У водителей часто возникает вопрос, нужно ли проходить техосмотр, если машине 3 года. В данном
                                        случае проходить нужно обязательно, т.к. в противном случае Вам не продадут полис ОСАГО.
                                    </p>
                                    <h4>Еще один популярный вопрос: "Нужно ли проходить техосмотр на новую машину".</h4>
                                    <p>
                                        Срок действия техосмотра для ОСАГО зависит в первую очередь от типа транспортного средства:
                                        <br>
                                        Автомобили категории B, мототранспортные средства, прицепы и полуприцепы - через 3, 5, 7 лет
                                        после года выпуска. Далее - каждый год. <br>
                                        Автомобили категории С, учебные автомобили, автомобили оборудованные спецсигналами - каждый год.
                                        Такси, автобусы, грузовики для перевозки людей, автомобили для перевозкиопасных грузов - каждые
                                        6 месяцев.
                                    </p>
                                </div>
                            </div><!-- END sec-faq__tabs-item -->
                            <div class="sec-faq__tabs-item js-tabs-item" id="faq-tab-03">
                                <div class="sec-faq__tabs-text js-scroll-y">
                                    <h3>Как часто нужно делать ТО?</h3>
                                    <p>
                                        Срок действия техосмотра для ОСАГО зависит в первую очередь от типа транспортного средства:
                                        <br>
                                        Автомобили категории B, мототранспортные средства, прицепы и полуприцепы - через 3, 5, 7 лет
                                        после года выпуска. Далее - каждый год. <br>
                                        Автомобили категории С, учебные автомобили, автомобили оборудованные спецсигналами - каждый год.
                                        Такси, автобусы, грузовики для перевозки людей, автомобили для перевозкиопасных грузов - каждые
                                        6 месяцев.
                                    </p>
                                </div>
                            </div><!-- END sec-faq__tabs-item -->
                            <div class="sec-faq__tabs-item js-tabs-item" id="faq-tab-04">
                                <div class="sec-faq__tabs-text js-scroll-y">
                                    <h3>Как часто нужно делать ТО?</h3>
                                    <p>
                                        Срок действия техосмотра для ОСАГО зависит в первую очередь от типа транспортного средства:
                                        <br>
                                        Автомобили категории B, мототранспортные средства, прицепы и полуприцепы - через 3, 5, 7 лет
                                        после года выпуска. Далее - каждый год. <br>
                                        Автомобили категории С, учебные автомобили, автомобили оборудованные спецсигналами - каждый год.
                                        Такси, автобусы, грузовики для перевозки людей, автомобили для перевозкиопасных грузов - каждые
                                        6 месяцев.
                                    </p>
                                </div>
                            </div><!-- END sec-faq__tabs-item -->
                            <div class="sec-faq__tabs-item js-tabs-item" id="faq-tab-05">
                                <div class="sec-faq__tabs-text js-scroll-y">
                                    <h3>Как часто нужно делать ТО?</h3>
                                    <p>
                                        Срок действия техосмотра для ОСАГО зависит в первую очередь от типа транспортного средства:
                                        <br>
                                        Автомобили категории B, мототранспортные средства, прицепы и полуприцепы - через 3, 5, 7 лет
                                        после года выпуска. Далее - каждый год. <br>
                                        Автомобили категории С, учебные автомобили, автомобили оборудованные спецсигналами - каждый год.
                                        Такси, автобусы, грузовики для перевозки людей, автомобили для перевозкиопасных грузов - каждые
                                        6 месяцев.
                                    </p>
                                </div>
                            </div><!-- END sec-faq__tabs-item -->
                            <div class="sec-faq__tabs-item js-tabs-item" id="faq-tab-06">
                                <div class="sec-faq__tabs-text js-scroll-y">
                                    <h3>Как часто нужно делать ТО?</h3>
                                    <p>
                                        Срок действия техосмотра для ОСАГО зависит в первую очередь от типа транспортного средства:
                                        <br>
                                        Автомобили категории B, мототранспортные средства, прицепы и полуприцепы - через 3, 5, 7 лет
                                        после года выпуска. Далее - каждый год. <br>
                                        Автомобили категории С, учебные автомобили, автомобили оборудованные спецсигналами - каждый год.
                                        Такси, автобусы, грузовики для перевозки людей, автомобили для перевозкиопасных грузов - каждые
                                        6 месяцев.
                                    </p>
                                </div>
                            </div><!-- END sec-faq__tabs-item -->
                        </div><!-- END sec-faq__tabs-body -->
                    </div><!-- END sec-faq__tabs -->
                </div><!-- END sec-faq__col-lt -->

                <div class="sec-faq__col-rt">
                    {{ form_start(form, {
                        'attr': {
                            'class': 'form sec-faq__form'
                        }
                    }) }}
                        <h3 class="form__title">Мы готовы помочь</h3>
                        <div class="form__lead">Если у вас остались вопросы, задайте их прямо сейчас:</div>
                        <div class="form__line">
                            {{ form_widget(form.name, {'attr': {'class': 'form__input', 'placeholder': 'Имя'}}) }}
                        </div>
                        <div class="form__line">
                            {{ form_widget(form.email, {'attr': {'class': 'form__input', 'placeholder': 'E-mail'}}) }}
                        </div>
                        <div class="form__line">
                            {{ form_widget(form.question, {'attr': {'class': 'form__text', 'placeholder': 'Ваш вопрос'}}) }}
                        </div>
                        <div class="form__line">
                            <button class="btn btn_arrow-rt">Заказать</button>
                        </div>
                    {{ form_end(form) }}
                </div><!-- END sec-faq__col-rt -->
            </div><!-- END sec-faq__row -->

            <img class="sec-faq__girl" src="{{ asset('assets/img/sec-faq/woman.png') }}" alt="Мы готовы помочь">

        </div><!-- END sec-faq__container -->
    </div><!-- END sec-faq__front -->
</section><!-- END sec-faq -->
