<section class="sec-faq {{- scroll|default(false) ? ' js-sec-scroll' }}">
    <div class="sec-faq__back"></div>
    <div class="sec-faq__front">
        <div class="container sec-faq__container">
            <h2 class="sec-faq__title">Часто задаваемые вопросы</h2>
            <div class="sec-faq__row">
                <div class="sec-faq__col-lt">
                    <div class="sec-faq__tabs">
                        <nav class="sec-faq__tabs-head" id="sec-faq-tabs">
                            <a class="sec-faq__tabs-btn js-tabs-btn is-active" data-tab="faq-tab-01" role="button">Какими автомобилями вы занимаетесь</a>
                            <a class="sec-faq__tabs-btn js-tabs-btn" data-tab="faq-tab-02" role="button">Как часто нужно делать ТО?</a>
                            <a class="sec-faq__tabs-btn js-tabs-btn" data-tab="faq-tab-03" role="button">Что входит в ТО?</a>
                            <a class="sec-faq__tabs-btn js-tabs-btn" data-tab="faq-tab-04" role="button">Какие гарантии вы предоставляете?</a>
                            <a class="sec-faq__tabs-btn js-tabs-btn" data-tab="faq-tab-05" role="button">На что гарантия не распространятся?</a>
                            <a class="sec-faq__tabs-btn js-tabs-btn" data-tab="faq-tab-06" role="button">Могу ли я находится в ремонтной зоне?</a>
                        </nav>
                        <div class="sec-faq__tabs-body js-tabs-body">
                            <div class="sec-faq__tabs-item is-active js-tabs-item" id="faq-tab-01">
                                <div class="sec-faq__tabs-text js-scroll-y">
                                    <h3>Какими автомобилями вы занимаетесь</h3>
                                    <p>
                                        Техцентр "Автомагистр" специализируется на группах Nissan-Infiniti-Renault, Toyota-Lexus-Daihatsu-Scion.
                                        <br>
                                        Мы специально формируем наличие запчастей таким образом, чтобы вы могли осуществить полное обслуживание в один приезд.
                                    </p>
                                    <h4>Я хочу у вас обслуживаться, но у меня другая марка</h4>
                                    <p>
                                        Если вы владелец автомобиля, который не входит в профильный список, но он у вас японского или корейского производства, то мы с удовольствие возьмем его в работу.
                                        Но нужно понимать, что наш склад запчастей заточен именно на профильные марки автомобилей, поэтому мы не гарантируем ремонт в один приезд.
                                    </p>
                                </div>
                            </div><!-- END sec-faq__tabs-item -->

                            <div class="sec-faq__tabs-item js-tabs-item" id="faq-tab-02">
                                <div class="sec-faq__tabs-text js-scroll-y">
                                    <h3>Как часто нужно делать ТО?</h3>
                                    <p>Для каждого автомобиля производитель формирует карту технического обслуживания в которой указана периодичность прохождения ТО.<br>
                                        Но последнее время производители изменяют карту ТО таким образом, чтобы обслуживание автомобиля в гарантийный период был, как можно дешевле преследуя чисто маркетинговые цели.
                                        Что отрицательно сказывается на ресурсе автомобиля после истечения гарантийного срока.
                                        <h4>Какой оптимальный пробег для прохождения ТО?</h4>
                                        <p>Наиболее оптимальная карта ТО у компании Toyota или компании Nissan с поправкой на то, что Москва подходит по критерии "тяжелые условия эксплуатации</p>
                                        <ol>
                                            <li>Каждые 1000км самостоятельная визуальная проверка уровеней технических жикостей</li>
                                            <li>Каждые 10000км или раз в год полная диагностика автомобиля, замена масла ДВС, замена воздушного фильтра</li>
                                            <li>Каждые 10000км или два раза в год замена фильтра салона и дворников стеклоочистителя</li>
                                            <li>Каждые 40000 замена трансмиссионных жидкостей в МКПП, раздаточной коробке, редукторах</li>
                                            <li>Каждые 60000 замена масел АКПП и Вариатора</li>

                                        </ol>
                                </div>
                            </div><!-- END sec-faq__tabs-item -->
                            <div class="sec-faq__tabs-item js-tabs-item" id="faq-tab-03">
                                <div class="sec-faq__tabs-text js-scroll-y">
                                    <h3>Что входит в техническое обслуживание(ТО)?</h3>
                                    <p>
                                        В регулярное техническое обслуживание входит регламентная замена технических жидкостей, фильтров, свечей и
                                        других расходных материалов. <br>
                                    </p>
                                    <h4>Входит ли в ТО диагностика?</h4>
                                    <p>Да, входит. Это самая важная часть технического обслуживания, т.к. своевременно выявление проблем обеспечивает безопасность водителя и пассажиров,
                                    а также избавляет от дополнительных трат.</p>
                                    <h4>Могу ли я привезти свои материалы для ТО</h4>
                                    <p>Да, вы можете предоставить для проведения ТО свои материалы, но тогда гарантию на запчасти несет вас поставщик.<br>
                                        Гарантия на запчасти купленные у нас безусловная. Мы устраняем проблему без предварительных экспертиз.
                                    </p>
                                </div>
                            </div><!-- END sec-faq__tabs-item -->
                            <div class="sec-faq__tabs-item js-tabs-item" id="faq-tab-04">
                                <div class="sec-faq__tabs-text js-scroll-y">
                                    <h3>Какие гарантии вы предоставляете?</h3>
                                    <p>
                                        Техцентр "Автомагистр" устанавливает следующие гарантийные сроки</p>
                                    <ol>
                                        <li>Гарантия на работы 1 год без ограничения пробега</li>
                                        <li>Гарантия на ремонт агрегатов 6 месяцев или 10 000км в зависимости от того, что наступит раньше</li>
                                        <li>Гарантия на оригинальные запчасти 1 год или пробег 30 000 км в зависимости от того, что наступит раньше</li>
                                        <li>Гарантия на неоригинальные запчасти 1 месяц 2 000 км в зависимости от того, что наступит раньше</li>
                                        <li>На некоторые бренды производителей действует расширенная гарантия установленная производителем.</li>
                                    </ol>
                                    <h4>Что делать если наступил гарантийный случай?</h4>
                                    <p>Если у вас малейшие подозрения о неисправности, подозрения в низком качестве предоставленных запчастей, то вас нужно в свободной форме
                                        (по телефону, по почте, личным присутствием) обратиться
                                    к мастеру приемщику. У нас действует безусловная гарантия и мы приложим все усилия, чтобы устранить возникшую проблему</p>

                                </div>
                            </div><!-- END sec-faq__tabs-item -->
                            <div class="sec-faq__tabs-item js-tabs-item" id="faq-tab-05">
                                <div class="sec-faq__tabs-text js-scroll-y">
                                    <h3>На что гарантия не распространятся?</h3>
                                    <p>
                                        Гарантия  не предоставляется  на  запчасти, подверженные естественному износу, такие как:
                                    </p>
                                    <ol>
                                        <li>фильтрующие элементы воздушных, масляных и топливных фильтров;</li>
                                        <li>свечи зажигания;</li>
                                        <li>контакты распределителя зажигания;</li>
                                        <li>свечи накаливания;</li>
                                        <li>конденсаторы;</li>
                                        <li>лампы накаливания (обрыв нити накаливания);</li>
                                        <li>тормозные колодки, тормозные накладки;</li>
                                        <li>диски сцепления;</li>
                                        <li>ремни;</li>
                                        <li>щетки стеклоочистителя и профильные резинки щеток;</li>
                                        <li>шланги систем охлаждения и шланги, по которым циркулирует горячий антифриз;</li>
                                        <li>резиносодержащие элементы ходовой части автомобиля;</li>
                                        <li>электрические и электронно-содержащие детали и узлы;</li>
                                    </ol>

                                </div>
                            </div><!-- END sec-faq__tabs-item -->
                            <div class="sec-faq__tabs-item js-tabs-item" id="faq-tab-06">
                                <div class="sec-faq__tabs-text js-scroll-y">
                                    <h3>Могу ли я находится в ремонтной зоне?</h3>
                                    <p>
                                        У нас свободный доступ в ремзону, где вы можете наблюдать за ремонтом автомобиля и подсказывать мастеру, как лучше провести обслуживание.
                                        <br>
                                        Но находясь в ремзоне вы самостоятельно несете ответственность за свою жизнь, здоровье и имущество. Мы не несем ответственности, если вы получите травмы или увечия.
                                        <br>
                                        Так же не несем ответственности если случайно будет испорчена ваша одежда, телефоны и иное имущество, в случае разлива технических жидкостей, попадания сварки и других возможных рисков.
                                        <br>
                                        <b>Находясь в ремзоне вы берете все риски на себя</b>
                                    </p>
                                </div>
                            </div><!-- END sec-faq__tabs-item -->
                        </div><!-- END sec-faq__tabs-body -->
                    </div><!-- END sec-faq__tabs -->
                </div><!-- END sec-faq__col-lt -->

                <div class="sec-faq__col-rt">
                    {{ form_start(form, {
                        'attr': {
                            'class': 'form sec-faq__form'
                        }
                    }) }}
                        <h3 class="form__title">Мы готовы помочь</h3>
                        <div class="form__lead">Если у вас остались вопросы, задайте их прямо сейчас:</div>
                        <div class="form__line">
                            {{ form_widget(form.name, {'attr': {'class': 'form__input', 'placeholder': 'Имя'}}) }}
                        </div>
                        <div class="form__line">
                            {{ form_widget(form.email, {'attr': {'class': 'form__input', 'placeholder': 'E-mail'}}) }}
                        </div>
                        <div class="form__line">
                            {{ form_widget(form.question, {'attr': {'class': 'form__text', 'placeholder': 'Ваш вопрос'}}) }}
                        </div>
                        <div class="form__line">
                            <button class="btn btn_arrow-rt">Заказать</button>
                        </div>
                    {{ form_end(form) }}
                </div><!-- END sec-faq__col-rt -->
            </div><!-- END sec-faq__row -->

            <img class="sec-faq__girl" src="{{ asset('assets/img/sec-faq/woman.png') }}" alt="Мы готовы помочь">

        </div><!-- END sec-faq__container -->
    </div><!-- END sec-faq__front -->
</section><!-- END sec-faq -->
