<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
<head>
    <!-- Pages tittle ============================================================================ -->
    <title>Атомагистр - Ремонт и обслуживание Nissan в Москве</title>
    <!-- Necessary pages settings ================================================================ -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- SEO basic pages settings ================================================================ -->
    <meta name="robots" content="noindex, nofollow">
    <!--meta name="robots"   content="index, follow"-->
    <meta name="keywords" content="атомагистр, автосервис в Москве, магазин автозапчастей, авторемонт, диагностика">
    <meta name="description" content="Атомагистр - автосервис в Москве, магазин автозапчастей. Диагностика, техническое обслуживание авторемонт.">
    <!-- SEO advanced pages settings ============================================================= -->
    <meta property="og:url" content="http://www.automagistre.ru">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Атомагистр - автосервис в Москве, магазин автозапчастей">
    <meta property="og:image" content="http://www.automagistre.ru/og-image_1200x1200.jpg">
    <meta property="og:site_name" content="Атомагистр - автосервис в Москве, магазин автозапчастей">
    <meta property="og:description" content="Атомагистр - автосервис в Москве, магазин автозапчастей">
    <!-- Favicon ================================================================================= -->
    <link rel="icon" type="img/png" href="{{ asset('assets/img/favicons/favicon-16x16.png') }}" sizes="16x16"/>
    <link rel="icon" type="img/png" href="{{ asset('assets/img/favicons/favicon-32x32.png') }}" sizes="32x32"/>
    <link rel="apple-touch-icon" href="{{ asset('assets/img/favicons/apple-touch-icon-152x152.png') }}" sizes="152x152"/>
    <!-- Styles ================================================================================== -->
    <link rel="stylesheet" href="{{ asset('assets/css/main.min.css') }}"/><!-- Main styles from .less -->
    <!--link rel="stylesheet" href="css/modify.css"/--><!-- Fast dev additions -->
</head>

<body class="no-start-animations">

<!--[if lte IE 9]>
<div class="stop-modal">
    <div class="stop-modal__inn">
        <img class="stop-modal__img" src="{{ asset('assets/img/old-browsers.jpg') }}" alt="Old browsers">
        <div class="stop-modal__txt">
            <b>Вы используете очень <strong>устаревший</strong> браузер, котороый не обеспечивает безошибочную
                работу современных сайтов</b><br> Пожалуйста,<br>
            <a href="http://browsehappy.com" rel="nofollow">обновите ваш браузер</a>
            <br>
            для получения возможности полноценно пользоваться интернетом, миллионы людей уже давно сделали это
        </div>
    </div>
</div>
<![endif]-->
<noscript>
    <div class="stop-modal">
        <div class="stop-modal__inn">
            <img class="stop-modal__img" src="{{ asset('assets/img/no-javascript.jpg') }}" alt="JavaScript">
            <div class="stop-modal__txt">
                <strong>Похоже, что JavaScript отключен в вашем браузере.</strong><br>Вы должны включить JavaScript,<br>
                в настройках браузера, для того, чтобы полноценно пользоваться интернетом в общем<br> и нашим сайтом в частности.
            </div>
        </div>
    </div>
</noscript>


<div class="site-wrapper">

    {% block body %}
        {% block header %}
            {# HEADER ================================================================ #}
            <header class="site-header" id="site-header">
                <div class="sh-line" id="header-line">
                    <div class="sh-line__row sh-line__for-comp">
                        <div class="sh-line__col-lt">
                            <div class="sh-logo">
                                <img class="sh-logo__img sh-logo__img_white" src="{{ asset('assets/img/logo_magistr_white.svg') }}" alt="Атомагистр">
                                <img class="sh-logo__img sh-logo__img_dark" src="{{ asset('assets/img/logo_magistr_dark.svg') }}" alt="Атомагистр">
                                <a class="sh-logo__link" href="/"></a>
                            </div>
                            <div class="sh-drop">
                                <div class="sh-drop__note">Клубный автосервис:</div>
                                <nav class="sh-drop__links">
                                    <a class="sh-drop__link" href="#">Toyota</a>
                                    <a class="sh-drop__link" href="#">Mazda</a>
                                    <a class="sh-drop__link" href="#">Lexus</a>
                                    <a class="sh-drop__link is-active">Nissan</a>
                                </nav>
                            </div>
                        </div>
                        <div class="sh-line__col-cn">
                            <ul class="sh-switch">
                                <li class="sh-switch__item">
                                    <a class="sh-switch__link is-active" href="#">Автосервис в Москве</a>
                                </li>
                                <li class="sh-switch__item">
                                    <a class="sh-switch__link" href="#">Магазин запчастей</a>
                                </li>
                            </ul>
                        </div>
                        <div class="sh-line__col-rt">
                            <ul class="sh-links">
                                <li class="sh-links__item">
                                    <a class="sh-links__link" href="#">Мой гараж</a>
                                </li>
                                <li class="sh-links__item">
                                    <a class="sh-links__link" href="#">Контакты</a>
                                </li>
                                <li class="sh-links__item">
                                    <a class="sh-links__link is-active" href="tel:+74959848182">+7 (495) 984 81 82</a>
                                    <span class="sh-links__link-note">Ежедневно, 9:00-23:00</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sh-line__row sh-line__for-mob">
                        <div class="sh-mob__col-lt">
                            <a class="sh-mob__logo" href="/">
                                <img class="sh-mob__logo-img sh-logo__img_white" src="{{ asset('assets/img/logo_magistr-mob_white.svg') }}" alt="Атомагистр">
                                <img class="sh-mob__logo-img sh-logo__img_dark" src="{{ asset('assets/img/logo_magistr-mob_dark.svg') }}" alt="Атомагистр">
                            </a>
                        </div>
                        <div class="sh-mob__col-rt">
                            <a class="sh-mob__phone" href="tel:+749500000000"></a>
                            <a class="mobmenu-btn sh-mob__menu-btn js-mobmenu-toggle" role="button">
                                <span class="_top"></span><span class="_middle"></span><span class="_bottom"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="sh-mob__drop" id="mob-drop">
                    <nav class="sh-mob__menu">
                        <a class="sh-mob__link" href="#">Автосервис в Москве</a>
                        <a class="sh-mob__link" href="#">Магазин запчастей</a>
                        <a class="sh-mob__link" href="#">Мой гараж</a>
                        <a class="sh-mob__link" href="#">Контакты</a>
                        <a class="sh-mob__link" href="#">Клубный автосервис: Toyota</a>
                        <a class="sh-mob__link" href="#">Клубный автосервис: Mazda</a>
                        <a class="sh-mob__link" href="#">Клубный автосервис: Lexus</a>
                        <a class="sh-mob__link" href="#">Клубный автосервис: Nissan</a>
                    </nav>
                </div>
            </header><!-- END site-header -->
        {% endblock %}

        {% block aside %}
            {# SIDE ================================================================== #}
            <aside class="site-side">
                <ul class="navbar site-side__nav">
                    <li class="navbar__item">
                        <a class="navbar__link icon_n-cars" href="{{ path('www_switch') }}">Выбрать другую модель</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link icon_n-tool" href="#">Глянуть, что тут по чем</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link icon_n-comp" href="{{ path('www_diagnostics', {'type': 'comp'}) }}">Компьютерная диагностика</a>
                        <a class="navbar__link icon_n-dash is-free" href="{{ path('www_diagnostics', {'type': 'free'}) }}">Бесплатная диагностика</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link icon_n-serv" href="{{ path('www_maintenance') }}">Техническое обслуживание</a>
                    </li>
                </ul>
            </aside><!-- END site-side-->
        {% endblock %}
    {% endblock %}

    {%- block content %}{% endblock -%}

    {% block footer %}
        <footer class="site-footer">
            <div class="sf-top">
                <div class="container">
                    <div class="sf-top__row">
                        <div class="sf-top__col-lt">
                            <div class="sf-logo">
                                <img class="sf-logo__img" src="{{ asset('assets/img/logo_magistr_dark.svg') }}" alt="Атомагистр">
                                <a class="sf-logo__link" href="/"></a>
                            </div>
                            <div class="sf-drop">
                                <div class="sf-drop__note">Клубный автосервис:</div>
                                <nav class="sf-drop__links">
                                    <a class="sf-drop__link" href="#">Toyota</a>
                                    <a class="sf-drop__link" href="#">Mazda</a>
                                    <a class="sf-drop__link" href="#">Lexus</a>
                                    <a class="sf-drop__link is-active">Nissan</a>
                                </nav>
                            </div>
                        </div>
                        <div class="sf-top__col-rt">
                            <nav class="sf-nav">
                                <a class="sf-nav__link is-active" href="{{ path('www_maintenance') }}">Сервис в Москве</a>
                                <a class="sf-nav__link" href="#">Магазин запчастей</a>
                                <a class="sf-nav__link" href="{{ path('www_corporates') }}">Корпоративным клиентам</a>
                                <a class="sf-nav__link" href="#">Мой гараж</a>
                                <a class="sf-nav__link" href="#">Блог</a>
                                <a class="sf-nav__link" href="#">Контакты</a>
                            </nav>
                            <div class="sf-top__info">
                                <div class="sf-top__text">
                                    ООО «АвтоМагистр». ИНН 4124141413224
                                </div>
                                <div class="sf-creator sf-top__creator">
                                    <div class="sf-creator__note">Сайт разработан:</div>
                                    <a class="sf-creator__link" href="http://spacewell.ru" target="_blank">
                                        <img class="sf-creator__img" src="{{ asset('assets/img/logo_space-well_red.svg') }}" alt="Space Well">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- END container -->
            </div>
            <div class="sf-btm">
                <div class="container">
                    <div class="sf-btm__row">
                        <div class="sf-btm__col">Все права защищены © АвтоМагистр</div>
                        <div class="sf-btm__col">
                            <a href="#">Политика конфиденциальности</a>
                        </div>
                    </div>
                </div><!-- END container -->
            </div>
            <a class="scroll-top js-scroll-top" title="Вверх" role="button"></a>
        </footer><!-- END site-footer -->
    {% endblock %}
</div><!-- END site-wrapper -->


<!-- SCRIPTS =============================================================== -->
<script src="{{ asset('assets/js/libs.min.js') }}"></script>
<script src="{{ asset('assets/js/main.min.js') }}"></script>

</body>
</html>
