{% extends 'www/layout.html.twig' %}

{% block content %}
    <main class="site-main">

        <section class="sec-intro">
            <div class="sec-intro__back" style="background-image: url({{ asset('assets/img/backgrounds/bg_maintenance.jpg') }})"></div>
            <div class="sec-intro__front">
                <div class="container">
                    <h1 class="sec-intro__title">Техническое обслуживание <br> Nissan в Москве</h1>
                    <a class="btn sec-intro__btn js-scroll-to" data-scroll="#costing" role="button">К калькулятору</a>
                    <ul class="sec-intro__features">
                        <li class="feature sec-intro__feature">
                            <i class="feature__icon icon-f_star"></i>
                            <h3 class="feature__title">Используем только качественное</h3>
                            <div class="feature__note">Полностью бесплатная диагностика и калькуляция работ. А когда и где ремонтировать - решать вам.</div>
                        </li>
                        <li class="feature sec-intro__feature">
                            <i class="feature__icon icon-f_speed"></i>
                            <h3 class="feature__title">Управимся <br> за 29 минут</h3>
                            <div class="feature__note">Полностью бесплатная диагностика и калькуляция работ. А когда и где ремонтировать - решать вам.</div>
                        </li>
                        <li class="feature sec-intro__feature">
                            <i class="feature__icon icon-f_search"></i>
                            <h3 class="feature__title">Дополнительные <br> услуги</h3>
                            <div class="feature__note">Полностью бесплатная диагностика и калькуляция работ. А когда и где ремонтировать - решать вам.</div>
                        </li>
                        <li class="feature sec-intro__feature">
                            <i class="feature__icon icon-f_binocul"></i>
                            <h3 class="feature__title">Наблюдайте <br> за работой</h3>
                            <div class="feature__note">Полностью бесплатная диагностика и калькуляция работ. А когда и где ремонтировать - решать вам.</div>
                        </li>
                    </ul>
                </div>
            </div>
        </section><!-- END sec-intro -->

        <section class="sec-costing" id="costing">
            <div class="container">
                <h2 class="sec-costing__title">Калькулятор стоимости ТО</h2>
                <div class="sec-costing__lead">Запишитесь на техническое обслуживание за 60 секунд и пройдите его за 29 минут!</div>
            </div>

            <div class="sec-costing__stage steps" id="cs-stage">
                <div class="sec-costing__svg-base">
                    <div class="sec-costing__svg-wrap">
                        <svg class="sec-costing__svg" id="cs-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="1160px" height="138px" viewBox="0 0 1160 138">
                            <rect x="178" y="80" fill="#B7BCC1" width="2" height="58"/>
                            <g class="cs-podium">
                                <rect x="140" y="121" fill="#F5F6F8" width="78" height="17"/>
                                <path fill="#B7BCC1" d="M139,120v1v1v2v2v12h2v-12h76v12h2v-12v-2v-2v-1v-1H139z M217,124h-76v-2h76V124z"/>
                            </g>
                            <g class="cs-load">
                                <path fill="#F5F6F8" d="M313,71.989C313,78.617,307.627,85,301,85h-75c-6.627,0-12-6.383-12-13.011v-24 C214,41.362,219.373,37,226,37h75c6.627,0,12,4.362,12,10.989V71.989z"/>
                                <path fill="#B7BCC0" d="M301,86h-75c-6.925,0-13-6.547-13-14.011v-24C213,41.042,218.467,36,226,36h75c7.533,0,13,5.042,13,11.989 v24C314,79.453,307.925,86,301,86z M226,38c-6.374,0-11,4.201-11,9.989v24C215,78.388,220.14,84,226,84h75 c5.86,0,11-5.612,11-12.011v-24c0-5.788-4.626-9.989-11-9.989H226z"/>
                                <rect class="cs-load__bar" x="226" y="65" fill="#B7BCC0" width="10" height="6"/>
                                <path fill="#B7BCC0" d="M301,72h-76v-8h76V72z M227,70h72v-4h-72V70z"/>
                                <path fill="#B7BCC0" d="M225.144,49.236h1.451v7.016h3.715v1.379h-5.166V49.236z M234.948,49.104c2.453,0,4.305,1.715,4.305,4.33c0,2.519-1.852,4.33-4.305,4.33s-4.293-1.715-4.293-4.33C230.655,51,232.413,49.104,234.948,49.104z M234.948,56.384c1.734,0,2.771-1.295,2.771-2.95c0-1.739-1.215-2.95-2.771-2.95c-1.58,0-2.76,1.211-2.76,2.95C232.188,55.113,233.403,56.384,234.948,56.384z M243.08,49.212h1.274l3.492,8.419H246.3l-0.861-2.147h-3.526l-0.861,2.147h-1.463L243.08,49.212z M242.467,54.106h2.417l-1.203-2.986L242.467,54.106z M249.088,49.236h0.153c0.496,0,1.675-0.036,2.276-0.036c3.303,0,4.636,1.931,4.636,4.149c0,2.363-1.581,4.306-4.73,4.306c-0.496,0-1.416-0.024-2.17-0.024h-0.165V49.236z M250.539,50.616v5.637c0.401,0.024,0.731,0.024,0.932,0.024c1.993,0,3.149-1.151,3.149-2.926c0-1.691-1.156-2.771-3.125-2.771C251.152,50.58,250.869,50.592,250.539,50.616z M258.009,49.236h1.451v8.396h-1.451V49.236z M267.825,57.632l-4.542-5.817v5.817h-1.356v-8.396h1.156l4.541,5.841v-5.841h1.356v8.396H267.825z M274.706,53.11h3.35v3.478c-0.731,0.744-2.064,1.175-3.09,1.175c-2.701,0-4.305-1.715-4.305-4.33c0-2.411,1.592-4.33,4.116-4.33c1.18,0,1.981,0.312,2.654,0.852l-0.613,1.175c-0.413-0.396-1.144-0.647-1.864-0.647c-1.592,0-2.76,1.079-2.76,2.95c0,1.787,1.121,2.95,2.795,2.95c0.637,0,1.404-0.275,1.71-0.575V54.49h-1.993V53.11z M280.183,55.845c0.507,0,0.861,0.468,0.861,0.888c0,0.492-0.354,0.959-0.861,0.959c-0.59,0-0.944-0.468-0.944-0.959C279.239,56.313,279.593,55.845,280.183,55.845z M284.159,55.845c0.507,0,0.861,0.468,0.861,0.888c0,0.492-0.354,0.959-0.861,0.959c-0.589,0-0.943-0.468-0.943-0.959C283.216,56.313,283.57,55.845,284.159,55.845z M288.136,55.845c0.507,0,0.861,0.468,0.861,0.888c0,0.492-0.354,0.959-0.861,0.959c-0.59,0-0.944-0.468-0.944-0.959C287.192,56.313,287.546,55.845,288.136,55.845z M292.113,55.845c0.507,0,0.861,0.468,0.861,0.888c0,0.492-0.354,0.959-0.861,0.959c-0.59,0-0.944-0.468-0.944-0.959C291.169,56.313,291.523,55.845,292.113,55.845z M296.09,55.845c0.507,0,0.861,0.468,0.861,0.888c0,0.492-0.354,0.959-0.861,0.959c-0.59,0-0.943-0.468-0.943-0.959C295.146,56.313,295.5,55.845,296.09,55.845z M300.067,55.845c0.507,0,0.861,0.468,0.861,0.888c0,0.492-0.354,0.959-0.861,0.959c-0.59,0-0.944-0.468-0.944-0.959C299.123,56.313,299.477,55.845,300.067,55.845z"/>
                            </g>
                            <g class="cs-info">
                                <circle class="cs-info__back" fill="transparent" cx="179.012" cy="60.045" r="28.545"/>
                                <circle class="cs-info__front" fill="#E2E9EE" cx="179.024" cy="60.249" r="20.147"/>
                                <path class="cs-info__icon" fill="#FFFFFF" d="M176,48.136c0-0.321-0.026-0.575,0.209-0.81c0.235-0.234,0.37-0.326,0.691-0.326h4.754c0.322,0,0.678,0.092,0.914,0.326c0.235,0.236,0.432,0.489,0.432,0.81v3.565c0,0.322-0.196,0.656-0.431,0.89c-0.236,0.235-0.593,0.408-0.915,0.408H176.9c-0.322,0-0.456-0.173-0.691-0.408c-0.235-0.234-0.209-0.568-0.209-0.89V48.136zM185,71.906c0,0.322-0.008,0.553-0.243,0.789c-0.235,0.234-0.404,0.305-0.726,0.305h-9.508c-0.322,0-0.768-0.071-1.003-0.305c-0.235-0.236-0.521-0.467-0.521-0.789v-2.377c0-0.322,0.285-0.771,0.521-1.006S174.202,68,174.524,68H176v-7h-1.476c-0.322,0-0.768-0.013-1.003-0.248S173,60.343,173,60.021v-2.377c0-0.322,0.285-0.828,0.521-1.063S174.202,56,174.524,56h7.131c0.322,0,0.679,0.346,0.914,0.581S183,57.322,183,57.644V68h1.032c0.322,0,0.49,0.288,0.726,0.523S185,69.207,185,69.529V71.906z"/>
                            </g>
                            <g class="cs-box_front">
                                <rect x="498" y="91" fill="#FFFFFF" width="33" height="47"/>
                                <rect x="497" y="91" fill="#B7BCC0" width="2" height="47"/>
                                <polygon fill="#B7BCC0" points="531,96 503,96 503,97 503,98 503,138 505,138 505,98 531,98 	"/>
                            </g>
                            <g class="cs-box_top">
                                <rect x="498" y="57" fill="#FFFFFF" width="38" height="26"/>
                                <path fill="#B7BCC0" d="M537,84h-40V56h40V84z M499,82h36V58h-36V82z"/>
                                <rect x="502" y="83" fill="#FFFFFF" width="30" height="5"/>
                                <path fill="#B7BCC0" d="M533,89h-32v-7h32V89z M503,87h28v-3h-28V87z"/>
                                <rect x="494" y="88" fill="#FFFFFF" width="167" height="3"/>
                                <path fill="#B7BCC0" d="M662,92H493v-5h169V92z M495,90h165v-1H495V90z"/>
                                <path fill="#B7BCC0" d="M527.104,68.358c-0.286-2.28-1.252-4.236-2.938-5.81c-1.381-1.29-3.019-2.077-4.888-2.371c-0.275-0.043-0.553-0.078-0.829-0.116c-0.396,0-0.793,0-1.188,0c-0.069,0.012-0.137,0.028-0.205,0.038c-0.347,0.048-0.698,0.077-1.042,0.146c-2.066,0.411-3.837,1.375-5.278,2.911c-1.969,2.1-2.913,4.598-2.802,7.482c0.055,1.445,0.42,2.815,1.111,4.084c1.408,2.588,3.563,4.187,6.452,4.785c0.304,0.063,0.613,0.103,0.92,0.155c0.55,0,1.099,0,1.648,0c0.048-0.012,0.097-0.029,0.146-0.038c0.483-0.086,0.976-0.138,1.449-0.261C524.52,78.094,527.729,73.355,527.104,68.358z M525.495,70.775c-0.009,0.136-0.079,0.186-0.204,0.227c-2.322,0.754-3.846,2.302-4.539,4.641c-0.146,0.491-0.179,1.015-0.251,1.526c-0.015,0.103-0.042,0.157-0.138,0.195c-0.577,0.232-1.169,0.405-1.783,0.506c-0.112,0.019-0.171-0.005-0.233-0.101c-1.089-1.677-2.632-2.659-4.602-2.961c-0.809-0.124-1.62-0.08-2.417,0.114c-0.128,0.031-0.204,0.012-0.27-0.099c-0.24-0.4-0.48-0.798-0.727-1.193c-0.077-0.125-0.055-0.208,0.038-0.317c0.86-1.016,1.381-2.188,1.544-3.508c0.188-1.507-0.107-2.924-0.887-4.23c-0.099-0.165-0.102-0.276,0.02-0.417c0.3-0.349,0.591-0.704,0.884-1.059c0.073-0.088,0.143-0.109,0.263-0.067c2.693,0.958,5.608,0.155,7.425-2.046c0.084-0.102,0.156-0.127,0.273-0.083c0.375,0.142,0.751,0.283,1.13,0.417c0.188,0.066,0.301,0.166,0.218,0.376c-0.096,1.881,0.447,3.534,1.708,4.935c0.678,0.754,1.499,1.308,2.447,1.667c0.153,0.058,0.207,0.136,0.192,0.292C525.55,69.984,525.521,70.379,525.495,70.775z M512.514,73.806c1.281-0.071,2.47,0.22,3.556,0.913c0.848,0.542,1.489,1.276,1.977,2.15c0.293,0.526,0.891,0.798,1.425,0.655c0.589-0.158,0.912-0.645,0.86-1.34c-0.054-0.737,0.027-1.455,0.262-2.153c0.508-1.517,1.426-2.696,2.857-3.452c0.118-0.062,0.229-0.14,0.332-0.226c0.482-0.398,0.562-1.08,0.182-1.58c-0.301-0.397-0.72-0.524-1.202-0.504c-1.403,0.055-2.676-0.326-3.802-1.171c-0.679-0.51-1.202-1.156-1.615-1.898c-0.309-0.555-0.938-0.818-1.498-0.635c-0.553,0.181-0.852,0.721-0.787,1.377c0.026,0.265,0.035,0.539,0.002,0.803c-0.256,2.111-1.261,3.73-3.152,4.763c-0.422,0.229-0.715,0.557-0.712,1.295C511.198,73.283,511.801,73.845,512.514,73.806z"/>
                            </g>
                            <g class="cs-box_door">
                                <rect x="503" y="96" fill="#FFFFFF" width="28" height="42"/>
                                <path fill="#B7BCC0" d="M503,96v42h28V96H503z M529,98v2h-24v-2H529z M505,128v-2h24v2H505z M529,130v2h-24v-2H529z M505,124v-2h24v2H505z M505,120v-2h24v2H505z M505,116v-2h24v2H505z M505,112v-2h24v2H505z M505,108v-2h24v2H505z M505,104v-2h24v2H505z M505,136v-2h24v2H505z"/>
                            </g>
                            <g class="cs-service">
                                <circle class="cs-service__back" fill="transparent" cx="579.012" cy="30.045" r="28.545"/>
                                <circle class="cs-service__front" fill="#E2E9EE" cx="579.024" cy="30.249" r="20.147"/>
                                <path class="cs-service__icon" fill="#FFFFFF" d="M565.777,24.998l6.983-6.984l0.698,0.698l-6.983,6.984L565.777,24.998z M567.014,26.235l6.982-6.985l0.699,0.698l-6.983,6.984L567.014,26.235z M585.139,18.713l0.698-0.699l6.984,6.983l-0.699,0.7L585.139,18.713z M590.884,26.93l-6.984-6.983l0.698-0.698l6.985,6.983L590.884,26.93z M586.882,30.934l3.492-3.491l-6.983-6.985l-3.492,3.492l2.514,2.514c-0.649,0.65-1.808,1.81-3.115,3.117c-1.308-1.309-2.467-2.467-3.117-3.117l2.515-2.514l-3.491-3.492l-6.984,6.985l3.491,3.491l2.516-2.515c0.648,0.648,1.808,1.808,3.116,3.116c-2.076,2.075-4.075,4.075-4.726,4.725c-0.825-0.164-1.728,0.06-2.341,0.674c-0.486,0.484-0.753,1.129-0.753,1.812c0,0.687,0.267,1.332,0.753,1.814c0.483,0.483,1.128,0.753,1.812,0.753c0.684,0,1.329-0.268,1.813-0.753c0.638-0.639,0.865-1.535,0.687-2.359c0.669-0.669,2.654-2.654,4.71-4.71c2.057,2.057,4.042,4.041,4.71,4.71c-0.178,0.824,0.048,1.719,0.687,2.359c0.484,0.483,1.128,0.753,1.813,0.753s1.33-0.268,1.813-0.753c0.486-0.483,0.752-1.128,0.752-1.814c0-0.682-0.268-1.328-0.752-1.812c-0.614-0.614-1.515-0.838-2.343-0.674c-0.649-0.65-2.651-2.652-4.724-4.725c1.308-1.308,2.467-2.468,3.116-3.116L586.882,30.934zM573.2,39.861c-0.596,0.597-1.634,0.597-2.23,0c-0.298-0.298-0.462-0.694-0.462-1.116c0-0.421,0.164-0.816,0.462-1.113c0.299-0.299,0.694-0.463,1.115-0.463c0.421,0,0.816,0.167,1.115,0.463C573.815,38.246,573.815,39.246,573.2,39.861zM587.621,37.632c0.298,0.298,0.461,0.694,0.461,1.113c0,0.422-0.164,0.818-0.461,1.116c-0.596,0.597-1.633,0.597-2.229,0c-0.616-0.615-0.616-1.616-0.001-2.231c0.298-0.298,0.695-0.462,1.115-0.462C586.927,37.17,587.322,37.335,587.621,37.632z"/>
                            </g>
                            <g class="cs-lights">
                                <path fill="#B7BCC0" d="M1016.855,92H1013v-1.929c2-0.767,3.855-3.071,3.855-7.071H1013v-1.316c0-0.949-0.423-1.684-1.11-1.684h-9.931c-0.683,0-0.959,0.734-0.959,1.684V83h-4.007c0,4,2.007,6.304,4.007,7.071V92h-4.007c0,3,2.007,5.932,4.007,6.7v2.3h-4.007c0,3,2.007,5.561,4.007,6.328v1.968c0,0.948,0.276,1.704,0.959,1.704H1006v27h2v-27h3.89c0.688,0,1.11-0.756,1.11-1.704v-1.968c2-0.768,3.855-3.328,3.855-6.328H1013v-2.3C1015,97.932,1016.855,95,1016.855,92z"/>
                                <circle class="cs-lights__red" fill="#FF0000" cx="1007" cy="87.174" r="3.264"/>
                                <circle class="cs-lights__yel" fill="#FFE000" cx="1007" cy="95.646" r="3.264"/>
                                <circle class="cs-lights__grn" fill="#00FF18" cx="1007" cy="104.181" r="3.264"/>
                            </g>
                            <g class="cs-sign">
                                <circle class="cs-sign__back" fill="transparent" cx="1053.012" cy="62.045" r="28.545"/>
                                <circle class="cs-sign__front" fill="#E2E9EE" cx="1053.024" cy="62.249" r="20.147"/>
                                <path fill="#FFFFFF" d="M1043.491,64.527c-0.164-0.164-0.246-0.41-0.246-0.574s0.082-0.41,0.246-0.574l1.148-1.149c0.329-0.328,0.821-0.328,1.149,0l0.082,0.082l4.514,4.842c0.165,0.165,0.411,0.165,0.574,0l10.998-11.408h0.082l0,0c0.328-0.328,0.82-0.328,1.148,0l1.149,1.149c0.329,0.328,0.329,0.82,0,1.149l0,0l-13.132,13.624c-0.163,0.164-0.327,0.246-0.573,0.246c-0.247,0-0.411-0.082-0.574-0.246l-6.402-6.894L1043.491,64.527L1043.491,64.527z"/>
                            </g>
                            <g class="cs-car">
                                <path class="cs-car__body" fill="#888888" d="M0,126.051c0,3.455,2.358,4.71,2.358,4.71l6.156,1.159l0.154,0.013c-0.002-0.014-0.004-0.026-0.004-0.043c0-4,3.256-7.254,7.256-7.254c4.002,0,7.255,3.255,7.255,7.254c0,0.286-0.021,0.586-0.063,0.911c-0.013,0.094-0.033,0.187-0.05,0.279l36.011,0.725c0,0,0.014,0,0.018,0c-0.117-0.421-0.196-0.855-0.234-1.305c-0.017-0.2-0.03-0.404-0.03-0.61c0-4,3.254-7.255,7.255-7.255s7.254,3.256,7.254,7.255c0,0.285-0.02,0.584-0.063,0.911c-0.018,0.152-0.05,0.302-0.077,0.452c2.473-0.282,4.613-0.705,5.725-1.334c1.09-1.773,1.234-4.321,1.09-4.854c-0.143-0.532-0.389-1.55-1.17-3.647c-0.782-2.096-15.458-5.155-16.941-5.188c-5.034-2.129-13.596-6.221-15.499-6.881c-11.249-3.898-22.993-0.707-25.597-0.11c-2.604,0.599-10.124,3.782-12.07,4.384c-1.356,0.416-4.378,0.921-6.084,1.188c-0.709,0.111-1.231,0.719-1.231,1.439v4.47C1.416,122.721-0.001,123.747,0,126.051z M35.409,111.41c0,0,10.774,0.164,16.121,5.018c0,0-1.194,0.451-0.945,2.467l-13.448-0.412L35.409,111.41z M21.426,115.646l1.811-2.92c0,0,3.618-1.398,9.952-1.315l1.11,6.867l-12.255-0.412L21.426,115.646z M16.132,115.796c1.221-0.635,3.271-1.64,5.831-2.658l-3.414,4.688h-3.414C14.986,117.003,15.391,116.182,16.132,115.796z"/>
                                <path class="cs-car__wheel" fill="#888888" d="M60.041,131.888c0,0.173,0.012,0.347,0.025,0.515c0.263,3.096,2.854,5.525,6.017,5.525c3.076,0,5.611-2.303,5.985-5.279c0.033-0.25,0.055-0.502,0.055-0.761c0-3.336-2.706-6.041-6.042-6.041C62.744,125.847,60.04,128.552,60.041,131.888z M69.83,131.375h-1.736c-0.048-0.189-0.125-0.366-0.22-0.531l1.23-1.231C69.488,130.117,69.739,130.718,69.83,131.375z M69.102,134.179l-1.233-1.234c0.097-0.16,0.17-0.339,0.22-0.523h1.75C69.742,133.076,69.484,133.677,69.102,134.179z M66.604,133.897c0.186-0.048,0.362-0.118,0.524-0.212l1.228,1.229c-0.503,0.379-1.098,0.635-1.752,0.727V133.897z M66.604,128.142c0.658,0.091,1.26,0.345,1.765,0.73l-1.231,1.229c-0.165-0.099-0.343-0.172-0.533-0.223V128.142z M65.559,128.14l-0.002,1.739c-0.188,0.05-0.369,0.124-0.533,0.222l-1.229-1.229C64.299,128.486,64.9,128.231,65.559,128.14L65.559,128.14z M63.807,134.914l1.228-1.229c0.161,0.095,0.337,0.164,0.524,0.213v1.74C64.904,135.547,64.309,135.293,63.807,134.914z M62.335,132.421h1.735c0.05,0.187,0.127,0.361,0.225,0.523l-1.238,1.24C62.673,133.68,62.427,133.075,62.335,132.421z M64.067,131.375h-1.736c0.091-0.657,0.342-1.258,0.723-1.763l1.233,1.231C64.19,131.009,64.118,131.186,64.067,131.375L64.067,131.375z"/>
                                <path class="cs-car__wheel" fill="#888888" d="M9.881,131.888c0,0.173,0.012,0.347,0.026,0.515c0.262,3.096,2.854,5.525,6.016,5.525c3.077,0,5.611-2.303,5.986-5.279c0.032-0.25,0.053-0.502,0.053-0.761c0-3.336-2.705-6.041-6.041-6.041C12.584,125.847,9.878,128.552,9.881,131.888z M19.67,131.375h-1.735c-0.05-0.189-0.124-0.366-0.221-0.531l1.231-1.231C19.328,130.117,19.581,130.718,19.67,131.375z M18.942,134.179l-1.235-1.234c0.097-0.16,0.17-0.339,0.22-0.523h1.749C19.583,133.076,19.324,133.677,18.942,134.179z M16.443,133.897c0.186-0.048,0.363-0.118,0.524-0.212l1.229,1.229c-0.504,0.379-1.097,0.635-1.753,0.727V133.897z M16.443,128.142c0.66,0.091,1.259,0.345,1.765,0.73l-1.229,1.229c-0.166-0.099-0.345-0.172-0.535-0.223V128.142z M15.396,128.14v1.739c-0.188,0.048-0.368,0.124-0.533,0.222l-1.23-1.229C14.138,128.486,14.738,128.231,15.396,128.14L15.396,128.14z M13.645,134.914l1.229-1.229c0.163,0.095,0.338,0.164,0.523,0.213v1.74C14.744,135.547,14.147,135.293,13.645,134.914z M12.175,132.423h1.736c0.048,0.187,0.127,0.36,0.223,0.522l-1.237,1.239C12.514,133.68,12.267,133.075,12.175,132.423z M13.907,131.375h-1.736c0.091-0.657,0.343-1.258,0.724-1.763l1.233,1.231C14.031,131.009,13.957,131.186,13.907,131.375L13.907,131.375z"/>
                            </g>
                            <g class="cs-box_wall">
                                <rect x="529" y="97" fill="#B7BCC0" width="2" height="41"/>
                                <rect x="531" y="92" fill="#FFFFFF" width="126" height="46" opacity="0.9"/>
                                <rect x="535" y="91" fill="#B7BCC0" width="2" height="47"/>
                                <rect x="633.815" y="113.724" transform="matrix(0.0024 1 -1 0.0024 770.2084 -542.5765)" fill="#B7BCC0" width="46.434" height="2"/>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>

            <form class="sec-costing__form">
                <div class="sec-costing__steps">
                    <div class="costing" id="costing-steps">

                        <div class="costing__step costing__step_01" id="costing-step_01">
                            <div class="container">
                                <div class="costing__step-wrap">
                                    <div class="costing__row">
                                        <div class="costing__col-car">
                                            <div class="cg-car costing__unit">
                                                <div class="cg-car__name">Altima купе</div>
                                                <div class="cg-car__pict">
                                                    <img class="cg-car__img" src="{{ asset('assets/images/costing/altima.jpg') }}" alt="Altima купе">
                                                </div>
                                                <ul class="cg-car__data">
                                                    <li>CL32</li>
                                                    <li>2006 - н.в</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="costing__col-set">
                                            <div class="cg-set costing__unit">
                                                <h4 class="costing__title cg-set__title">Выберите комплектацию:</h4>
                                                <div class="cg-set__list">
                                                    <label class="cg-set__radio"><input type="radio" name="test" value="1"><span>1,5/1,8 MT 2WD</span></label>
                                                    <label class="cg-set__radio"><input type="radio" name="test" value="2"><span>1,5/1,8 AT 2WD</span></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="costing__row">
                                        <div class="costing__col-run">
                                            <div class="cg-run costing__unit">
                                                <h4 class="costing__title cg-run__title">Какой у вас пробег?</h4>
                                                <ul class="cg-run__line" id="costing-run-line">
                                                    <li class="cg-run__step js-run-step is-before" data-range="15">15к</li>
                                                    <li class="cg-run__step js-run-step is-before" data-range="30">30к</li>
                                                    <li class="cg-run__step js-run-step is-before" data-range="45">45к</li>
                                                    <li class="cg-run__step js-run-step is-before" data-range="60">60к</li>
                                                    <li class="cg-run__step js-run-step is-before" data-range="75">75к</li>
                                                    <li class="cg-run__step js-run-step is-before" data-range="90">90к</li>
                                                    <li class="cg-run__step js-run-step is-before" data-range="105">105к</li>
                                                    <li class="cg-run__step js-run-step is-before" data-range="120">120к</li>
                                                    <li class="cg-run__step js-run-step is-active" data-range="135">135к</li>
                                                    <li class="cg-run__step js-run-step" data-range="150">150к</li>
                                                    <li class="cg-run__step js-run-step" data-range="165">165к</li>
                                                    <li class="cg-run__step js-run-step" data-range="180">180к</li>
                                                    <li class="cg-run__step js-run-step" data-range="195">195к</li>
                                                    <li class="cg-run__step js-run-step" data-range="210">210к</li>
                                                </ul>
                                                <input class="cg-run__info" id="costing-run-info" type="hidden">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="costing__step-btm costing__step-btm_rt">
                                    <a class="btn costing__btn js-cg-next-step_02" role="button">Далее</a>
                                </div>
                            </div><!-- END container -->
                        </div><!-- END costing__step_01 -->

                        <div class="costing__step costing__step_02" id="costing-step_02">
                            <div class="container">
                                <div class="costing__step-wrap">
                                    <div class="costing__row">
                                        <div class="costing__col-half">
                                            <div class="cg-price costing__unit">
                                                <h4 class="costing__title cg-price__title">Регламетное техническое обслуживание:</h4>
                                                <div class="cg-price__body js-scroll-y">
                                                    <ul class="cg-price__list">
                                                        <li class="cg-price__item">
                                                            <div class="cg-price__line">
                                                                <label class="cg-price__check"><input type="checkbox"><span>Компьютерная диагностика</span></label>
                                                                <div class="cg-price__cost">600
                                                                    <i class="icon-rub">a</i></div>
                                                            </div>
                                                        </li>
                                                        <li class="cg-price__item">
                                                            <div class="cg-price__line">
                                                                <label class="cg-price__check"><input type="checkbox"><span>Компьютерная диагностика</span></label>
                                                                <div class="cg-price__cost">600
                                                                    <i class="icon-rub">a</i></div>
                                                            </div>
                                                        </li>
                                                        <li class="cg-price__item">
                                                            <div class="cg-price__line">
                                                                <label class="cg-price__check"><input type="checkbox"><span>Компьютерная диагностика</span></label>
                                                                <div class="cg-price__cost">600
                                                                    <i class="icon-rub">a</i></div>
                                                            </div>
                                                            <ul class="cg-price__list">
                                                                <li class="cg-price__item">
                                                                    <div class="cg-price__line">
                                                                        <label class="cg-price__check"><input type="checkbox"><span>Компьютерная диагностика</span></label>
                                                                        <div class="cg-price__cost">600
                                                                            <i class="icon-rub">a</i></div>
                                                                    </div>
                                                                </li>
                                                                <li class="cg-price__item">
                                                                    <div class="cg-price__line">
                                                                        <label class="cg-price__check"><input type="checkbox"><span>Компьютерная диагностика</span></label>
                                                                        <div class="cg-price__cost">600
                                                                            <i class="icon-rub">a</i></div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="cg-price__item">
                                                            <div class="cg-price__line">
                                                                <label class="cg-price__check"><input type="checkbox"><span>Компьютерная диагностика</span></label>
                                                                <div class="cg-price__cost">600
                                                                    <i class="icon-rub">a</i></div>
                                                            </div>
                                                        </li>
                                                        <li class="cg-price__item">
                                                            <div class="cg-price__line">
                                                                <label class="cg-price__check"><input type="checkbox"><span>Компьютерная диагностика</span></label>
                                                                <div class="cg-price__cost">600
                                                                    <i class="icon-rub">a</i></div>
                                                            </div>
                                                            <ul class="cg-price__list">
                                                                <li class="cg-price__item">
                                                                    <div class="cg-price__line">
                                                                        <label class="cg-price__check"><input type="checkbox"><span>Компьютерная диагностика</span></label>
                                                                        <div class="cg-price__cost">600
                                                                            <i class="icon-rub">a</i></div>
                                                                    </div>
                                                                </li>
                                                                <li class="cg-price__item">
                                                                    <div class="cg-price__line">
                                                                        <label class="cg-price__check"><input type="checkbox"><span>Компьютерная диагностика</span></label>
                                                                        <div class="cg-price__cost">600
                                                                            <i class="icon-rub">a</i></div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="cg-total">
                                                <div class="cg-total__note">Стоимость обязательного ТО:</div>
                                                <div class="cg-total__cost">15 200 ₽</div>
                                            </div>
                                        </div>

                                        <div class="costing__col-half">
                                            <div class="cg-price costing__unit">
                                                <h4 class="costing__title cg-price__title">Дополнительно рекомендуем:</h4>
                                                <div class="cg-price__body js-scroll-y">
                                                    <ul class="cg-price__list">
                                                        <li class="cg-price__item">
                                                            <div class="cg-price__line">
                                                                <label class="cg-price__check"><input type="checkbox"><span>Компьютерная диагностика</span></label>
                                                                <div class="cg-price__cost">600
                                                                    <i class="icon-rub">a</i></div>
                                                                <div class="cg-price__info">
                                                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="cg-price__item">
                                                            <div class="cg-price__line">
                                                                <label class="cg-price__check"><input type="checkbox"><span>Снятие и установка защиты двигателя</span></label>
                                                                <div class="cg-price__cost">200
                                                                    <i class="icon-rub">a</i></div>
                                                                <div class="cg-price__info">
                                                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="cg-price__item">
                                                            <div class="cg-price__line">
                                                                <label class="cg-price__check"><input type="checkbox"><span>Замена жидкости сцепления:</span></label>
                                                                <div class="cg-price__cost"></div>
                                                                <div class="cg-price__info">
                                                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                                                                </div>
                                                            </div>
                                                            <ul class="cg-price__list">
                                                                <li class="cg-price__item">
                                                                    <div class="cg-price__line">
                                                                        <label class="cg-price__check"><input type="checkbox"><span>Тормозная жидкость (оригинал)</span></label>
                                                                        <div class="cg-price__cost">0.5 л - 250
                                                                            <i class="icon-rub">a</i></div>
                                                                        <div class="cg-price__info">
                                                                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="cg-price__item">
                                                            <div class="cg-price__line">
                                                                <label class="cg-price__check"><input type="checkbox"><span>Чистка дроссельной заслонки:</span></label>
                                                                <div class="cg-price__cost"></div>
                                                                <div class="cg-price__info">
                                                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                                                                </div>
                                                            </div>
                                                            <ul class="cg-price__list">
                                                                <li class="cg-price__item">
                                                                    <div class="cg-price__line">
                                                                        <label class="cg-price__check"><input type="checkbox"><span>Очиститель</span></label>
                                                                        <div class="cg-price__cost">1 л - 300
                                                                            <i class="icon-rub">a</i></div>
                                                                        <div class="cg-price__info">
                                                                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="cg-price__item">
                                                            <div class="cg-price__line">
                                                                <label class="cg-price__check"><input type="checkbox"><span>Компьютерная диагностика</span></label>
                                                                <div class="cg-price__cost">1 700
                                                                    <i class="icon-rub">a</i></div>
                                                                <div class="cg-price__info">
                                                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                                                                </div>
                                                            </div>
                                                            <ul class="cg-price__list">
                                                                <li class="cg-price__item">
                                                                    <div class="cg-price__line">
                                                                        <label class="cg-price__check"><input type="checkbox"><span>Компьютерная диагностика</span></label>
                                                                        <div class="cg-price__cost">175
                                                                            <i class="icon-rub">a</i></div>
                                                                        <div class="cg-price__info">
                                                                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="cg-price__item">
                                                                    <div class="cg-price__line">
                                                                        <label class="cg-price__check"><input type="checkbox"><span>Компьютерная диагностика</span></label>
                                                                        <div class="cg-price__cost">97 500
                                                                            <i class="icon-rub">a</i></div>
                                                                        <div class="cg-price__info">
                                                                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="cg-total">
                                                <div class="cg-total__note">Итого с учетом доп. услуг:</div>
                                                <div class="cg-total__cost">15 200 ₽</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="costing__step-btm costing__step-btm_sb">
                                    <a class="btn costing__btn js-cg-back-step_01" role="button">Назад</a>
                                    <a class="btn costing__btn js-cg-next-step_03" role="button">Оформить заявку</a>
                                </div>
                            </div><!-- END container -->
                        </div><!-- END costing__step_02 -->

                        <div class="costing__step costing__step_03" id="costing-step_03">
                            <div class="container">
                                <div class="costing__step-wrap">
                                    <h4 class="costing__step-title">Теперь вы можете легко оформить заявку:</h4>
                                    <div class="costing__row">
                                        <div class="costing__col-half">
                                            <div class="cg-order costing__unit">
                                                <div class="cg-order__head">
                                                    <h4 class="costing__title cg-order__title">Выберите удобную дату:</h4>
                                                    <div class="cg-order__date" id="cg-order-date"></div>
                                                </div>
                                                <div class="cg-order__body">
                                                    <div class="cg-calendar js-cg-datepicker"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="costing__col-half">
                                            <div class="cg-order costing__unit">
                                                <div class="cg-order__head cg-order__head_red">
                                                    <h4 class="costing__title cg-order__title">Итого: </h4>
                                                    <div class="cg-order__cost">15 700 ₽</div>
                                                </div>
                                                <div class="cg-order__body">
                                                    <div class="cg-order__line cg-order__line_name">
                                                        <input class="cg-order__input" type="text" placeholder="Ваше имя и отчество">
                                                    </div>
                                                    <div class="cg-order__line cg-order__line_phon">
                                                        <input class="cg-order__input cg-order__input_phone" type="text" placeholder="Телефон">
                                                    </div>
                                                    <div class="cg-order__line cg-order__line_chat">
                                                        <input class="cg-order__input cg-order__input_info" type="text" placeholder="Дополнительная информация">
                                                    </div>
                                                    <div class="cg-order__line">
                                                        <label class="cg-order__check">
                                                            <input type="checkbox">
                                                            <span>
                          Я принимаю <a href="#" target="_blank">условия передачи информации</a>
                          и согласен с <a href="#" target="_blank">правилами оферты</a>
                        </span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="costing__step-btm costing__step-btm_sb">
                                    <a class="btn costing__btn js-cg-back-step_02" role="button">Назад</a>
                                    <a class="btn costing__btn js-cg-next-step_04" role="button">Записаться на обслуживание</a>
                                </div>
                            </div><!-- END container -->
                        </div><!-- END costing__step_03 -->

                        <div class="costing__step costing__step_04" id="costing-step_04">
                            <div class="container">
                                <div class="costing__step-wrap">
                                    <div class="cg-status">
                                        <i class="cg-status__icon"></i>
                                        <h4 class="cg-status__title">Ваша заявка успешно отправлена!</h4>
                                        <div class="cg-status__note">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Atque ratione rem ullam velit! At debitis enim eum, laboriosam natus totam
                                        </div>
                                        <ul class="cg-status__list">
                                            <li class="cg-status__data">
                                                <span class="cg-status__data-par">Марка авто</span>
                                                <span class="cg-status__data-val">Altima купе</span>
                                            </li>
                                            <li class="cg-status__data">
                                                <span class="cg-status__data-par">Дата</span>
                                                <span class="cg-status__data-val">12.02.2018</span>
                                            </li>
                                            <li class="cg-status__data">
                                                <span class="cg-status__data-par">Ваше имя и отчество</span>
                                                <span class="cg-status__data-val"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- END container -->
                        </div><!-- END costing__step_03 -->

                    </div><!-- END costing -->
                </div><!-- END sec-costing__steps -->
            </form>
        </section><!-- END sec-costing -->

        {{ include('www/_sections/experience.html.twig') }}

        {{ include('www/_sections/master.html.twig') }}

        {{ include('www/_sections/reviews.html.twig') }}

        {{ include('www/_sections/clubs.html.twig') }}

        {{ include('www/_sections/faq.html.twig') }}

        {{ include('www/_sections/map.html.twig') }}

    </main><!-- END site-main -->
{% endblock %}
