{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary js-frame-button" data-id="1" href="https://www.exist.ru/Price/?pcode={{ partnumber }}">EXIST</a>
            <a class="btn btn-primary js-frame-button js-frame-default" data-id="2" href="https://ixora-auto.ru/Shop/Search.html?Place=Details&DetailNumber={{ partnumber }}">IXORA</a>
            <a class="btn btn-primary js-frame-button" data-id="3" href="https://www.emex.ru/f?detailNum={{ partnumber }}&packet=-1">EMEX</a>
            <a class="btn btn-primary js-frame-button" data-id="4" href="https://www.megazip.ru/search?q={{ partnumber }}">MEGAZIP</a>
            <a class="btn btn-primary js-frame-button" data-id="5" href="http://www.favorit-auto.ru/autoparts/?code={{ partnumber }}&order=&exact=on&analogue=on">FAVORIT</a>
        </div>
    </div>

    <div class="js-frame-container embed-responsive embed-responsive-16by9" style="margin-top: 10px"></div>
{% endblock %}

{% block body_javascript %}
    <script>
      let container = $('.js-frame-container');

      $('.js-frame-button').each(function() {
        $(this).on('click', function() {
          let link = $(this);
          let url = link.attr('href'),
              id = 'frame-' + link.data('id'),
              elementId = '#' + id;

          $('.js-frames').hide();

          if (0 === $(elementId).length) {
            container.append(
                '<iframe id="' + id + '" class="js-frames embed-responsive-item" src="' + url + '"></iframe>');
          }

          $(elementId).show();

          return false;
        });
      });

      $(document).on('ready', function() {
        $('.js-frame-default').trigger('click');
      });
    </script>
{% endblock %}
