<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')|first|default('en') }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="generator" content="EasyAdmin"/>

    <title>{% block page_title %}{{ block('content_title')|striptags|raw }}{% endblock %}</title>

    {% block head_stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/easyadmin/stylesheet/easyadmin-all.min.css') }}">
        <style>
            {% include 'easy_admin/css/easyadmin.css.twig' %}
        </style>
    {% endblock %}

    {% for css_asset in easyadmin_config('design.assets.css') %}
        <link rel="stylesheet" href="{{ asset(css_asset) }}">
    {% endfor %}

    {% block head_favicon %}
        {% set favicon = easyadmin_config('design.assets.favicon') %}
        <link rel="icon" type="{{ favicon.mime_type }}" href="{{ asset(favicon.path) }}"/>
    {% endblock %}

    {% block head_javascript %}
    {% block adminlte_options %}
        <script type="text/javascript">
          var AdminLTEOptions = {
            animationSpeed: 'normal',
            sidebarExpandOnHover: false,
            enableBoxRefresh: false,
            enableBSToppltip: false,
            enableFastclick: false,
            enableControlSidebar: false,
            enableBoxWidget: false,
          };
        </script>
    {% endblock %}

        <script src="{{ asset('assets/easyadmin/javascript/easyadmin-all.min.js') }}"></script>
    {% endblock head_javascript %}
</head>

{% block body %}
    <body id="{% block body_id %}{% endblock %}" class="easyadmin sidebar-mini {% block body_class %}{% endblock %} {{ app.request.cookies.has('_easyadmin_navigation_iscollapsed') ? 'sidebar-collapse' }}">
    <div class="wrapper">
        {% block wrapper %}
            <header class="main-header">
                {% block header %}
                    <nav class="navbar" role="navigation">
                        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                            <span class="sr-only">{{ 'toggle_navigation'|trans(domain = 'EasyAdminBundle') }}</span>
                        </a>

                        <div id="header-logo">
                            {% block header_logo %}
                                <a class="logo {{ easyadmin_config('site_name')|length > 14 ? 'logo-long' }}" title="{{ easyadmin_config('site_name')|striptags }}" href="{{ path('easyadmin') }}">
                                    {{ easyadmin_config('site_name')|raw }}
                                </a>
                            {% endblock header_logo %}

                            {% block tenant_switch %}
                                {# @var current \App\Enum\Tenant #}
                                {% set current = state.tenant %}
                                {% set tenants = app.user.tenants|filter(tenant => not tenant.eq(current)) %}

                                <ul class="nav navbar-nav" style="margin-top: 7px">
                                    <li class="dropdown user user-menu">
                                        <span class="sr-only">Вы вошли как</span>

                                        <div class="btn-group">
                                            <button type="button" class="btn" data-toggle="dropdown">
                                                {{ current.getDisplayName() }}
                                            </button>
                                            {% if tenants is not empty %}
                                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    {% for tenant in tenants %}
                                                        {# @var tenant \App\Entity\Landlord\Tenant #}
                                                        <li>
                                                            <a href="{{ path('easyadmin', app.request.query.all()|merge({'tenant': tenant.getIdentifier()})) }}">
                                                                <i class="fa fa-link"></i> {{ tenant.getDisplayName() }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </li>
                                </ul>
                            {% endblock %}
                        </div>

                        <div class="navbar-custom-menu">
                            {% block header_custom_menu %}
                                {% set _logout_path = easyadmin_logout_path() %}
                                <ul class="nav navbar-nav">
                                    <li class="dropdown user user-menu">
                                        {% block user_menu %}
                                            <span class="sr-only">{{ 'user.logged_in_as'|trans(domain = 'EasyAdminBundle') }}</span>

                                            {% if app.user|default(false) == false %}
                                                <i class="hidden-xs fa fa-user-times"></i>
                                                {{ 'user.anonymous'|trans(domain = 'EasyAdminBundle') }}
                                            {% elseif not _logout_path %}
                                                <i class="hidden-xs fa fa-user"></i>
                                                {{ app.user.username|default('user.unnamed'|trans(domain = 'EasyAdminBundle')) }}
                                            {% else %}
                                                <div class="btn-group">
                                                    <button type="button" class="btn" data-toggle="dropdown">
                                                        <i class="hidden-xs fa fa-user"></i>
                                                        {{ app.user.username|default('user.unnamed'|trans(domain = 'EasyAdminBundle')) }}
                                                    </button>
                                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        {% block user_menu_dropdown %}
                                                            {% block user_menu_prod_dev_switch %}
                                                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                                    {% set uri = app.request.uri %}
                                                                    {% if'.local' in app.request.host %}
                                                                        {% set uri = uri|replace({'http': 'https', '.local': '.ru'}) %}
                                                                        {% set label = 'На бой' %}
                                                                    {% else %}
                                                                        {% set uri = uri|replace({'https': 'http', '.ru': '.local'}) %}
                                                                        {% set label = 'На локалку' %}
                                                                    {% endif %}
                                                                    <li>
                                                                        <a href="{{ uri }}">
                                                                            <i class="fa fa-link"></i> {{ label }}
                                                                        </a>
                                                                    </li>
                                                                {% endif %}
                                                            {% endblock %}
                                                            <li>
                                                                <a href="{{ _logout_path }}"><i class="fa fa-sign-out"></i> {{ 'user.signout'|trans(domain = 'EasyAdminBundle') }}
                                                                </a>
                                                            </li>
                                                            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                                                <li>
                                                                    <a href="?_switch_user=_exit"><i class="fa fa-sign-out"></i> {{ 'user.exit_impersonation'|trans(domain = 'EasyAdminBundle') }}
                                                                    </a>
                                                                </li>
                                                            {% endif %}
                                                        {% endblock user_menu_dropdown %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        {% endblock user_menu %}
                                    </li>
                                </ul>
                            {% endblock header_custom_menu %}

                            {% block wallets %}
                                {% if is_granted(constant('App\\Roles::ACCOUNTING')) %}
                                    {{ layout_balance() }}
                                {% endif %}
                            {% endblock %}
                        </div>
                    </nav>
                {% endblock header %}
            </header>

            <aside class="main-sidebar">
                {% block sidebar %}
                    <section class="sidebar">
                        {% block main_menu_wrapper %}
                            {{ include([
                                _entity_config is defined ? _entity_config.templates.menu,
                                easyadmin_config('design.templates.menu'),
                                'easy_admin/default/menu.html.twig'
                            ]) }}
                        {% endblock main_menu_wrapper %}
                    </section>
                {% endblock sidebar %}
            </aside>

            <div class="content-wrapper">
                {% block content %}
                    {% block flash_messages %}
                        {{ include(_entity_config is defined ? _entity_config.templates.flash_messages : 'easy_admin/default/flash_messages.html.twig') }}
                    {% endblock flash_messages %}

                    <section class="content-header">
                        {% block content_header %}
                            <h1 class="title">
                                {%- block content_title -%}
                                    {%- apply spaceless -%}
                                        {% set action = app.request.query.get('action') %}
                                        {% set template = (attribute(_entity_config, action).title)|default %}

                                        {% if template is not empty %}
                                            {{- include(template_from_string(template)) -}}
                                        {% else %}
                                            {{ attribute(_entity_config, action).title is defined
                                            ? attribute(_entity_config, action).title|trans(_trans_parameters|default([]))
                                            : (action ~ '.page_title')|trans(_trans_parameters|default([]), 'EasyAdminBundle') }}
                                        {% endif %}
                                    {%- endapply -%}
                                {%- endblock -%}
                            </h1>
                        {% endblock content_header %}
                        {% block content_help %}
                            {% if _entity_config is defined and _entity_config[app.request.query.get('action')]['help']|default(false) %}
                                <div class="box box-widget help-entity">
                                    <div class="box-body">
                                        {{ _entity_config[app.request.query.get('action')]['help']|trans(domain = _entity_config.translation_domain)|raw }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endblock content_help %}
                    </section>

                    <section id="main" class="content">
                        {% block main %}{% endblock %}
                    </section>
                {% endblock content %}
            </div>

            {% block copyright %}
                {% set buildTime = build_time() %}
                <footer class="main-footer">
                    <div class="pull-right hidden-xs">
                        Сборка <b>{{ build() }}</b>
                        от {{ buildTime|localizeddate('medium', 'short', null, 'Europe/Moscow') }}
                    </div>
                    <strong>Copyright © 2017 - {{ buildTime|date('Y') }} <a href="//www.automagistre.ru">Автомагистр</a>.</strong>
                </footer>
            {% endblock %}
        {% endblock wrapper %}
    </div>

    {% block body_javascript %}
        <script>
          $(document).ready(function() {
            let urlParams = new URLSearchParams(window.location.search);

            if (urlParams.has('lineIndex')) {
              let tr = $('tr[data-id="' + urlParams.get('lineIndex') + '"]');
              tr.addClass('warning');

              $([document.documentElement, document.body]).animate({
                scrollTop: tr.offset().top,
              }, 500);
            }
          });
        </script>
    {% endblock body_javascript %}

    {% for js_asset in easyadmin_config('design.assets.js') %}
        <script src="{{ asset(js_asset) }}"></script>
    {% endfor %}
    </body>
{% endblock body %}
</html>
