{# @var car \App\Car\Entity\Car #}
{%- apply spaceless -%}
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Цена</th>
                        <th>Итого</th>
                        <th>Склад</th>
                        <th>Диагностировал</th>
                        <th>Действия</th>
                        <th>
                            <a onclick="$('.created-by').slideToggle(0)">
                                <i class="fa fa-info-circle"></i>
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for recommendation in car.recommendations %}
                        <tr>
                            <td>
                                <i class="fa fa-wrench"></i>
                                {{ recommendation.service }}

                                {{- '&nbsp;'|raw -}}

                                <a href="{{ easyadmin_path('CarRecommendationPart', 'new', {
                                    'recommendation_id': recommendation|toId,
                                    'vehicle_id': car.vehicleId|toId|default
                                }) }}">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </td>
                            <td>
                                {%- set recommendationTotalPartPrice = recommendation.totalPartPrice %}
                                {{- recommendation.price|localize_money }}

                                {{- '&nbsp;'|raw -}}
                                /
                                {{- '&nbsp;'|raw -}}

                                {{ recommendationTotalPartPrice|localize_money -}}
                            </td>
                            <td>
                                {{- recommendation.price.add(recommendationTotalPartPrice)|localize_money -}}
                            </td>
                            <td>{# Склад #}</td>
                            <td>
                                {% if recommendation.workerId is not empty %}
                                    <a href="{{ easyadmin_path('Operand', 'show', {'id': recommendation.workerId|toId}) }}">
                                        {{ recommendation.workerId|display_name }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ easyadmin_path('CarRecommendation', 'edit', {
                                    'id': recommendation|toId,
                                    'order_id': order|toId
                                }) }}">
                                    <i class="fa fa-pencil"></i>
                                </a>

                                {%- if order.editable %}
                                    {{- '&nbsp;'|raw -}}

                                    <form action="{{ easyadmin_path('CarRecommendation', 'realize', {
                                        'id': recommendation|toId,
                                        'order_id': order|toId
                                    }) }}" method="post" style="display: inline">
                                        <i class="fa fa-wrench icon-form-submit"
                                           style="cursor: pointer"></i>
                                    </form>
                                {% endif %}
                            </td>
                            <td>
                                <span class="created-by" style="display: none">
                                    {{ created_by_view(recommendation|toUuid) }}
                                </span>
                                &nbsp;
                                <i class="fa fa-user"></i>
                            </td>

                            {% for recommendationPart in recommendation.parts %}
                                {# @var recommendationPart \App\Entity\CarRecommendationPart #}
                                {% set part = part_view(recommendationPart.partId) %}

                                {{ '</tr><tr>' }}
                                <td style="padding-left: 40px">
                                    {% include 'easy_admin/field_part.html.twig' with {'value': part} only %}
                                </td>
                                <td>{{ recommendationPart.quantity / 100 }}
                                    x {{ recommendationPart.price|localize_money }}</td>
                                <td>{{ recommendationPart.price.multiply(recommendationPart.quantity / 100)|localize_money }}</td>
                                <td>
                                    {% set reservable = part_reservable(recommendationPart.partId) %}
                                    {% set reserved = part.reserved %}
                                    {% set inStock = part.quantity %}
                                    {% set required = recommendationPart.quantity %}

                                    {% if reservable >= required %}
                                        {% set stockStyle = 'success' %}
                                        {% set reserveStyle = 'success' %}
                                    {% elseif inStock >= required %}
                                        {% set stockStyle = 'warning' %}
                                        {% set reserveStyle = 'warning' %}
                                    {% elseif inStock < required %}
                                        {% set stockStyle = 'danger' %}
                                        {% set reserveStyle = 'default' %}
                                    {% endif %}

                                    <span class="label label-{{ stockStyle }}">
                                        {{- reservable / 100 -}}
                                    </span>

                                    {{- '&nbsp;'|raw -}}

                                    <span class="label label-{{ reserveStyle }}">
                                        {{- reserved / 100 -}}
                                    </span>
                                </td>
                                <td></td>
                                <td>
                                    <a href="{{ easyadmin_path('CarRecommendationPart', 'edit', {
                                        'id': recommendationPart|toId
                                    }) }}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    {% if part_crosses_in_stock(part.toId()) is not empty %}
                                        {{- '&nbsp;'|raw -}}

                                        <a href="{{ easyadmin_path('CarRecommendationPart', 'substitute', {
                                            'id': recommendationPart|toId,
                                            'referer': true
                                        }) }}">
                                            <i class="fa fa-recycle" style="color: green"></i>
                                        </a>
                                    {% endif %}
                                </td>
                                <td>
                                    <span class="created-by" style="display: none">
                                        {{ created_by_view(recommendationPart|toUuid) }}
                                    </span>
                                    &nbsp;
                                    <i class="fa fa-user"></i>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{%- endapply %}
