{# @var entity \App\Entity\Operand #}

<div class="field-group">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Автомобили</h3>
        </div>

        {% if cars is not empty %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Модификация</th>
                        <th>Госномер</th>
                        <th>Пробег</th>
                        <th>Идентификатор (VIN, № Кузова/Шасси...)</th>
                        <th>Год</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for car in cars %}
                        {# @var car \App\Car\Entity\Car #}
                        <tr class="tr">
                            <td>
                                <a href="{{ easyadmin_path_by_id(car.vehicleId, 'show', {'referer': true}) }}">
                                    {{ car.vehicleId|display_name }}
                                </a>
                            </td>
                            <td>{{ car.gosnomer }}</td>
                            <td>{{ car.mileage }}</td>
                            <td>{{ car.identifier }}</td>
                            <td>{{ car.year }}</td>
                            <td>
                                <a href="{{ easyadmin_path_by_id(car.uuid, 'show', {'referer': true}) }}">
                                    <i class="fa fa-search"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="box-body">
                Автомобилей нет
            </div>
        {% endif %}
    </div>
</div>
