{# @var entity \App\Entity\Operand #}

<div class="field-group">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Последние заказы</h3>
        </div>

        {% if orders is not empty %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Дата закрытия</th>
                        <th>Автомобиль</th>
                        <th>Сумма</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        {# @var order \App\Entity\Order #}
                        <tr class="tr">
                            <td>
                                <a href="{{ easyadmin_path(order, 'show', {'referer': true}) }}">
                                    {{ order.id }}
                                </a>
                            </td>
                            <td>{{ order.closedAt|format_datetime('short', 'short', '', 'GMT+3') }}</td>
                            <td>{{ order.carId|display_name }}</td>
                            <td>{{ order.totalForPayment|localize_money }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="box-body">
                Заказов нет
            </div>
        {% endif %}

        <div class="box-footer">
            <a href="{{ easyadmin_path('Order', 'new', {'operand_id': entity.id}) }}" class="btn btn-primary">
                Создать заказ
            </a>
            <a href="{{ easyadmin_path('Order', 'list', {'operand_id': entity.id}) }}" class="btn btn-primary">
                Все заказы
            </a>
        </div>
    </div>
</div>
