{# @var entity \App\Entity\Operand #}

<div class="field-group">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Последние проводки</h3>
        </div>

        {% if payments is not empty %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Сумма</th>
                        <th>Описание</th>
                        <th>Комментарий</th>
                        <th>Дата</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for payment in payments %}
                        {# @var payment \App\Entity\Payment #}
                        <tr class="tr">
                            <td>{{ payment.amount|localize_money }}</td>
                            <td>{% include 'easy_admin/customer/field_description.html.twig' with {'item': payment} only %}</td>
                            <td>{{ payment.description }}</td>
                            <td>{{ payment.createdAt|format_datetime('short', 'short', '', 'GMT+3') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="box-body">
                Проводок нет
            </div>
        {% endif %}

        <div class="box-footer">
            <a href="{{ easyadmin_path('CustomerTransaction', 'new', {'operand_id': entity|toId, 'type': 'increment'}) }}" class="btn btn-info">
                Пополнить
            </a>
            <a href="{{ easyadmin_path('CustomerTransaction', 'new', {'operand_id': entity|toId, 'type': 'decrement'}) }}" class="btn btn-warning">
                Списать
            </a>
            <a href="{{ easyadmin_path('CustomerTransaction', 'list', {'operand_id': entity|toId}) }}" class="btn btn-primary">
                Все проводки
            </a>
        </div>
    </div>
</div>
