{% extends 'easy_admin/order_print/color/layout.html.twig' %}

{% from 'easy_admin/order_print/color/order_info.html.twig' import order_info %}
{% from 'easy_admin/order_print/color/order_table.html.twig' import order_table %}
{% from 'easy_admin/order_print/color/recommendations_table.html.twig' import recommendations_table, recommendations_totals %}

{# @var order \App\Order\Entity\Order #}
{# @var car \App\Car\Entity\Car #}
{# @var customer \App\Customer\Domain\Operand #}

{% set balance = order.closed ? order.closedBalance : (customer is not empty ? customer|balance : null) %}

{% set requisites = state.tenant.getRequisites() %}

{% block content %}
    <div class="content pages" id="content">
        <div class="page">
            <main>
                {% include 'easy_admin/order_print/color/header.html.twig' %}

                <div class="main-table">
                    {{ order_info('заказ-наряд', order, customer, car) }}

                    {{ order_table(order, balance) }}
                </div>
            </main>
            <footer class="page-brake">
                <div class="footer">
                    {% include 'easy_admin/order_print/color/guaranty.html.twig' %}
                    <div class="stamps">
                        <div>
                            <p class="stamps__info">
                                С объемами и стоимостью работ согласен.<br>
                                С правилами предоставления услуг ознакомлен:
                            </p>
                        </div>
                        <div class="stamps__side">
                            <div>Заказчик:</div>
                            <div><hr></div>
                        </div>
                        <div class="stamps__side">
                            <div>Исполнитель:</div>
                            <div><hr></div>
                        </div>
                    </div>
                    <div class="footer__img">
                        <img src="{{ asset('assets/img/print_form_footer.png') }}" alt="Footer image">
                    </div>
                    <div class="footer__mp">M.П.</div>
                </div>
            </footer>
        </div>


        {% if car is not empty and car.recommendations is not empty %}
            <div class="page">
                <main>
                    <div>
                        {{ order_info('рекомендации', order, customer, car) }}
                        {{ recommendations_table(car) }}
                    </div>
                </main>
                <footer class="page-brake">
                    <div class="footer">
                        {% include 'easy_admin/order_print/color/guaranty.html.twig' %}

                        {{ recommendations_totals(car) }}

                        <div class="footer__img">
                            <img src="{{ asset('assets/img/print_form_footer.png') }}" alt="Footer image">
                        </div>
                    </div>
                </footer>
            </div>
        {% endif %}

    </div>
{% endblock %}
