{% extends 'easy_admin/order_print/color/layout.html.twig' %}

{% from 'easy_admin/order_print/color/order_info.html.twig' import order_info %}
{% from 'easy_admin/order_print/color/order_table.html.twig' import order_table_header, order_table_item, order_table_total %}
{% from 'easy_admin/order_print/color/recommendations_table.html.twig' import recommendations_table_header, recommendations_table_item, recommendations_table_totals %}

{# @var order \App\Order\Entity\Order #}
{# @var car \App\Car\Entity\Car #}
{# @var customer \App\Customer\Domain\Operand #}

{% set balance = order.closed ? order.closedBalance : (customer is not empty ? customer|balance : null) %}

{% set requisites = state.tenant.getRequisites() %}

{% set page = 1 %}
{% set row = 1 %}

{% block order_page_footer %}
    <footer class="page-brake">
        <div class="footer">
            {% include 'easy_admin/order_print/color/guaranty.html.twig' %}
            <div class="stamps">
                <div>
                    <p class="stamps__info">
                        С объемами и стоимостью работ согласен.<br>
                        С правилами предоставления услуг ознакомлен:
                    </p>
                </div>
                <div class="stamps__side">
                    <div>Заказчик:</div>
                    <div><hr></div>
                </div>
                <div class="stamps__side">
                    <div>Исполнитель:</div>
                    <div><hr></div>
                </div>
            </div>
            <div class="footer__img">
                <img src="{{ asset('assets/img/print_form_footer.png') }}" alt="Footer image">
            </div>
            <div class="footer__mp">M.П.</div>
        </div>
    </footer>
{% endblock %}

{% block recommendation_page_footer %}
    <footer class="page-brake">
        <div class="footer">
            {% include 'easy_admin/order_print/color/guaranty.html.twig' %}

            {{ recommendations_table_totals(car) }}

            <div class="footer__img">
                <img src="{{ asset('assets/img/print_form_footer.png') }}" alt="Footer image">
            </div>
        </div>
    </footer>
{% endblock %}

{% block order_first_page_begin %}
    <div class="page">
        <main>
            {% include 'easy_admin/order_print/color/header.html.twig' %}
            <div class="main-table">
                {{ order_info('заказ-наряд', order, customer, car) }}
                <div class="order-table">
                    {{ order_table_header() }}
{% endblock %}

{% block order_breake_page %}
                </div>
            </div>
        </main>
    </div>
    <div class="page">
        <main>
            <div class="main-table">
                {{ order_info('заказ-наряд', order, customer, car) }}
                <div class="order-table">
                    {{ order_table_header() }}
{% endblock %}

{% block order_last_page_end %}
                    {{ order_table_total(order, balance) }}
                </div>
            </div>
        </main>
        {{ block('order_page_footer') }}
    </div>
{% endblock %}

{% block recommendations_page_begin %}
    <div class="page">
        <main>
            <div>
                {{ order_info('рекомендации', order, customer, car) }}
                <div class="recommendations-table">
                    {{ recommendations_table_header() }}
{% endblock %}

{% block recommendations_page_breake %}
                </div>
            </div>
        </main>
    </div>
    <div class="page">
        <main>
            <div>
                {{ order_info('рекомендации', order, customer, car) }}
                <div class="recommendations-table">
                    {{ recommendations_table_header() }}
{% endblock %}

{% block recommendations_page_end %}
                </div>
            </div>
        </main>
        {{ block('recommendation_page_footer') }}
    </div>
{% endblock %}


{% block content %}
    <div class="content pages" id="content">
        {% for item in order.rootItems  %}

            {% set next_block_length = 1 %}
            {% if instanceOf(item, 'App\\Order\\Entity\\OrderItemService') %}
                {% set next_block_length = next_block_length + item.children|length %}
            {% elseif instanceOf(item, 'App\\Order\\Entity\\OrderItemGroup') %}
                {% if not item.hideParts %}
                    {% set next_block_length = next_block_length + item.parts|length %}
                {% endif %}
            {% endif %}

            {% if page == 1 and row == 1 %}
                {{ block('order_first_page_begin') }}
            {% elseif next_block_length + row > 25 %}
                {{ block('order_breake_page') }}
                {% set row = 1 %}
                {% set page = page + 1 %}
            {% endif %}
            {{ order_table_item(item) }}
            {% set row = row + next_block_length %}
        {% endfor %}
        {{ block('order_last_page_end') }}

        {% if car is not empty and car.recommendations is not empty %}

            {% set page = 1 %}
            {% set row = 1 %}

            {% for recommendation in car.recommendations %}
                {% set next_block_length = 1 + recommendation.parts|length %}
                {% if page == 1 and row == 1 %}
                   {{ block('recommendations_page_begin') }}
                {% elseif row + next_block_length > 30 %}
                    {{ block('recommendations_page_breake') }}
                    {% set page = page + 1 %}
                    {% set row = 1 %}
                {% endif %}
                {{ recommendations_table_item(recommendation) }}
                {% set row = row + next_block_length %}
            {% endfor %}
            {{ block('recommendations_page_end') }}
        {% endif %}
    </div>
{% endblock %}
