{% block order_item_group %}

    {# @var orderItemGroup \App\Entity\Tenant\OrderItemGroup #}
    <div class="order-table__item cell-service left">{{ orderItemGroup }}</div>
    <div class="order-table__item cell-service">
        {% set groupPrice = orderItemGroup.totalServicePrice(true) %}

        {% if orderItemGroup.hideParts %}
            {% set groupPrice = groupPrice.add(orderItemGroup.totalPartPrice(true)) %}
        {% endif %}

        {{ groupPrice|localize_money(true) }}
    </div>
    <div class="order-table__item cell-service">1</div>
    <div class="order-table__item cell-service">{# скидка группы #} </div>
    <div class="order-table__item cell-service">{{ groupPrice|localize_money(true) }}</div>
    {% if not orderItemGroup.hideParts %}
        {% for orderItemPart in orderItemGroup.parts %}
            {{ block('order_item_part') }}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block order_item_service %}
    {# @var orderItemService \App\Entity\Tenant\OrderItemService #}
    <div class="order-table__item cell-service left">
        {{- orderItemService -}}
        {%- if orderItemService.warranty %}
            <span>(гарантия)</span>
        {%- endif -%}
    </div>
    <div class="order-table__item cell-service">{{ orderItemService.price | localize_money(true) }}</div>
    <div class="order-table__item cell-service">-</div> {# Количество работ #}
    <div class="order-table__item cell-service">
        {% if orderItemService.discounted %}
            {{ orderItemService.discount | localize_money(true) }}
        {% endif %}
    </div>
    <div class="order-table__item cell-service">{{ orderItemService.totalPrice(true) | localize_money(true) }}</div>
    {% for orderItemPart in orderItemService.children %}
        {{ block('order_item_part') }}
    {% endfor %}
{% endblock %}

{% block order_item_part %}
    {# @var orderItemPart \App\Order\Entity\OrderItemPart #}
    {% set part = part_by_id(orderItemPart.partId) %}
    {# @var part \App\Part\Domain\Part #}
    <div class="order-table__item cell-part right">
        {{ part.name }}
        <span>
            ({{ part.number }} {{ part.manufacturerId|display_name }})
        </span>
    </div>
    <div class="order-table__item cell-part">{{ orderItemPart.price|localize_money(true) }}</div>
    <div class="order-table__item cell-part">{{ orderItemPart.quantity / 100 }}</div>
    <div class="order-table__item cell-part">
        {% if orderItemPart.discounted %}
            {{ orderItemPart.discount|localize_money(true) }}
        {% endif %}
    </div>
    <div class="order-table__item cell-part">{{ orderItemPart.totalPrice(true)|localize_money(true) }}</div>
{% endblock %}

{% macro order_table(order, balance) %}
    <div class="order-table">
        <div class="order-table__header">
            <div class="order-table__item table-header">Наименование выполненных работ / использованных запчастей</div>
            <div class="order-table__item table-header">Цена, руб</div>
            <div class="order-table__item table-header">Кол-во, шт</div>
            <div class="order-table__item table-header">Скидка, руб.</div>
            <div class="order-table__item table-header">Стоимость, руб</div>
        </div>
        {% for item in order.rootItems %}
            {% if instanceOf(item, 'App\\Order\\Entity\\OrderItemPart') %}
                {% set orderItemPart = item %}
                {{ block('order_item_part') }}
            {% elseif instanceOf(item, 'App\\Order\\Entity\\OrderItemService') %}
                {% set orderItemService = item %}
                {{ block('order_item_service') }}
            {% elseif instanceOf(item, 'App\\Order\\Entity\\OrderItemGroup') %}
                {% set orderItemGroup = item %}
                {{ block('order_item_group') }}
            {% endif %}
        {% endfor %}
        <div class="order-table__totals">
            <div class="order-table__item cell-subtotal__pre right">РАБОТЫ / ЗАПЧАСТИ без учета скидок, руб.</div>
            <div class="order-table__item cell-subtotal__pre">{{ order.totalGroupPrice.add(order.totalServicePrice(false, true))|localize_money(true) }} / {{ order.totalPartPrice(false, true)|localize_money(true) }}</div>
            {% if order.discount %}
                <div class="order-table__item cell-subtotal__pre right">СКИДКА, руб.</div>
                <div class="order-table__item cell-subtotal__pre">{{ order.discount|localize_money(true) }}</div>
            {% endif %}

            {% if balance is not empty %}
                {% set prepayment = order.totalPayments.add(balance) %}
                {% if not prepayment.isZero %}
                    <div class="order-table__item cell-subtotal right">
                        {% if prepayment.isNegative %}
                            ДОЛГ, руб.
                        {% else %}
                            ПРЕДОПЛАТА, руб.
                        {% endif %}
                    </div>
                    <div class="order-table__item cell-subtotal">{{ prepayment|localize_money(true) }}</div>
                {% endif %}
            {% endif %}

            <div class="order-table__item cell-subtotal__total right">ИТОГО К ОПЛАТЕ, руб.</div>
            <div class="order-table__item cell-subtotal__total">{{ order.totalForPayment(balance|default(null))|localize_money(true) }}</div>
        </div>
    </div>
{% endmacro %}
