{# @var item \App\Entity\Tenant\OrderItemGroup #}

{%- apply spaceless -%}
    <td style="{% include 'easy_admin/order/item/padding.html.twig' with {'level': level} %}">
        <i class="fa fa-folder"></i>
        {{- '&nbsp;'|raw -}}

        {{ item.name }}

        {% if order.editable %}
            <a href="{{ easyadmin_path('OrderItemService', 'new', {'order_id': order|toId, 'order_item_id': item|toId}) }}">
                <i class="fa fa-wrench"></i>
            </a>

            {{- '&nbsp;'|raw -}}

            <a href="{{ easyadmin_path('OrderItemPart', 'new', {'order_id': order|toId, 'order_item_id': item|toId}) }}">
                <i class="fa fa-barcode"></i>
            </a>
        {% endif %}
    </td>

    <td>{# Исполнитель #}</td>
    <td>{# Скидка #}</td>
    <td>{# Цена #}</td>

    <td>{{ item.totalServicePrice(true).add(item.totalPartPrice(true))|localize_money }}</td>
    {% if order.editable %}
        <td>{# Склад #}</td>
        <td>
            <a href="{{ easyadmin_path('OrderItemGroup', 'edit', {'id': item|toId}) }}">
                <i class="fa fa-pencil"></i>
            </a>
        </td>
    {% endif %}
{%- endapply -%}
