{# @var item \App\Entity\OrderItemGroup #}

<tr>
    <td style="{% include 'easy_admin/order/item/padding.html.twig' with {'level': level} %}">
        <i class="fa fa-folder"></i>

        {{ item.name }}

        {% if order.editable %}
            {% set urlParams = (order|to_query)|merge({'order_item_id': item.id}) %}

            <a href="{{ easyadmin_path('OrderItemService', 'new', urlParams) }}">
                <i class="fa fa-wrench"></i>
            </a>
            <a href="{{ easyadmin_path('OrderItemPart', 'new', urlParams) }}">
                <i class="fa fa-barcode"></i>
            </a>
        {% endif %}
    </td>
    <td></td>
    <td></td>
    <td>{{ item.totalServicePrice|localize_money }} / {{ item.totalPartPrice|localize_money }}</td>
    {% if order.editable %}
        <td>-</td>
        <td>
            <a href="{{ easyadmin_path(item, 'edit') }}">
                <i class="fa fa-pencil"></i>
            </a>
        </td>
    {% endif %}
</tr>
