{# @var item \App\Order\Entity\OrderItemPart #}

{# @var partView \App\Part\Entity\PartView #}
{% set partView = part_view(item.partId) %}

{%- apply spaceless -%}

    <td style="{%- include 'easy_admin/order/item/padding.html.twig' with {'level': level} -%}">
        {%- include 'easy_admin/field_part.html.twig' with {'value': partView} only -%}

        {%- if item.warranty %}
            <span class="label label-success">Гарантия</span>
        {%- endif -%}
    </td>
    <td>{{ item.supplierId is not empty ? item.supplierId|display_name }}</td>
    <td>{{ item.discounted ? item.discount|localize_money }}</td>

    {% set price = item.price %}
    {% set recommendPrice = partView.suggestPrice %}
    {% set isLowerPrice = price.lessThan(recommendPrice) %}

    <td{% if isLowerPrice or price.isZero %} class="danger"{% endif %} style="{%- include 'easy_admin/order/item/padding.html.twig' with {'level': level} -%}">
        {{- item.quantity / 100 }} x {{ price|localize_money -}}

        {% if isLowerPrice %}
            < {{ recommendPrice|localize_money -}}
        {% endif %}
    </td>

    <td style="{%- include 'easy_admin/order/item/padding.html.twig' with {'level': level} -%}">
        {{- item.totalPrice(true)|localize_money -}}
    </td>

    {% if order.editable %}
        <td>
            {%- apply spaceless -%}
                {% set reservable = part_reservable(item.partId) %}

                <span class="label label-primary">{{ reservable / 100 }}</span>

                {{- '&nbsp;'|raw -}}

                {%- set reserved = part_reserved_in_item(item) -%}

                {%- set reserveStyle = 'danger' -%}
                {%- set link = '#' -%}
                {%- if 0 < reserved -%}
                    {%- set link = easyadmin_path('OrderItemPart', 'deReserve', {'id': item|toId, 'referer': true}) -%}
                    {%- set reserveStyle = 'success' -%}
                {%- elseif item.quantity <= reservable -%}
                    {%- set link = easyadmin_path('OrderItemPart', 'reserve', {'id': item|toId, 'referer': true}) -%}
                {%- endif -%}

                <a href="{{ link }}">
                    <span class="label label-{{ reserveStyle }}">{{ reserved / 100 }}</span>
                </a>
            {%- endapply %}        </td>
        <td>
            <a href="{{ easyadmin_path('OrderItemPart', 'edit', {'id': item|toId}) }}">
                <i class="fa fa-pencil"></i>
            </a>
        </td>
    {% endif %}
{%- endapply %}
