{% import 'easy_admin/macro/icon.html.twig' as icon %}

{# @var item \App\Entity\OrderItemPart #}

<tr>
    <td style="{% include 'easy_admin/order/item/padding.html.twig' with {'level': level} %}">
        {{ icon.link('barcode', item.part|easyadmin_path) }}

        {{ item.part.name }}
    </td>
    <td>
        {{ item.part.number }}
    </td>
    <td>
        {{ item.quantity / 100 }} x {{ item.price|localize_money }}
    </td>
    <td>
        {{ item.totalPrice|localize_money }}
    </td>
    {% if order.editable %}
        <td>-</td>
        <td>
            {{ icon.link('pencil', item|easyadmin_path) }}
        </td>
    {% endif %}
</tr>
