{# @var item \App\Entity\OrderItemPart #}

<tr>
    <td style="{% include 'easy_admin/order/item/padding.html.twig' with {'level': level} %}">
        <a href="{{ easyadmin_path(item.part, 'edit') }}">
            <i class="fa fa-barcode"></i>
        </a>

        {{ item.part.name }}

        {% if item.warranty -%}
            <span class="label label-success">Гарантия</span>
        {%- endif -%}
    </td>
    <td>
        {{ item.part.number }}
    </td>
    <td>
        {{ item.quantity / 100 }} x {{ item.price|localize_money }}
    </td>
    <td>
        {{ item.totalPrice|localize_money }}
    </td>
    {% if order.editable %}
        <td>-</td>
        <td>
            <a href="{{ easyadmin_path(item, 'edit', order|to_query) }}">
                <i class="fa fa-pencil"></i>
            </a>
        </td>
    {% endif %}
</tr>
