{# @var item \App\Entity\Tenant\OrderItemService #}

{%- apply spaceless -%}
    <td style="{% include 'easy_admin/order/item/padding.html.twig' with {'level': level} %}">
        <i class="fa fa-wrench"></i>

        {{- '&nbsp;'|raw -}}

        {{ item.service }}

        {{- '&nbsp;'|raw -}}

        {% if order.editable %}
            <a href="{{ easyadmin_path('OrderItemPart', 'new', (order|to_query)|merge({'order_item_id': item.id})) }}">
                <i class="fa fa-plus"></i>
            </a>

            {{- '&nbsp;'|raw -}}
        {% endif %}

        {%- if item.warranty -%}
            <span class="label label-success">Гарантия</span>
        {%- endif -%}

        {% set recommendation = recommendation_by_service(item) %}
        {% if recommendation is not empty %}
            {# @var recommendation \App\Car\Entity\Recommendation #}
            {% set recommendationId = 'recommendation-' ~ recommendation.id %}
            <a id="{{ recommendationId }}"
               style="cursor: pointer"
               data-toggle="popover"
               title="Рекоммендация от {{ recommendation.createdAt|format_date }}">
                <span class="label label-info">Рекоммендация</span>
            </a>

            {% set popoverContent %}
            Создал: {{ recommendation.createdBy }} <br/>
            Диагност: {{ recommendation.worker }} <br/>
            Запчасти: <br/>

            {% for part in recommendation.parts %}
            {# @var part \App\Car\Entity\RecommendationPart #}
            - {{ part.part }} (x{{ part.quantity / 100 }}) {{ part.price|localize_money }} <br/>
            {% endfor %}
            {% endset %}

            <script>
              $('#{{ recommendationId }}').popover({
                html: true,
                placement: 'top',
                content: `{{ popoverContent }}`,
              });
            </script>
        {% endif %}
    </td>
    <td>{{ item.worker }}</td>
    <td>{{ item.discounted ? item.discount|localize_money }}</td>

    {% set totalPartPrice = item.totalPartPrice(true) %}

    <td>
        {{- item.price|localize_money }} / {{ totalPartPrice|localize_money -}}
    </td>

    <td>
        {{- totalPartPrice.add(item.totalPrice(true))|localize_money -}}
    </td>
    {% if order.editable %}
        <td></td>
        <td>
            {%- apply spaceless -%}
                <a href="{{ easyadmin_path(item, 'edit', order|to_query) }}">
                    <i class="fa fa-pencil"></i>
                </a>

                {{- '&nbsp;'|raw -}}

                {% if item.order.car is not empty %}
                    <form action="{{ easyadmin_path(item, 'recommend', {
                        'order_id': order.id,
                        'referer': true
                    }) }}" method="post" style="display: inline">
                        <i class="fa fa-asterisk icon-form-submit" style="cursor: pointer"></i>
                    </form>
                {% endif %}
            {%- endapply %}
        </td>
    {% endif %}
{%- endapply %}
