{# @var item \App\Entity\OrderItemService #}

<tr>
    <td style="{% include 'easy_admin/order/item/padding.html.twig' with {'level': level} %}">
        <a href="{{ easyadmin_path(item.service, 'edit') }}">
            <i class="fa fa-wrench"></i>
        </a>

        {{ item.service.name }}

        {% if order.editable %}
            <a href="{{ easyadmin_path('OrderItemPart', 'new', (order|to_query)|merge({'order_item_id': item.id})) }}">
                <i class="fa fa-plus"></i>
            </a>
        {% endif %}
    </td>
    <td>{{ item.worker }}</td>
    <td></td>
    <td>
        {{ item.price|localize_money }} / {{ item.totalPartPrice|localize_money }}
    </td>
    {% if order.editable %}
        <td>-</td>
        <td>
            <a href="{{ easyadmin_path(item, 'edit') }}">
                <i class="fa fa-pencil"></i>
            </a>

            <form action="{{ easyadmin_path(item, 'recommend', {
                'order_id': order.id
            }) }}" method="post" style="display: inline">
                <i class="fa fa-asterisk icon-form-submit" style="cursor: pointer"></i>
            </form>
        </td>
    {% endif %}
</tr>
