{% extends 'easy_admin/order_print/layout.html.twig' %}

{% set requisites = state.tenant.getRequisites() %}

{% block upd_header %}
    <div class="upd-header">
        <div class="upd-header-left">
            <div class="upd-header-left__name">Универсальный передаточный документ</div>
            <div class="upd-header-left__status">Статус:<span>2</span></div>
            <div class="upd-header-left__info">1 - счет-фактура и передаточный документ (акт)<br>
                2 - передаточный документ (акт)</div>
        </div>
        <div class="upd-header-right">
            <div class="upd-number">
                <div>Счет-фактура №</div><div class="upd-number__num">{{ order.number }}</div><div>от</div>
                <div class="upd-number__num">{{ (order.closed ? order.closedAt : date(null, 'Europe/Moscow'))|format_date('short') }}</div>
                <div>(1)</div>

                <div>Исправление №</div><div class="upd-number__num"></div><div>от</div><div class="upd-number__num"></div><div>(1a)</div>

                <div>Приложение № 1<br>
                    к постановлению Правительства Российской Федерации<br>
                    от 26 декабря 2011 г. No 1137 (в ред. Постановления Правительства РФ от 19.08.2017 №981)</div>
            </div>
            <div class="upd-contract-info">
                <div><b>Продавец</b></div><div><b>{{ requisites.name }}</b></div><div>(2)</div>
                <div>Адрес</div><div>{{ requisites.address }}</div><div>(2а)</div>
                <div>ИНН/КПП продавца</div><div>{{- requisites.inn -}}/{{- requisites.kpp -}}</div><div>(2б)</div>
                <div>Грузоотправитель и его адрес</div><div>&mdash;</div><div>(3)</div>
                <div>Грузополучатель и его адрес</div><div>&mdash;</div><div>(4)</div>
                <div>К платежно-расчетному документу</div><div>&mdash;</div><div>(5)</div>

                {% set customerName = '&mdash;' %}
                {% set customerAddress = '&mdash;' %}
                {% set customerRequisite = '&mdash;' %}

                {% if customer is not empty %}
                    {% if customer.type('person') %}
                        {% set customerName = 'физическое лицо' %}
                    {% elseif customer.type('organization') %}
                        {% set customerName = customer.name %}
                        {% set customerAddress = customer.address %}
                        {% set customerRequisite = customer.requisite.inn ~ '/' ~ customer.requisite.kpp %}
                    {% endif %}
                {% endif %}
                <div><b>Покупатель</b></div><div><b>{{- customerName|raw -}}</b></div><div>(6)</div>
                <div>Адрес</div><div>{{- customerAddress|raw -}}</div><div>(6а)</div>
                <div>ИНН/КПП покупателя</div><div>{{- customerRequisite|raw -}}</div><div>(6б)</div>

                <div>Валюта: наименование, код</div><div>российский рубль, 643</div><div>(7)</div>
            </div>
        </div>
    </div>
{% endblock %}


{% block upd_table_header %}
    <div class="upd-table__row row-header">
        <div class="upd-table__cell cell-header double-row">№ п/п</div>
        <div class="upd-table__cell cell-header double-row">Код товара/работ, услуг</div>
        <div class="upd-table__cell cell-header double-row">Наименование товара (описание выполненных работ, оказанных услуг), имущественного права</div>
        <div class="upd-table__cell cell-header double-row">Код вида товара</div>
        <div class="upd-table__cell cell-header double-column">Единица измерения</div>
        <div class="upd-table__cell cell-header double-row">Количество (объем)</div>
        <div class="upd-table__cell cell-header double-row">Цена (тариф) за единицу измерения</div>
        <div class="upd-table__cell cell-header double-row">Стоимость товаров (работ, услуг), имущественных прав без налога – всего</div>
        <div class="upd-table__cell cell-header double-row">В том числе сумма акциза</div>
        <div class="upd-table__cell cell-header double-row">Нало говая ставка</div>
        <div class="upd-table__cell cell-header double-row cell-header double-row">Сумма налога, предъявля- емая покупателю</div>
        <div class="upd-table__cell cell-header double-row">Стоимость товаров (работ, услуг), имущественных прав с налогом – всего</div>
        <div class="upd-table__cell cell-header double-column">Страна происхождения товара</div>
        <div class="upd-table__cell cell-header double-row">Регистрационный номер таможенной декларации</div>
        <div class="upd-table__cell cell-header">код</div>
        <div class="upd-table__cell cell-header">условное обозначение (нацио- нальное)</div>
        <div class="upd-table__cell cell-header">Цифро- вой код</div>
        <div class="upd-table__cell cell-header">Краткое наименование</div>
    </div>
    <div class="upd-table__row">
        <div class="upd-table__cell">А</div>
        <div class="upd-table__cell">Б</div>
        <div class="upd-table__cell">1</div>
        <div class="upd-table__cell">1а</div>
        <div class="upd-table__cell">2</div>
        <div class="upd-table__cell">2а</div>
        <div class="upd-table__cell">3</div>
        <div class="upd-table__cell">4</div>
        <div class="upd-table__cell">5</div>
        <div class="upd-table__cell">6</div>
        <div class="upd-table__cell">7</div>
        <div class="upd-table__cell">8</div>
        <div class="upd-table__cell">9</div>
        <div class="upd-table__cell">10</div>
        <div class="upd-table__cell">10а</div>
        <div class="upd-table__cell">11</div>
    </div>
{% endblock %}


{% macro upd_table_item_row(item) %}
    <div class="upd-table__row">
        <div class="upd-table__cell">{{ item.col_a|default('')|raw }}</div> {# номер позиции #}
        <div class="upd-table__cell">{{ item.col_b|default('')|raw }}</div> {# код товара #}
        <div class="upd-table__cell left">{{ item.col_1|default('&mdash;')|raw }}</div> {# Наименование позиции #}
        <div class="upd-table__cell">{{ item.col_1a|default('&mdash;')|raw }}</div> {# код вида товара #}
        {# единица измерения #}
            <div class="upd-table__cell">{{ item.col_2|default('&mdash;')|raw }}</div> {# Код #}
            <div class="upd-table__cell">{{ item.col_2a|default('&mdash;')|raw }}</div> {# Условное обозначение #}
        <div class="upd-table__cell">{{ item.col_3|default('&mdash;')|raw }}</div> {# количество #}
        <div class="upd-table__cell">{{ item.col_4|default('&mdash;')|raw }}</div> {# цена за единицу #}
        <div class="upd-table__cell">{{ item.col_5|default('&mdash;')|raw }}</div> {# стоимость #}
        <div class="upd-table__cell">{{ item.col_6|default('&mdash;')|raw }}</div> {# акциз #}
        <div class="upd-table__cell">{{ item.col_7|default('&mdash;')|raw }}</div> {# налоговая ставка #}
        <div class="upd-table__cell">{{ item.col_8|default('&mdash;')|raw }}</div> {# Сумма налога #}
        <div class="upd-table__cell">{{ item.col_9|default('&mdash;')|raw }}</div> {# Стоимость товаров и услуг с налогом #}
        {# Страна происхождения #}
            <div class="upd-table__cell">{{ item.col_10|default('&mdash;')|raw }}</div> {# Цифровой код #}
            <div class="upd-table__cell">{{ item.col_10a|default('&mdash;')|raw }}</div> {# Краткое наименование #}
        <div class="upd-table__cell">{{ item.col_11|default('&mdash;')|raw }}</div> {# Регистрационный номер таможенной декларации #}
    </div>
{% endmacro %}


{% block upd_table_totals %}
    <div class="upd-table__row">
        <div class="upd-table__cell"></div> {# номер позиции #}
        <div class="upd-table__cell"></div>                                       {# код товара #}
        <div class="upd-table__cell cell-total-name left">Всего к оплате</div> {# Наименование позиции #}
        <div class="upd-table__cell">{{ order.totalForPayment(null, false)|localize_money(true) }}</div> {# стоимость #}
        <div class="upd-table__cell cell-total-x">X</div> {# акциз #}
        <div class="upd-table__cell">0.00</div> {# Сумма налога #}
        <div class="upd-table__cell">{{ order.totalForPayment(null, false)|localize_money(true) }}</div> {# Стоимость товаров и услуг с налогом #}
        {# Страна происхождения #}
            <div class="upd-table__cell"></div> {# Цифровой код #}
            <div class="upd-table__cell"></div> {# Краткое наименование #}
        <div class="upd-table__cell"></div> {# Регистрационный номер таможенной декларации #}
    </div>
{% endblock %}


{% block upd_table %}
    {% set pageTotalNumber = 1 %}
    {% set position = 0 %}

    {% set pageBreakeFirstPageCount = 14 %}
    {% set pageBreakeMiddlePageCount = 25 %}

    {% for orderItem in order.rootItems('group')|merge(order.rootItems('service'))|merge(order.items('part', true)) %}
        {% set position = position + 1 %}
        {% if instanceOf(orderItem, 'App\\Order\\Entity\\OrderItemPart') %}
            {% set orderItemPart = orderItem %}
            {% set part = part_by_id(orderItemPart.partId) %}
            {% set partPrice = orderItemPart.discounted ? orderItemPart.price.subtract(orderItemPart.discount) :
                orderItemPart.price %}
            {{ _self.upd_table_item_row({
                'col_a': position,
                'col_1': part.number ~ ' ' ~ part.name,
                'col_2': '796',
                'col_2a': 'шт',
                'col_3': orderItemPart.quantity / 100,
                'col_4': partPrice|localize_money(true),
                'col_5': orderItemPart.totalPrice(true)|localize_money(true),
                'col_6': 'без акциза',
                'col_7': 'без НДС',
                'col_8': 'без НДС',
                'col_9': orderItemPart.totalPrice(true)|localize_money(true),
            }) }}
        {% elseif instanceOf(orderItem, 'App\\Order\\Entity\\OrderItemService') %}
            {% set orderItemService = orderItem %}
            {{ _self.upd_table_item_row({
                'col_a': position,
                'col_1': orderItemService,
                'col_5': orderItemService.totalPrice(true)|localize_money(true),
                'col_6': 'без акциза',
                'col_7': 'без НДС',
                'col_8': 'без НДС',
                'col_9': orderItemService.totalPrice(true)|localize_money(true),
            }) }}
        {% elseif instanceOf(orderItem, 'App\\Order\\Entity\\OrderItemGroup') %}
            {% set orderItemGroup = orderItem %}
            {% set groupPrice = orderItemGroup.totalServicePrice(true) %}
            {% if orderItemGroup.hideParts %}
                {% set groupPrice = groupPrice.add(orderItemGroup.totalPartPrice(true)) %}
            {% endif %}
            {{ _self.upd_table_item_row({
                'col_a': position,
                'col_1': orderItemGroup,
                'col_5': groupPrice|localize_money(true),
                'col_6': 'без акциза',
                'col_7': 'без НДС',
                'col_8': 'без НДС',
                'col_9': groupPrice|localize_money(true),
            }) }}
        {% endif %}

        {% if position % pageBreakeFirstPageCount == 0 and pageTotalNumber == 1 %}
            {% set pageTotalNumber = pageTotalNumber + 1 %}
            {{ block('page_breake') }}
        {% elseif (position - pageBreakeFirstPageCount) % pageBreakeMiddlePageCount == 0 %}
            {% set pageTotalNumber = pageTotalNumber + 1 %}
            {{ block('page_breake') }}
        {% endif %}
    {% endfor %}

    {% if (position - pageBreakeFirstPageCount) % pageBreakeMiddlePageCount >= pageBreakeFirstPageCount %}
        {% set pageTotalNumber = pageTotalNumber + 1 %}
        {{ block('page_breake') }}
    {% endif %}

    {{ block('upd_table_totals') }}
    {{ block('upd_table_footer') }}

{% endblock %}


{% block upd_table_footer %}
    <div class="upd-table-footer">
        <div class="upd-table-footer-left">
            Документ<br> составлен на<br>
            <span>{{ pageTotalNumber }}</span>листах
        </div>
        <div class="upd-table-footer-right">
            <div class="upd-table-footer__item">Руководитель организации или иное уполномоченное лицо</div>
            <div class="upd-table-footer__item underline"></div> {# подпись #}
            <div class="upd-table-footer__item underline">{{ requisites.type != 'IP' ? requisites.head : '' }}</div>
            <div class="upd-table-footer__item">Главный бухгалтер или иное уполномоченное лицо</div>
            <div class="upd-table-footer__item underline"></div> {# подпись #}
            <div class="upd-table-footer__item underline">{{ requisites.type != 'IP' ? requisites.head : '' }}</div>
            <div class="upd-table-footer__item"></div> {# пустая #}
            <div class="upd-table-footer__item">(подпись)</div>
            <div class="upd-table-footer__item">(ф.и.о.)</div>
            <div class="upd-table-footer__item"></div> {# пустая ячейка #}
            <div class="upd-table-footer__item">(подпись)</div>
            <div class="upd-table-footer__item">(ф.и.о.)</div>
            <div class="upd-table-footer__item">Индивидуальный предприниматель или иное уполномоченное лицо</div>
            <div class="upd-table-footer__item underline"></div> {# подпись #}
            <div class="upd-table-footer__item underline">{{ requisites.type == 'IP' ? requisites.head : '' }}</div>
            <div class="upd-table-footer__item requisites underline">{{ requisites.type == 'IP' ? 'ОГРН ' ~ requisites.ogrn : '' }}</div>
            <div class="upd-table-footer__item"></div> {# пустая ячейка #}
            <div class="upd-table-footer__item">(подпись)</div>
            <div class="upd-table-footer__item">(ф.и.о.)</div>
            <div class="upd-table-footer__item requisites">(реквизиты свидетельства о государственной регистрации индивидуального предпринимателя)</div>
        </div>
    </div>
{% endblock %}


{% block upd_pre_footer %}
    <div class="upd-footer-pre">
        <div class="upd-footer-pre__row">
            <div>Основание передачи (сдачи) / получения (приемки)</div>
            <div></div>
            <div>[8]</div>
            <div>(договор; доверенность и др.)</div>
        </div>
        <div class="upd-footer-pre__row">
            <div>Данные о транспортировке и грузе</div>
            <div></div>
            <div>[9]</div>
            <div>(транспортная накладная, поручение экспедитору, экспедиторская / складская расписка и др. / масса нетто/ брутто груза, если не приведены ссылки на транспортные документы, содержащие эти сведения)</div>
        </div>
    </div>
{% endblock %}


{% macro upd_sign(type, side) %}
    {% if type == 'executer' %}
        {% set lineNum = 10 %}
    {% elseif type == 'customer' %}
        {% set lineNum = 15 %}
    {% else %}
        {% set lineNum = 1 %}
    {% endif %}
    <div class="upd-footer-sings-wrapper">
        <div class="upd-footer-sings-block">Товар (груз) передал / услуги, результаты работ, права сдал</div>
        <div class="upd-footer-sings-block">
            <div class="upd-footer-sings__sign">
                <div class="underline">{{ side.headType|default('') }}</div>
                <div class="underline"></div>
                <div class="underline">{{ side.headName|default('') }}</div>

                <div>(должность)</div>
                <div>(подпись)</div>
                <div>(ф.и.о)</div>
            </div>
            <div class="upd-footer-sings__num">[{{ lineNum }}]</div>
        </div>
        <div class="upd-footer-sings-block">
            <div class="upd-footer-sings__date">
                <div>Дата отгрузки, передачи (сдачи)</div>
                <div class="underline"></div>
                <div class="underline"></div>
                20
                <div class="underline"></div>
                г.
            </div>
            <div class="upd-footer-sings__num">[{{ lineNum + 1 }}]</div>
        </div>
        <div class="upd-footer-sings-block">Иные сведения об отгрузке, передаче</div>
        <div class="upd-footer-sings-block">
            <div class="upd-footer-sings__shipment">
                <div class="underline"></div>
                <div>(ссылки на неотъемлемые приложения, сопутствующие документы, иные документы и т.п.)</div>
            </div>
            <div class="upd-footer-sings__num">[{{ lineNum + 2 }}]</div>
        </div>
        <div class="upd-footer-sings-block">Ответственный за правильность оформления факта хозяйственной жизни</div>
        <div class="upd-footer-sings-block">
            <div class="upd-footer-sings__sign">
                <div class="underline">{{ side.headType|default('') }}</div>
                <div class="underline"></div>
                <div class="underline">{{ side.headName|default('') }}</div>

                <div>(должность)</div>
                <div>(подпись)</div>
                <div>(ф.и.о)</div>
            </div>
            <div class="upd-footer-sings__num">[{{ lineNum + 3 }}]</div>
        </div>
        <div class="upd-footer-sings-block">Наименование экономического субъекта – составителя документа (в т.ч. комиссионера / агента)</div>
        <div class="upd-footer-sings-block">
            <div class="upd-footer-sings__side-info">
                <div class="underline">{{ side.sideInfoStr|default('') }}</div>
                <div>(может не заполняться при проставлении печати в М.П., может быть указан ИНН / КПП)</div>
            </div>
            <div class="upd-footer-sings__num">[{{ lineNum + 4 }}]</div>
        </div>
        <div class="upd-footer-sings__mp">М.П.</div>
    </div>

{% endmacro %}


{% block upd_sings_footer %}
    {% set customerSideInfoStr = '' %}
    {% if customer is not empty %}
        {% if customer.type('organization') %}
            {% set customerSideInfoStr = customer.name ? customer.name : '' %}
            {% set customerSideInfoStr = customerSideInfoStr ~ (customer.requisite.inn ? ' ИНН:' ~ customer.requisite.inn : '') %}
            {% set customerSideInfoStr = customerSideInfoStr ~ (customer.requisite.kpp ? '/КПП:' ~ customer.requisite.kpp : '') %}
        {% endif %}
    {% endif %}
    {% set sideCustomer = {
        'sideInfoStr': customerSideInfoStr
    } %}

    {% if requisites is not empty %}
        {% set executerInfoStr = requisites.name %}
        {% if requisites.type == 'IP' %}
            {% set executerInfoStr = executerInfoStr ~ (requisites.ogrn ? ' ОГРН ' ~ requisites.ogrn : '') %}
        {% else %}
            {% set executerInfoStr = executerInfoStr ~ (requisites.inn ? ' ИНН:' ~ requisites.inn : '') %}
            {% set executerInfoStr = executerInfoStr ~ (requisites.kpp ? '/КПП:' ~ requisites.kpp : '') %}
        {% endif %}

        {% set sideExecuter = {
            'headName': requisites.head,
            'headType': requisites.headType,
            'sideInfoStr': executerInfoStr
        } %}
    {% endif %}
    <div class="upd-footer-sings">
        <div>
            {{ _self.upd_sign('executer', sideExecuter) }}
        </div>
        <div>
            {{ _self.upd_sign('customer', sideCustomer) }}
        </div>
    </div>
{% endblock %}


{% block page_begin %}
    <div class="page landscape bookkeeping-fonts">

        <main>
            {{ block('upd_header') }}
            <div class="upd-table">
                {{ block('upd_table_header') }}
                {% endblock %}

                {% block page_breake %}
            </div>
        </main>
    </div>
    <div class="page landscape bookkeeping-fonts">
        <main>
            <div class="upd-table">
                {% endblock %}

                {% block page_end %}

            </div>
            <div class="upd-footer">
                {{ block('upd_pre_footer') }}
                {{ block('upd_sings_footer') }}
            </div>
        </main>
    </div>
{% endblock %}




{% block content %}

    <div class="content pages" id="content">
        {{ block('page_begin') }}
        {{ block('upd_table') }}
        {{ block('page_end') }}
    </div>
{% endblock %}
