{% extends 'easy_admin/order_print/layout_v2.html.twig' %}

{# @var order \App\Entity\Tenant\Order #}
{# @var customer \App\Entity\Landlord\Operand #}

{% set requisites = state.tenant.getRequisites() %}

{% block order_item_group %}
    <tbody>
    {# @var orderItemGroup \App\Entity\Tenant\OrderItemGroup #}
    <tr class="order-table-work">
        <td>{{ orderItemGroup }}</td>
        <td>{# Исполнитель #}</td>
        <td>{# Количество #}</td>
        <td>
            {% set groupPrice = orderItemGroup.totalServicePrice(true) %}

            {% if orderItemGroup.hideParts %}
                {% set groupPrice = groupPrice.add(orderItemGroup.totalPartPrice(true)) %}
            {% endif %}

            {{ groupPrice|localize_money }}
        </td>
        <td></td>
        <td>{{ groupPrice|localize_money }}</td>
    </tr>
    {% if not orderItemGroup.hideParts %}
        {% for orderItemPart in orderItemGroup.parts %}
            {{ block('order_item_part') }}
        {% endfor %}
    {% endif %}
    </tbody>
{% endblock %}

{% block order_item_service %}
    {# @var orderItemService \App\Entity\Tenant\OrderItemService #}
    <tbody>
    <tr class="order-table-work">
        <td>
            {{- orderItemService -}}
            {%- if orderItemService.warranty %}
                <span style="font-weight: 600">(гарантия)</span>
            {%- endif -%}
        </td>
        <td>{{ orderItemService.worker.id }}</td>
        <td></td>
        <td>{{ orderItemService.price|localize_money }}</td>
        <td>
            {% if orderItemService.discounted %}
                {{ orderItemService.discount|localize_money }}
            {% endif %}
        </td>
        <td>{{ orderItemService.totalPrice(true)|localize_money }}</td>
    </tr>
    {% for orderItemPart in orderItemService.children %}
        {{ block('order_item_part') }}
    {% endfor %}
    </tbody>
{% endblock %}

{% block order_item_part %}
    {# @var orderItemPart \App\Entity\Tenant\OrderItemPart #}
    {% set part = orderItemPart.part %}
    {# @var part \App\Entity\Landlord\Part #}
    <tr class="order-table-part">
        <td colspan="2" class="order-table-part__name">
            {{ part.name }}
            <span class="order-table-part__part_number">
                ({{ part.number }} {{ part.manufacturer }})
            </span>
        </td>
        <td>{{ orderItemPart.quantity / 100 }}</td>
        <td>{{ orderItemPart.price|localize_money }}</td>
        <td>
            {% if orderItemPart.discounted %}
                {{ orderItemPart.discount|localize_money }}
            {% endif %}
        </td>
        <td>{{ orderItemPart.totalPrice(true)|localize_money }}</td>
    </tr>
{% endblock %}

{% block content %}
    <div class="container" id="content">
        {{ block('header', 'easy_admin/order_print/header.html.twig') }}
        <main>
            <section class="order-info">
                <div class="order-info-customer">
                    <span class="order-info-legend">
                        Заказчик
                    </span>
                    {# Если заказчик организация, то выводить все доступные реквизиты#}
                    {{- customer.fullName -}}

                    {% if customer.type('person') %}
                        {%- if customer.telephone is not empty %}
                            тел: {{ customer.telephone|phone_number_format }}
                        {%- endif -%}
                        {%- if customer.email is not empty %}
                            e-mail: {{ customer.email }}
                        {% endif %}
                    {%- elseif customer.type('organization') -%}
                        {# @var customer \App\Entity\Landlord\Organization #}
                        {%- if not customer.requisite.empty -%}
                            , {{- customer.requisite -}}
                        {%- endif -%}
                    {% endif %}
                </div>
                <div class="order-info-executor">
                    <span class="order-info-legend">
                        Исполнитель
                    </span>
                    {{ requisites.name }}
                    ОГРН: {{ requisites.ogrn }}
                    ИНН: {{ requisites.inn }}
                    КПП: {{ requisites.kpp }}
                    Р/С: {{ requisites.rs }}
{#                    К/С: {{ requisites.ks }}#}
                    БИК: {{ requisites.bik }}
                </div>
                {% if car is not empty %}
                    <div class="order-info-car">
                    <span class="order-info-legend">
                        Автомобиль
                    </span>
                        {{ car.toString }} {{ car.vin }} {{ car.gosnomer }} пробег: {{ order.mileage }}
                    </div>
                {% endif %}
            </section>
            <h2 class="order-info-title">
                заказ-наряд: {{ order.id }}
                ОТ {{ (order.closed ? order.closedAt : date(null, 'Europe/Moscow'))|localizeddate('short', 'none') }}
            </h2>
            <section class="order">
                <table class="table order-table">
                    <caption>выполненные работы и запчасти</caption>
                    <thead>
                    <tr>
                        <td>наименование</td>
                        <td class="order-table__executor">исп-ль</td>
                        <td class="order-table__quantity">кол-во</td>
                        <td class="order-table__num">стоимость</td>
                        <td class="order-table__num">скидка</td>
                        <td class="order-table__num">итого</td>
                    </tr>
                    </thead>
                    {% for item in order.rootItems %}
                        {% if instanceOf(item, 'App\\Entity\\Tenant\\OrderItemPart') %}
                            {% set orderItemPart = item %}
                            {{ block('order_item_part') }}
                        {% elseif instanceOf(item, 'App\\Entity\\Tenant\\OrderItemService') %}
                            {% set orderItemService = item %}
                            {{ block('order_item_service') }}
                        {% elseif instanceOf(item, 'App\\Entity\\Tenant\\OrderItemGroup') %}
                            {% set orderItemGroup = item %}
                            {{ block('order_item_group') }}
                        {% endif %}
                    {% endfor %}

                    <tbody>
                    <tr class="order-table-subtotals">
                        <td colspan="2" rowspan="5" class="no-border">
                            <div class="stamps_guaranty">
                                <div class="stamps_guaranty-qr">
                                    Гарантийные условия по ссылке:
                                    <img src="{{ qr_code_data_uri('www.automagistre.ru/gr') }}"
{#                                         width="100"#}
{#                                         height="100" #}
                                         title="QR код" alt="QR">
                                </div>
                            </div>
                        </td>
                        <td colspan="3" class="order-table-subtotals__name">всего по работам</td>
                        <td>{{ order.totalGroupPrice.add(order.totalServicePrice(false, true))|localize_money }}</td>
                    </tr>
                    <tr class="order-table-subtotals">
                        <td colspan="3" class="order-table-subtotals__name">всего по материалам</td>
                        <td>{{ order.totalPartPrice(false, true)|localize_money }}</td>
                    </tr>
                    {% if order.discounted %}
                        <tr class="order-table-subtotals">
                            <td colspan="3" class="order-table-subtotals__name">всего скидка</td>
                            <td>{{ order.discount|localize_money }}</td>
                        </tr>
                    {% endif %}
                    <tr class="order-table-subtotals">
                        <td colspan="3" class="order-table-subtotals__name">Предоплата / Долг</td>
                        <td>
                            {% if balance is defined %}
                                {% if balance.isZero %}
                                    {{ order.totalPayments|localize_money }}
                                {% else %}
                                    {%- if balance.isNegative %}
                                        {{ order.totalPayments|localize_money }} - {{ balance.absolute|localize_money }}
                                    {% elseif balance.isPositive %}
                                        {{ order.totalPayments.add(balance)|localize_money }}
                                    {%- endif -%}
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="order-table-totals">
                        <td colspan="3" class="order-table-totals__name">итого к оплате</td>
                        <td class="order-table-totals__sum">{{ order.totalForPayment(balance|default(null))|localize_money }}</td>
                    </tr>
                    </tbody>
                </table>
            </section>

            <section class="stamps">
                <div>С объемами и стоимостью работ согласен.
                    С правилами предоставления услуг ознакомлен:
                </div>
                <div class="stamps_final">
                    <div class="stamp">заказчик</div>
                    <div class="stamp">исполнитель</div>
                </div>
            </section>

            {% if recommendations is defined %}
                <section class="recommendations">
                    <h3 class="order-info-title">РЕКОМЕНДАЦИИ ПО АВТОМОБИЛЮ VIN: {{ car.vin }} </h3>
                    <table class="table recommendations-table">
                        <caption>рекомендуемые работы и запчасти</caption>

                        {% for recommendation in recommendations.items %}
                            <tbody>
                            <tr class="recommendations-table-work">
                                <td>{{ recommendation.service }}</td>
                                <td class="recommendations-table-work__legend">работа:</td>
                                <td>{{ recommendation.price|localize_money }}</td>
                                <td class="recommendations-table-work__legend">Запчасти:</td>
                                <td>{{ recommendation.totalPartPrice|localize_money }}</td>
                                <td class="recommendations-table-work__legend">Всего:</td>
                                <td>{{ recommendation.totalPrice|localize_money }}</td>
                            </tr>

                            {% for part in recommendation.parts %}
                                <tr class="order-table-part">
                                    <td colspan="3" class="order-table-part__name">
                                        {{ part.part }}
                                        <span class="order-table-part__part_number">
                                        ({{ part.part.manufacturer }})
                                        </span>
                                    </td>
                                    <td>{{ part.quantity / 100 }}</td>
                                    <td>{{ part.price|localize_money }}</td>
                                    <td>{{ part.totalPrice|localize_money }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        {% endfor %}

                        <tbody>
                        <tr class="order-table-subtotals">
                            <td colspan="3" rowspan="5" class="no-border"></td>
                            <td colspan="3" class="order-table-subtotals__name">всего по работам</td>
                            <td>{{ recommendations.totalServicePrice|localize_money }}</td>
                        </tr>
                        <tr class="order-table-subtotals">
                            <td colspan="3" class="order-table-subtotals__name">всего по материалам</td>
                            <td>{{ recommendations.totalPartPrice|localize_money }}</td>
                        </tr>
                        <tr class="order-table-totals">
                            <td colspan="3" class="order-table-totals__name">ВСЕГО РЕКОМЕНДАЦИЙ</td>
                            <td class="order-table-totals__sum">{{ recommendations.totalPrice|localize_money }}</td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            {% endif %}
        </main>
    </div>
{% endblock %}
