{% extends 'easy_admin/order_print/layout.html.twig' %}

{% from 'easy_admin/order_print/chunks/order_info.html.twig' import order_info %}
{% from 'easy_admin/order_print/chunks/order_table.html.twig' import order_table_header, order_table_item, order_table_total %}
{% from 'easy_admin/order_print/chunks/recommendations_table.html.twig' import recommendations_table_header, recommendations_table_item, recommendations_table_totals %}

{# @var order \App\Order\Entity\Order #}
{# @var car \App\Car\Entity\Car #}
{# @var customer \App\Customer\Domain\Operand #}

{% set balance = order.closed ? order.closedBalance : (customer is not empty ? customer|balance : null) %}

{% set requisites = tenant.getRequisites() %}

{% set page = 1 %}
{% set row = 1 %}


{% block order_page_footer %}
    <footer class="page-brake">
        <div class="footer">
            {% include 'easy_admin/order_print/chunks/guaranty.html.twig' %}
            <div class="stamps">
                <div>
                    <p class="stamps__info">
                        С объемами и стоимостью работ согласен.<br>
                        С правилами предоставления услуг ознакомлен:
                    </p>
                </div>
                <div class="stamps__side">
                    <div>Заказчик:</div>
                    <div><hr></div>
                </div>
                <div class="stamps__side">
                    <div>Исполнитель:</div>
                    <div><hr></div>
                </div>
            </div>
            <div class="footer__img">
                <img src="{{ asset('assets/img/print_form_footer.png') }}" alt="Footer image">
            </div>
            <div class="footer__mp">M.П.</div>
        </div>
    </footer>
{% endblock %}

{% block recommendation_page_footer %}
    <footer class="page-brake">
        <div class="footer">
            {% include 'easy_admin/order_print/chunks/guaranty.html.twig' %}

            {{ recommendations_table_totals(car) }}

            <div class="footer__img">
                <img src="{{ asset('assets/img/print_form_footer.png') }}" alt="Footer image">
            </div>
        </div>
    </footer>
{% endblock %}

{% block order_first_page_begin %}
    <div class="page portrait order-fonts js-order-page">
        <main class="portrait">
            {% include 'easy_admin/order_print/chunks/header.html.twig' %}
            <div class="main-table">
                {{ order_info('заказ-наряд', order, customer, car) }}
                <div class="order-table">
                    {{ order_table_header() }}
{% endblock %}

{% block order_breake_page %}
                </div>
            </div>
        </main>
    </div>
    <div class="page portrait order-fonts js-order-page">
        <main class="portrait">
            <div class="main-table">
                {{ order_info('заказ-наряд', order, customer, car) }}
                <div class="order-table">
                    {{ order_table_header() }}
{% endblock %}

{% block order_last_page_end %}
                    {{ order_table_total(order, balance) }}
                    {{ order_table_total(order, balance, false, true) }}
                </div>
            </div>
        </main>
        {{ block('order_page_footer') }}
    </div>
{% endblock %}

{% block recommendations_page_begin %}
    <div class="page portrait order-fonts js-recommendations-page">
        <main class="portrait">
            <div>
                {{ order_info('рекомендации', order, customer, car) }}
                <div class="recommendations-table">
                    {{ recommendations_table_header() }}
{% endblock %}

{% block recommendations_page_breake %}
                </div>
            </div>
        </main>
    </div>
    <div class="page html2pdf__page-break-after js-recommendations-page">
        <main>
            <div>
                {{ order_info('рекомендации', order, customer, car) }}
                <div class="recommendations-table">
                    {{ recommendations_table_header() }}
{% endblock %}

{% block recommendations_page_end %}
                </div>
            </div>
        </main>
        {{ block('recommendation_page_footer') }}
    </div>
{% endblock %}


{% block content %}
    <div class="page-settings portrait page-order order-fonts">
        <div class="page-settings__col">
            <div class="page-settings__label">Страницы:</div>
            <label class="label--checkbox page-settings__item"><input class="checkbox" type="checkbox" checked id="js-show-order">Заказ</label>
            <label class="label--checkbox page-settings__item"><input class="checkbox" type="checkbox" checked id="js-show-recommendations">Рекомендации</label>
        </div>
        <div class="page-settings__col">
            <div class="page-settings__label">Настройки:</div>
            <label class="label--checkbox page-settings__item"><input class="checkbox" type="checkbox" id="js-show-totals">Без учета баланса</label>
            <label class="label--checkbox"><input class="checkbox" type="checkbox" id="js-hide-part-numbers">Скрыть номера деталей</label>
        </div>
    </div>

    <div class="content pages" id="content">
        {% if order.rootItems|length %}
            {% for item in order.rootItems  %}

                {% set next_block_length = 1 %}
                {% if instanceOf(item, 'App\\Order\\Entity\\OrderItemService') %}
                    {% set next_block_length = next_block_length + item.children|length %}
                {% elseif instanceOf(item, 'App\\Order\\Entity\\OrderItemGroup') %}
                    {% if not item.hideParts %}
                        {% set next_block_length = next_block_length + item.parts|length %}
                    {% endif %}
                {% endif %}

                {% if page == 1 and row == 1 %}
                    {{ block('order_first_page_begin') }}
                {% elseif next_block_length + row > 25 %}
                    {{ block('order_breake_page') }}
                    {% set row = 1 %}
                    {% set page = page + 1 %}
                {% endif %}
                {{ order_table_item(item) }}
                {% set row = row + next_block_length %}
            {% endfor %}

            {{ block('order_last_page_end') }}
        {% endif %}

        {% if car is not empty and car.recommendations is not empty %}

            {% set page = 1 %}
            {% set row = 1 %}

            {% for recommendation in car.recommendations %}
                {% set next_block_length = 1 + recommendation.parts|length %}
                {% if page == 1 and row == 1 %}
                   {{ block('recommendations_page_begin') }}
                {% elseif row + next_block_length > 30 %}
                    {{ block('recommendations_page_breake') }}
                    {% set page = page + 1 %}
                    {% set row = 1 %}
                {% endif %}
                {{ recommendations_table_item(recommendation) }}
                {% set row = row + next_block_length %}
            {% endfor %}

            {{ block('recommendations_page_end') }}

        {% endif %}
    </div>
{% endblock %}


{% block script %}
    <script>
      const orderShowCheckBox = document.querySelector('#js-show-order');
      const recommendationsShowCheckBox = document.querySelector('#js-show-recommendations');

      const orderPages = document.querySelectorAll('.page.js-order-page');
      const recommendationsPages = document.querySelectorAll('.page.js-recommendations-page');

      const totalsShowCheckbox = document.querySelector('#js-show-totals');
      const totalsCleanBlock = document.querySelector('.js-order-totals-clean');
      const totalsBalanceBlock = document.querySelector('.js-order-totals-balance');

      const orderHidePartNumberCheckBox = document.querySelector('#js-hide-part-numbers')
      const orderPartNumberItems = document.querySelectorAll('.part-number')

      orderShowCheckBox.addEventListener('click', () => {
        orderPages.forEach( page => page.classList.toggle('hidden', !orderShowCheckBox.checked));
        totalsShowCheckbox.disabled = !orderShowCheckBox.checked
      });

      if (recommendationsPages.length) {
        recommendationsShowCheckBox.addEventListener('click', () => {
          recommendationsPages.forEach( page => page.classList.toggle('hidden', !recommendationsShowCheckBox.checked))
        });
      } else {
        recommendationsShowCheckBox.checked = false;
        recommendationsShowCheckBox.disabled = true;
      }

      if (orderPartNumberItems.length) {
        orderHidePartNumberCheckBox.addEventListener('click', ()=> {
          orderPartNumberItems.forEach(item => item.classList.toggle('hidden', orderHidePartNumberCheckBox.checked))
        })
      } else {
        orderHidePartNumberCheckBox.disabled = true
      }

      totalsShowCheckbox.addEventListener('click', () => {
        totalsBalanceBlock.classList.toggle('hidden', totalsShowCheckbox.checked);
        totalsCleanBlock.classList.toggle('hidden', !totalsShowCheckbox.checked)
      })
    </script>
{% endblock %}
