{% extends 'easy_admin/order_print/layout.html.twig' %}

{# @var order \App\Entity\Tenant\Order #}
{# @var car \App\Entity\Landlord\Car #}

{% set customer = order.customer %}
{% set car = order.car %}

{% set balance = customer is not empty ? customer|balance : null %}

{% set groups = order.rootItems('group') %}
{% set services = order.rootItems('service') %}
{% set parts = order.items('part', true) %}

{% set recommendations = car is not empty ? car.recommendations : null %}

{% block content %}
    {% set requisites = state.tenant.getRequisites() %}

    <div class="container" id="content">
        <header class="row">
            <div class="logo col-sm-6">
                <img src="{{ asset('assets/img/logo_print.svg') }}" alt="Лого Автомагистр">
            </div>
            <div class="main-info col-sm-6 row">
                <ul class="list-unstyled contacts col-sm-5">
                    {% for telephone in requisites.telephones %}
                        <li>{{ telephone }}</li>
                    {% endfor %}
                </ul>
                <ul class="list-unstyled contacts col-sm-7">
                    <li>www.automagistre.ru</li>
                    <li>{{ requisites.address }}</li>
                </ul>
            </div>
        </header>

        <hr>

        <section class="user-info row justify-content-sm-around">
            <div class="user-info__user col-sm-4">
                <table class="table-sm">
                    <tbody>
                    <tr>
                        <td><strong>заказчик:</strong></td>
                        <td class="name">{{ customer.fullName|default }}</td>
                    </tr>
                    <tr>
                        <td>Телефон:</td>
                        <td>{{ customer.telephone|default(false) ? customer.telephone|phone_number_format }}</td>
                    </tr>
                    <tr>
                        <td>автомобиль:</td>
                        <td>{{ car.carModel|default }}</td>
                    </tr>
                    <tr>
                        <td class="uppercase">vin:</td>
                        <td class="uppercase">{{ car.identifier|default }}</td>
                    </tr>
                    <tr>
                        <td>гос. номер:</td>
                        <td class="uppercase">{{ car.gosnomer|default }}</td>
                    </tr>
                    <tr>
                        <td>год выпуска:</td>
                        <td>{{ car.year|default }}</td>
                    </tr>
                    <tr>
                        <td>пробег:</td>
                        <td>{{ order.mileage|default(false) ? order.mileage|number_format }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="user-info__magistr col-sm-4">
                <table class="table-sm">
                    <tbody>
                    <tr>
                        <td><strong>исполнитель:</strong></td>
                        <td class="name">{{ requisites.name }}</td>
                    </tr>
                    <tr>
                        <td class="uppercase">огрн:</td>
                        <td>{{ requisites.ogrn }}</td>
                    </tr>
                    <tr>
                        <td class="uppercase">ИНН:</td>
                        <td>{{ requisites.inn }}</td>
                    </tr>
                    {% if requisites.kpp is defined %}
                        <tr>
                            <td class="uppercase">КПП:</td>
                            <td class="uppercase">{{ requisites.kpp }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td class="uppercase">Р/С:</td>
                        <td class="uppercase">{{ requisites.rs }}</td>
                    </tr>
                    <tr>
                        <td class="uppercase">К/С:</td>
                        <td>{{ requisites.ks }}</td>
                    </tr>
                    <tr>
                        <td class="uppercase">БИК:</td>
                        <td>{{ requisites.bik }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section class="order-info">
            <h3>заказ-наряд: {{ order.id }} от {{ (order.closed ? order.closedAt : date(null, 'Europe/Moscow'))|format_date('short', 'none') }}</h3>
        </section>

        {% set isServicesDiscounted = order.servicesDiscounted %}

        {% if groups is not empty or services is not empty %}
            <section class="works">
                <table class="table table-bordered table-striped table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">наименование работ</th>
                        <th scope="col">исполнитель</th>
                        {% if isServicesDiscounted %}
                            <th scope="col">скидка</th>
                        {% endif %}
                        <th scope="col">стоимость</th>
                        {% if isServicesDiscounted %}
                            <th scope="col">итого</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% set index = 0 %}
                    {% for group in groups %}
                        {# @var group \App\Entity\Tenant\OrderItemGroup #}
                        {% set index = index + 1 %}
                        <tr>
                            <th scope="row">{{ index }}</th>
                            <td>{{ group }}</td>
                            <td>-</td>
                            <td>
                                <span class="price">
                                    {% set groupPrice = group.totalServicePrice(true) %}

                                    {% if group.hideParts %}
                                        {% set groupPrice = groupPrice.add(group.totalPartPrice(true)) %}
                                    {% endif %}

                                    {{ groupPrice|localize_money }}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    {% for service in services %}
                        {% set index = index + 1 %}
                        {# @var service \App\Entity\Tenant\OrderItemService #}
                        <tr>
                            <th scope="row">{{ index }}</th>
                            <td>{{ service }}{{ service.warranty and not isServicesDiscounted ? ' - [гарантия]' }}</td>
                            <td>{{ service.worker.id }}</td>
                            {% if isServicesDiscounted %}
                                <td>
                                    {% if service.warranty %}
                                        [гарантия]
                                    {% elseif service.discounted %}
                                        {{ (service.discount.ratioOf(service.totalPrice) * 100)|round(0, 'floor') }}%
                                    {% endif %}
                                </td>
                            {% endif %}
                            <td>
                                <span class="price">
                                    {{- service.price|localize_money -}}
                                </span>
                            </td>

                            {% if isServicesDiscounted %}
                                <td>
                                    <span class="price">{{ service.totalPrice(true)|localize_money }}</span>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    <tr class="table-active">
                        <td colspan="{{ isServicesDiscounted ? '5' : '3' }}" class="table-summary legend">итого:</td>
                        <td class="table-summary">
                            <span class="price">{{ order.totalGroupPrice.add(order.totalServicePrice(false, true))|localize_money }}</span></td>
                    </tr>
                    </tbody>
                </table>
            </section>
        {% endif %}

        {% set isPartsDiscounted = order.partsDiscounted %}

        {% if parts is not empty %}
            <section class="parts">
                <table class="table table-bordered table-striped table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">наименование запчасти</th>
                        <th scope="col">производитель</th>
                        <th scope="col">part number</th>
                        <th scope="col">кол-во</th>
                        {% if isPartsDiscounted %}
                            <th scope="col">скидка</th>
                        {% endif %}
                        <th scope="col">стоимость</th>
                        <th scope="col">итого</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for part in parts %}
                        {# @var part \App\Entity\Tenant\OrderItemPart #}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ part.part }}{{ part.warranty and not isPartsDiscounted ? ' - [гарантия]' }}</td>
                            <td>{{ part.part.manufacturer }}</td>
                            <td class="part-number">{{ part.part.number }}</td>
                            <td class="count">{{ part.quantity / 100 }}</td>
                            {% if isPartsDiscounted %}
                                <td>
                                    {% if part.warranty %}
                                        [гарантия]
                                    {% elseif part.discounted %}
                                        {{ (part.discount.multiply(part.quantity).ratioOf(part.totalPrice))|round(0, 'floor') }}%
                                    {% endif %}
                                </td>
                            {% endif %}
                            <td>
                                <span class="price">
                                    {{- part.price|localize_money -}}
                                </span>
                            </td>
                            <td>
                                <span class="price">
                                    {{- part.totalPrice(true)|localize_money -}}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="table-active">
                        <td colspan="{{ isPartsDiscounted ? '7' : '6' }}" class="table-summary legend">итого:</td>
                        <td class="table-summary">
                            <span class="price">{{ order.totalPartPrice(false, true)|localize_money }}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
        {% endif %}

        <section class="summary">
            <table class="table table-bordered table-striped table-sm">
                <tbody>
                <tr class="table-active ">
                    <td class="table-summary legend col-7">
                        предоплата
                        {%- if balance is not empty and not balance.isZero %}
                            {{- balance.isNegative ? ' - долг' }}
                        {%- endif -%}
                        :
                    </td>
                    <td class="table-summary"><span class="price">
                            {% if balance is not empty %}
                                {% if balance.isZero %}
                                    {{ order.totalPayments|localize_money }}
                                {% else %}
                                    {%- if balance.isNegative %}
                                        {{ order.totalPayments|localize_money }} - {{ balance.absolute|localize_money }}
                                    {% elseif balance.isPositive %}
                                        {{ order.totalPayments.add(balance)|localize_money }}
                                    {%- endif -%}
                                {% endif %}
                            {% endif %}
                        </span>
                    </td>
                </tr>
                {% if order.discounted %}
                <tr class="table-active">
                    <td class="table-summary legend">скидка:</td>
                    <td class="table-summary">
                        <span class="price">{{ order.discount|localize_money }}</span>
                    </td>
                </tr>
                {% endif %}
                <tr class="table-active">
                    <td class="table-summary legend">всего к оплате:</td>
                    <td class="table-summary">
                        <span class="price">{{ order.totalForPayment(balance|default(null))|localize_money }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>

        <section class="info">
            <div class="row garanty">
                <div><strong>С объемами и стоимостью работ согласен. <br>
                        С правилами предоставления услуг ознакомлен.</strong></div>
                <div>
                    Гарантийные условия<img src="{{ qr_code_data_uri('www.automagistre.ru/gr') }}" width="100" height="100" border="0" title="QR код">
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="stamp">заказчик</div>
                <div class="stamp">исполнитель</div>
            </div>
        </section>

        {% if recommendations is not empty %}
            <div class="html2pdf__page-break"></div>
            <section class="recommendations">
                <h4>рекомендации по автомобилю VIN: {{ car.identifier }}</h4>
                <table class="table table-bordered table-sm">
                    <tbody>
                    {% for recommendation in recommendations %}
                        {# @var recommendation \App\Entity\Landlord\CarRecommendation #}
                        <tr class="work">
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ recommendation.service }}</td>
                            <td>работа:</td>
                            <td><span class="price">{{ recommendation.price|localize_money }}</span></td>
                            <td>запчасти:</td>
                            <td><span class="price">{{ recommendation.totalPartPrice|localize_money }}</span></td>
                            <td>всего:</td>
                            <td><span class="price">{{ recommendation.totalPrice|localize_money }}</span></td>
                        </tr>
                        {% for part in recommendation.parts %}
                            {# @var part \App\Entity\Landlord\CarRecommendationPart #}
                            <tr>
                                <td colspan="2" class="part">{{ part.part }}</td>
                                <td>{{ part.part.manufacturer }}</td>
                                <td><span class="count">{{ part.quantity / 100 }}</span></td>
                                <td><span class="price">{{ part.price|localize_money }}</span></td>
                                <td><span class="price">{{ part.totalPrice|localize_money }}</span></td>
                            </tr>
                        {% endfor %}
                    {% endfor %}

                    <tr class="table-active">
                        <td colspan="7" class="table-summary legend">итого работы:</td>
                        <td class="table-summary">
                            <span class="price">{{ car.recommendationPrice('service')|localize_money }}</span>
                        </td>
                    </tr>
                    <tr class="table-active">
                        <td colspan="7" class="table-summary legend">итого запчасти:</td>
                        <td class="table-summary">
                            <span class="price">{{ car.recommendationPrice('part')|localize_money }}</span>
                        </td>
                    <tr class="table-active">
                        <td colspan="7" class="table-summary legend">всего рекомендаций:</td>
                        <td class="table-summary">
                            <span class="price">{{ car.recommendationPrice|localize_money }}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
        {% endif %}
    </div>
{% endblock %}
