{% include 'easy_admin/order_print/layout.html.twig' %}

{# @var order \App\Entity\Tenant\Order #}

{% set car = order.car %}

<h4>согласованные работы и запчасти по автомобилю</h4>
<h1>{{ car is not empty ? car.gosnomer }}</h1>
<div class="container" id="content">
    {#блок работ для выдачи мастеру#}
    <section class="works">
        <table class="table table-bordered table-striped table-sm">
            <thead class="thead-dark">
            <tr>
                <th scope="col" style="text-align: center; font-size: 20px">&#10003;</th>
                <th scope="col">наименование работ</th>
                <th scope="col">исполнитель</th>
            </tr>
            </thead>
            <tbody>
            {% for service in services %}
                {# @var service \App\Entity\OrderItemService #}
                <tr>
                    <td class="check"></td>
                    <td>{{ service }}</td>
                    <td>{{ service.worker }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

    {#блок запчастей для набора зч со склада#}
    <section class="parts" style="margin-top: 2cm">
        <table class="table table-bordered table-striped table-sm">
            <thead class="thead-dark">
            <tr>
                <th scope="col" style="text-align: center; font-size: 20px">&#10003;</th>
                <th scope="col">#</th>
                {#<th scope="col">место</th>#}
                <th scope="col">наименование запчасти</th>
                <th scope="col">part number</th>
                <th scope="col">производитель запчасти</th>
                <th scope="col">кол-во</th>
            </tr>
            </thead>
            <tbody>
            {% for part in parts %}
                {# @var part \App\Entity\OrderItemPart #}
                <tr>
                    <td class="check"></td>
                    <th scope="row">{{ loop.index }}</th>
                    {#<td class="uppercase">л2p6</td>#}
                    <td>{{ part.part.name }}</td>
                    <td class="part-number"><strong>{{ part.part.number }}</strong></td>
                    <td>{{ part.part.manufacturer }}</td>
                    <td class=""><strong>{{ part.quantity / 100 }}</strong></td>
                </tr>
            {% endfor %}
            <tr class="table-active">
                <td></td>
                <td colspan="4" class="table-summary legend">всего позиций (шт.):</td>
                <td class="table-summary"><span>{{ parts|length }}</span></td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
