{% include 'easy_admin/order_print/layout_v2.html.twig' %}

{# @var order \App\Entity\Tenant\Order #}

{% set car = order.car %}
{% set customer = order.customer %}

<div class="container" id="content">
    <main>
        <h3 class="order-info-title">согласованные работы и запчасти по автомобилю</h3>
        <h3 class="order-info-title">
            {% if car is not empty %}
                {{ car.toId|display_name }} {{ car.gosnomer }}
            {% endif %}

            {% if customer is not empty %}
                ({{ customer }})
            {% endif %}
        </h3>
        {#блок работ для выдачи мастеру#}
        <section class="order">
            <table class="table order-table">
                <caption>согласованные работы</caption>
                <thead>
                <tr>
                    <td>&#10003;</td>
                    <td>наименование работ</td>
                    <td>исполнитель</td>
                    <td class="order-table__num">стоимость</td>
                </tr>
                </thead>
                <tbody>
                {% for service in order.items('service') %}
                    {# @var service \App\Entity\OrderItemService #}
                    <tr>
                        <td class="check">
                            <div class="check-box"></div>
                        </td>
                        <td>{{ service }}</td>
                        <td>{{ service.workerId|display_name }}</td>
                        <td>{{ service.price|localize_money }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>

        {#блок запчастей для набора зч со склада#}
        <section class="order" style="margin-top: 2cm">
            <table class="table order-table">
                <caption>согласованные запчасти</caption>
                <thead>
                <tr>
                    <td style="text-align: center">&#10003;</td>
                    <td>#</td>
                    {#<th scope="col">место</th>#}
                    <td>наименование запчасти</td>
                    <td>part number</td>
                    <td>кол-во</td>
                </tr>
                </thead>
                <tbody>
                {% set totalQuantity = 0 %}
                {% for part in order.items('part') %}
                    {# @var part \App\Entity\OrderItemPart #}
                    <tr>
                        <td class="check">
                            <div class="check-box"></div>
                        </td>
                        <td class="check">{{ loop.index }}</td>
                        {#<td class="uppercase">л2p6</td>#}
                        <td>{{ part.part.name }} <strong>({{ part.part.manufacturerId|display_name }})</strong></td>
                        <td><strong>{{ part.part.number }}</strong></td>
                        <td class="order-table__quantity">
                            {% set quantity = part.quantity / 100 %}
                            {% set totalQuantity = totalQuantity + quantity %}
                            <strong>{{ quantity }}</strong>
                        </td>
                    </tr>
                {% endfor %}

                <tr class="table-active">
                    <td></td>
                    <td colspan="3" class="table-summary legend" style="text-align: right">
                        <strong>всего позиций (шт.):</strong>
                    </td>
                    <td class="table-summary"><span>{{ totalQuantity }}</span></td>
                </tr>
                </tbody>
            </table>
        </section>
    </main>
</div>
