{% extends 'easy_admin/order_print/layout_v2.html.twig' %}

{# @var order \App\Order\Entity\Order #}
{# @var car \App\Car\Entity\Car #}
{# @var customer \App\Customer\Entity\Operand #}

{% block content %}
    <div class="container" id="content">
        {% include 'easy_admin/order_print/header.html.twig' %}

        <main class="main">
            <h3 class="order-info-title">Форма согласования</h3>
            <div class="order-info">
                {% if customer is not empty %}
                    <div class="order-info-customer">
                        <span class="order-info-legend">Заказчик</span>

                        {# Если заказчик организация, то выводить все доступные реквизиты#}
                        {{- customer.fullName -}}

                        {% if customer.type('person') %}
                            {%- if customer.telephone is not empty %}
                                тел: {{ customer.telephone|phone_number_format }}
                            {%- endif -%}
                            {%- if customer.email is not empty %}
                                e-mail: {{ customer.email }}
                            {% endif %}
                        {%- elseif customer.type('organization') -%}
                            {# @var customer \App\Customer\Entity\Organization #}
                            {%- if not customer.requisite.empty -%}
                                , {{- customer.requisite -}}
                            {%- endif -%}
                        {% endif %}
                    </div>
                {% endif %}

                {% if car is not empty %}
                    <div class="order-info-car">
                    <span class="order-info-legend">
                        Автомобиль
                    </span>
                        {{ car.toId|display_name }}
                        {{ car.identifier }}
                        {{ car.gosnomer }}
                    </div>
                {% endif %}
            </div>
            {% if car is not empty and car.recommendations %}
                <div class="order">
                    <table class=" table recommendations-table">
                        <caption>рекомендуемые работы и запчасти</caption>
                        {% for recommendation in car.recommendations %}
                            <tbody>
                            {# @var recommendation \App\Entity\Landlord\CarRecommendation #}
                            <tr class="recommendations-table-work">
                                <td class="check">
                                    <div class="check-box"></div>
                                </td>
                                <td>{{ recommendation.service }}</td>
                                <td class="recommendations-table-work__legend">работа:</td>
                                <td class="order-table__num">{{ recommendation.price|localize_money }}</td>
                                <td class="recommendations-table-work__legend">Запчасти:</td>
                                <td class="order-table__num">{{ recommendation.totalPartPrice|localize_money }}</td>
                                <td class="recommendations-table-work__legend">Всего:</td>
                                <td class="order-table__num">{{ recommendation.totalPrice|localize_money }}</td>
                            </tr>
                            {% for part in recommendation.parts %}
                                {# @var part \App\Entity\Landlord\CarRecommendationPart #}
                                <tr class="order-table-part">
                                    <td colspan="4" class="recommendations-table-part__name">
                                        {{ part.partId|display_name('name') }}
                                        <span class="recommendations-table-part__part_number">
                                        ({{ part.partId|display_name('manufacturer') }})
                                    </span>
                                    </td>
                                    <td class="order-table__quantity">{{ part.quantity / 100 }}</td>
                                    <td class="order-table__num">{{ part.price|localize_money }}</td>
                                    <td class="order-table__num">{{ part.totalPrice|localize_money }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        {% endfor %}

                        {% set totalServicePrice = car.recommendationPrice('service') %}
                        {% set totalPartPrice = car.recommendationPrice('part') %}
                        {% set totalRecommendationPrice = totalServicePrice.add(totalPartPrice) %}

                        <tbody>
                        <tr class="order-table-subtotals">
                            <td colspan="4" rowspan="5" class="no-border"></td>
                            <td colspan="3" class="order-table-subtotals__name">Рекоменадованных работ</td>
                            <td>{{ totalServicePrice|localize_money }}</td>
                        </tr>
                        <tr class="order-table-subtotals">
                            <td colspan="3" class="order-table-subtotals__name">Рекомендованных запчастей</td>
                            <td>{{ totalPartPrice|localize_money }}</td>
                        </tr>
                        <tr class="order-table-totals">
                            <td colspan="3" class="order-table-totals__name">ВСЕГО РЕКОМЕНДАЦИЙ</td>
                            <td class="order-table-totals__sum">{{ totalRecommendationPrice|localize_money }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {% if order.totalPrice.isPositive %}
                <section class="order">
                    <table class="table order-table">
                        <caption>согласованные запчасти и работы по заказу {{ order.id }}</caption>
                        <tbody>
                        {% for orderItemGroup in order.items('group') %}
                            {# @var orderItemGroup \App\Entity\Tenant\OrderItemGroup #}
                            <tr class="order-table-work__simple">
                                <td>{{ orderItemGroup.name }}</td>
                                <td class="order-table-work__legend">работа:</td>
                                <td class="order-table__num">{{ orderItemGroup.totalServicePrice(true)|localize_money }}</td>
                                <td class="order-table-work__legend">Запчасти:</td>
                                <td class="order-table__num">{{ orderItemGroup.totalPartPrice(true)|localize_money }}</td>
                                <td class="order-table-work__legend">Всего:</td>
                                <td class="order-table__num">{{ orderItemGroup.totalPrice(true)|localize_money }}</td>
                            </tr>
                        {% endfor %}
                        {% for orderItemService in order.rootItems('service') %}
                            {# @var orderItemService \App\Entity\Tenant\OrderItemService #}
                            <tr class="order-table-work__simple">
                                <td>{{ orderItemService.service }}</td>
                                <td class="order-table-work__legend">работа:</td>
                                <td>{{ orderItemService.totalPrice(true)|localize_money }}</td>
                                <td class="order-table-work__legend">Запчасти:</td>
                                <td>{{ orderItemService.totalPartPrice(true)|localize_money }}</td>
                                <td class="order-table-work__legend">Всего:</td>
                                <td>{{ orderItemService.totalPrice(true).add(orderItemService.totalPartPrice(true))|localize_money }}</td>
                            </tr>
                        {% endfor %}
                        {% set orderItemParts = order.rootItems('part') %}
                        {% if orderItemParts %}
                            {% set price = null %}
                            {% for orderItemPart in orderItemParts %}
                                {# @var orderItemPart \App\Entity\Tenant\OrderItemPart #}
                                {% if price %}
                                    {% set price = orderItemPart.totalPrice(true).add(price) %}
                                {% else %}
                                    {% set price = orderItemPart.totalPrice(true) %}
                                {% endif %}
                            {% endfor %}
                            <tr class="order-table-work__simple">
                                <td></td>
                                <td class="order-table-work__legend"></td>
                                <td></td>
                                <td class="order-table-work__legend">Запчасти:</td>
                                <td>{{ price|localize_money }}</td>
                                <td class="order-table-work__legend">Всего:</td>
                                <td>{{ price|localize_money }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                        <tbody>
                        <tr class="order-table-subtotals">
                            <td colspan="2" rowspan="5" class="no-border"></td>
                            <td colspan="4" class="order-table-subtotals__name">Согласованных работ</td>
                            <td>{{ order.totalServicePrice(true)|localize_money }}</td>
                        </tr>
                        <tr class="order-table-subtotals">
                            <td colspan="4" class="order-table-subtotals__name">Согласованных запчастей</td>
                            <td>{{ order.totalPartPrice(true)|localize_money }}</td>
                        </tr>
                        <tr class="order-table-subtotals">
                            <td colspan="4" class="order-table-subtotals__name">всего по заказу</td>
                            <td>{{ order.totalPrice(true)|localize_money }}</td>
                        </tr>
                        <tr class="order-table-totals">
                            <td colspan="4" class="order-table-totals__name">полная стоимость<br> с рекомендациями</td>
                            <td class="order-table-totals__sum">
                                {% if car is not empty %}
                                    {{ order.totalPrice(true).add(car.recommendationPrice)|localize_money }}
                                {% else %}
                                    {{ order.totalPrice(true)|localize_money }}
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            {% endif %}
        </main>
    </div>
{% endblock %}
