{% extends 'easy_admin/order_print/layout.html.twig' %}

{# @var order \App\Order\Entity\Order #}
{# @var car \App\Car\Entity\Car #}
{# @var customer \App\Customer\Domain\Operand #}

{% block content %}
    <div class="container" id="content">
        <h4>Форма согласования работ</h4>
        <section class="user-info row justify-content-around">
            <div class="user-info__user col-sm-4">
                <table class="table-sm">
                    <tbody>
                    <tr>
                        <td><strong>заказчик:</strong></td>
                        <td class="name">{{ customer ? customer.fullName }}</td>
                    </tr>
                    <tr>
                        <td>Телефон:</td>
                        <td>{{ customer ? customer.telephone|phone_number_format }}</td>
                    </tr>
                    <tr>
                        <td>email:</td>
                        <td style="text-transform: lowercase">{{ customer ? customer.email }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="user-info__user col-sm-4">
                <table class="table-sm">
                    <tbody>
                    <tr>
                        <td><strong>автомобиль:</strong></td>
                        <td class="name">{{ car ? car.model }}</td>
                    </tr>
                    <tr>
                        <td>гос. номер:</td>
                        <td class="uppercase">{{ car ? car.gosnomer }}</td>
                    </tr>
                    <tr>
                        <td class="uppercase">vin:</td>
                        <td class="uppercase">{{ car ? car.identifier }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section class="">
            <h4>рекомендации по автомобилю </h4>
            <table class="table table-bordered table-sm">
                <tbody>
                {% for recommendation in recommendations %}
                    {# @var recommendation \App\Entity\CarRecommendation #}
                    <tr class="work ">
                        <td class="check"></td>
                        <td>{{ recommendation.service }}</td>
                        <td>работа:</td>
                        <td><span class="price">{{ recommendation.price|localize_money }}</span></td>
                        <td>запчасти:</td>
                        <td><span class="price">{{ recommendation.totalPartPrice|localize_money }}</span></td>
                        <td>всего:</td>
                        <td><span class="price">{{ recommendation.totalPrice|localize_money }}</span></td>
                    </tr>
                    {% for part in recommendation.parts %}
                        {# @var part \App\Entity\CarRecommendationPart #}
                        <tr>
                            <td colspan="3" class="part">{{ part.part }} / <span
                                        class="uppercase">{{ part.part.manufacturer }}</span></td>
                            <td><span class="count">{{ part.quantity / 100 }}</span></td>
                            <td><span class="price">{{ part.price|localize_money }}</span></td>
                            <td><span class="price">{{ part.totalPrice|localize_money }}</span></td>
                        </tr>
                    {% endfor %}
                {% endfor %}

                <tr class="table-active">
                    <td colspan="7" class="table-summary legend">итого рекомендованных работ:</td>
                    <td class="table-summary"><span class="price">{{ totalRecommendationService|localize_money }}</span>
                    </td>
                </tr>
                <tr class="table-active">
                    <td colspan="7" class="table-summary legend">итого рекомендованных запчастей:</td>
                    <td class="table-summary"><span class="price">{{ totalRecommendationPart|localize_money }}</span>
                    </td>
                <tr class="table-active">
                    <td colspan="7" class="table-summary legend">всего рекомендаций:</td>
                    <td class="table-summary"><span class="price">{{ totalRecommendationAll|localize_money }}</span>
                    </td>
                </tr>

                {#Показываем только если заказ больше чем 0#}
                {% if order.totalPrice.isPositive %}
                    <tr class="">
                        <td colspan="7" class="table-summary legend">
                            согласованных работ и зачастей по заказу {{ order.id }}:
                        </td>
                        <td class="table-summary"><span class="price">{{ order.totalPrice|localize_money }}</span></td>
                    </tr>
                    <tr class="">
                        <td colspan="7" class="table-summary legend">потенциальная стоимость ремонта:</td>
                        <td class="table-summary"><span class="price">{{ potentialPrice|localize_money }}</span></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}
