{% extends 'easy_admin/order_print/layout.html.twig' %}

{% from 'easy_admin/order_print/chunks/order_info.html.twig' import order_info %}
{% from 'easy_admin/order_print/chunks/recommendations_table.html.twig' import recommendations_table_header, recommendations_table_item, recommendations_table_totals %}
{% from 'easy_admin/order_print/chunks/order_table.html.twig' import order_table_header, order_table_item, order_table_total %}

{# @var order \App\Order\Entity\Order #}
{# @var car \App\Car\Entity\Car #}
{# @var customer \App\Customer\Domain\Operand #}

{% set balance = order.closed ? order.closedBalance : (customer is not empty ? customer|balance : null) %}

{% set requisites = state.tenant.getRequisites() %}

{% set page = 1 %}
{% set row = 1 %}

{% block recommendation_page_footer %}
    <footer class="page-brake">
        <div class="footer">
            {% include 'easy_admin/order_print/chunks/guaranty.html.twig' %}

            <div>
            {{ recommendations_table_totals(car) }}
            {% if order.totalPrice.isPositive %}
                {% set orderTotalPrice = order.totalPrice(true) %}
                {% set totalRecommendationPrice = car.recommendationPrice('service').add(car.recommendationPrice('part')) %}
                <div class="recommendations-table__totals" style="margin-top: 1mm">
                    <div class="table__item cell-recommendations_totals right">С ЗАКАЗОМ, руб</div>
                    <div class="table__item cell-recommendations_totals">{{ totalRecommendationPrice.add(orderTotalPrice)|localize_money(true)|number_format(0, '.', ' ') }}</div>
                </div>
            {% endif %}
            </div>
            <div class="footer__img">
                <img src="{{ asset('assets/img/print_form_footer.png') }}" alt="Footer image">
            </div>
        </div>
    </footer>
{% endblock %}

{% block recommendations_page_begin %}
<div class="page portrait order-fonts">
    <main class="portrait">
        {% include 'easy_admin/order_print/chunks/header.html.twig' %}
        <div>
            {{ order_info('рекомендации', order, customer, car) }}
            <div class="recommendations-table">
                {{ recommendations_table_header() }}
                {% endblock %}

                {% block recommendations_page_breake %}
            </div>
        </div>
    </main>
</div>
<div class="page portrait order-fonts">
    <main class="portrait">
        <div>
            {{ order_info('рекомендации', order, customer, car) }}
            <div class="recommendations-table">
                {{ recommendations_table_header() }}
                {% endblock %}

                {% block recommendations_page_end %}
            </div>
        </div>
    </main>
    {{ block('recommendation_page_footer') }}
</div>
{% endblock %}


{% block order_first_page_begin %}
    <div class="page portrait order-fonts hidden js-order-page">
        <main class="portrait">
            <div class="main-table">
                {{ order_info('Пред-заказ', order, customer, car) }}
                <div class="order-table">
                    {{ order_table_header() }}
                    {% endblock %}

                    {% block order_breake_page %}
                </div>
            </div>
        </main>
    </div>
    <div class="page portrait order-fonts hidden js-order-page">
        <main class="portrait">
            <div class="main-table">
                {{ order_info('Пред-наряд', order, customer, car) }}
                <div class="order-table">
                    {{ order_table_header() }}
                    {% endblock %}

                    {% block order_last_page_end %}
                    {{ order_table_total(order, balance, false, false) }}
                </div>
            </div>
        </main>
    </div>
{% endblock %}


{% block content %}
    <div class="page-settings portrait page-matching order-fonts">
        <div class="page-settings__col">
            <div class="page-settings__label label--checkbox">Страницы:</div>
            <label class="label--checkbox"><input class="checkbox" type="checkbox" id="js-show-order">Согласованные работы и запчасти</label>
        </div>
        <div class="page-settings__col">
            <div class="page-settings__label label--checkbox">Настройки:</div>
            <label class="label--checkbox"><input class="checkbox" type="checkbox" id="js-hide-part-numbers">Скрыть номера делалей</label>
        </div>
    </div>
    <div class="content pages" id="content">

        {% if car is not empty and car.recommendations is not empty %}

            {% set page = 1 %}
            {% set row = 1 %}

            {% for recommendation in car.recommendations %}
                {% set next_block_length = 1 + recommendation.parts|length %}
                {% if page == 1 and row == 1 %}
                    {{ block('recommendations_page_begin') }}
                {% elseif row + next_block_length > 25 %}
                    {{ block('recommendations_page_breake') }}
                    {% set page = page + 1 %}
                    {% set row = 1 %}
                {% endif %}
                {{ recommendations_table_item(recommendation) }}
                {% set row = row + next_block_length %}
            {% endfor %}

            {{ block('recommendations_page_end') }}

        {% endif %}

        {% if order.rootItems|length %}

            {% set page = 1 %}
            {% set row = 1 %}

            {% for item in order.rootItems  %}

                {% set next_block_length = 1 %}
                {% if instanceOf(item, 'App\\Order\\Entity\\OrderItemService') %}
                    {% set next_block_length = next_block_length + item.children|length %}
                {% elseif instanceOf(item, 'App\\Order\\Entity\\OrderItemGroup') %}
                    {% if not item.hideParts %}
                        {% set next_block_length = next_block_length + item.parts|length %}
                    {% endif %}
                {% endif %}

                {% if page == 1 and row == 1 %}
                    {{ block('order_first_page_begin') }}
                {% elseif next_block_length + row > 35 %}
                    {{ block('order_breake_page') }}
                    {% set row = 1 %}
                    {% set page = page + 1 %}
                {% endif %}
                {{ order_table_item(item) }}
                {% set row = row + next_block_length %}
            {% endfor %}

            {{ block('order_last_page_end') }}
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script>
      const orderShowCheckBox = document.querySelector('#js-show-order');
      const orderPages = document.querySelectorAll('.page.js-order-page');
      const orderHidePartNumberCheckBox = document.querySelector('#js-hide-part-numbers')
      const orderPartNumberItems = document.querySelectorAll('.part-number')

      if (orderPages.length) {
        orderShowCheckBox.addEventListener('click', () => {
          orderPages.forEach( page => page.classList.toggle('hidden', !orderShowCheckBox.checked));
        });
      } else {
        orderShowCheckBox.disabled = true
      }

      if (orderPartNumberItems.length) {
        orderHidePartNumberCheckBox.addEventListener('click', ()=> {
          orderPartNumberItems.forEach(item => item.classList.toggle('hidden', orderHidePartNumberCheckBox.checked))
        })
      } else {
        orderHidePartNumberCheckBox.disabled = true
      }
    </script>
{% endblock %}
