{% extends 'easy_admin/default/layout.html.twig' %}

{% block content_title %}Дефицит - {{ parts|length }}{% endblock %}

{% block main %}
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Производитель</th>
                <th>Наименование</th>
                <th>Цена</th>
                <th>Недостача</th>
                <th>Заказы</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for deficit in parts %}
                {# @var deficit \App\Model\DeficitPart #}
                {% set part = deficit.part %}
                {# @var part \App\Entity\Part #}
                <tr>
                    <td>
                        <a href="{{ easyadmin_path(part.manufacturer, 'edit') }}">{{ part.manufacturer.name }}</a>
                    </td>
                    <td>
                        <a href="{{ easyadmin_path(part, 'edit') }}">{{ part }}</a>
                        - {{ part.number -}}

                        <a href="{{ path('admin_part_explorer', {'partnumber': part.number}) }}">
                            <i class="fa fa-search"></i>
                        </a>
                    </td>
                    <td>{{ part.price|localize_money }}</td>
                    <td>{{ deficit.quantity / 100 }}</td>
                    <td>
                        {%- for order in deficit.orders -%}
                            {# @var order \App\Entity\Order #}
                            <a href="{{ easyadmin_path(order, 'show') }}">#{{ order.id }}</a>
                            {%- if not loop.last %}, {% endif -%}
                        {%- endfor -%}
                    </td>
                    <td>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{{ asset('includes/js/jquery.tablesorter.min.js') }}"></script>
    <script>
        $('table').tablesorter();
    </script>
{% endblock %}
