{% extends 'easy_admin/default/new.html.twig' %}

{% block main %}
    <div class="row">
        {{ form_start(form) }}

        <div class="col-xs-12">
            {{ form_row(form.manufacturer) }}
        </div>

        <div class="col-xs-12">
            <div class="form-group field-text">
                {{ form_label(form.number) }}

                <div class="input-group">
                    {{ form_widget(form.number) }}

                    <div class="input-group-addon">
                        <a href="" id="search-button">
                            <i id="search-icon" class="fa fa-search"></i>
                            <i id="search-spinner" class="fa fa-spinner fa-pulse" style="display: none"></i>
                            Поиск
                        </a>
                    </div>
                </div>

                {{ form_errors(form.number) }}

                <span id="search-help-block" class="help-block" style="display: none">Поиск ничего не дал.</span>
            </div>
        </div>

        <div class="col-xs-12">
            {{ form_row(form.name) }}
        </div>

        <div class="col-xs-12">
            {{ form_row(form.price) }}
        </div>

        <div class="col-xs-12">
            {{ form_widget(form) }}
        </div>

        <div class="col-xs-12">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
      $(function() {
        var url = "{{ easyadmin_path('Part', 'numberSearch', {'number': '__NUMBER__'})|raw }}",
            main = $('#modal-part-form'),
            select = $('#modal-part-select'),
            searchButton = $('#search-button'),
            searchHelpBlock = $('#search-help-block'),
            manufacturerInput = $('#{{ form.manufacturer.vars.id }}'),
            numberInput = $('#{{ form.number.vars.id }}'),
            nameInput = $('#{{ form.name.vars.id }}'),
                {#priceInput = $('#{{ form.price.vars.id }}'),#}
            iconSearch = $('#search-icon'),
            iconSpinner = $('#search-spinner');

        numberInput.focus();
        searchButton.popover();

        var subscribeSelectButtons = function() {
          $('.part-select-button').click(function() {
            var button = $(this);

            manufacturerInput.val(button.data('manufacturer-id')).change();
            numberInput.val(button.data('number'));
            nameInput.val(button.data('name'));

            main.show();
            select.hide();
            select.empty();
          });
        };

        var mutex = false;
        searchButton.click(function(e) {
          e.preventDefault();
          if (true === mutex) {
            return false;
          }

          mutex = true;
          searchHelpBlock.hide();
          iconSearch.hide();
          iconSpinner.show();

          $.ajax({
            url: url.replace('__NUMBER__', $('#{{ form.number.vars.id }}').val()),
            statusCode: {
              204: function() {
                searchHelpBlock.show();
              },
            },
          }).done(function(parts) {
            if (!$.isArray(parts)) {
              return;
            }

            $.each(parts, function(index, part) {
              select.append('<div class="radio"><label class="part-select-button" ' +
                  'data-manufacturer-id="' + part.manufacturer.id + '" ' +
                  'data-manufacturer-name="' + part.manufacturer.name + '" ' +
                  'data-number="' + part.number + '" ' +
                  'data-name="' + part.name + '"' +
                  '><input type="radio" name="part">' +
                  [part.name, '(' + part.manufacturer.name, part.number + ')'].join(' ') +
                  '</label></div>');
            });

            subscribeSelectButtons();
            main.hide();
            select.show();
          }).complete(function() {
            iconSearch.show();
            iconSpinner.hide();
            mutex = false;
          });

          return false;
        });
      });
    </script>
{% endblock %}
