{% extends 'easy_admin/default/layout.html.twig' %}

{% form_theme form with easyadmin_config('design.form_theme') %}

{% block content_title %}Ручное списание со склада{% endblock %}
{% block content_help %}
    <div class="box box-widget help-entity">
        <div class="box-body">
           #{{ part.id }} {{ part }}
        </div>
    </div>
{% endblock %}

{% block main %}
    {{ form_start(form) }}

    {{ form_widget(form) }}
    <button class="btn btn-success">Списать</button>
    {{ form_end(form) }}
{% endblock %}
