{% extends 'easy_admin/default/show.html.twig' %}

{% block show_fields %}
    {{ parent() }}


    <div class="form-group field-default">
        <label class="col-sm-2 control-label">Наличие</label>
        <div class="col-sm-10">
            <div class="form-control">
                <div class="pull-right">
                    <a href="{{ easyadmin_path('Motion', 'increase', {'part_id': entity|toId, 'referer': true}) }}"
                       class="btn btn-primary btn-xs">
                        <i class="fa fa-arrow-down"></i>
                        Пополнить
                    </a>

                    <a href="{{ easyadmin_path('Motion', 'decrease', {'part_id': entity|toId, 'referer': true}) }}"
                       class="btn btn-danger btn-xs">
                        <i class="fa fa-arrow-up"></i>
                        Списать
                    </a>

                    <a href="{{ easyadmin_path('Motion', 'actualize', {'part_id': entity|toId, 'referer': true}) }}"
                       class="btn btn-info btn-xs">
                        <i class="fa fa-exchange"></i>
                        Актуализировать
                    </a>
                </div>

                На складе <strong>{{ entity.quantity / 100 }}</strong><br>
                Зарезервировано <strong>{{ entity.reserved / 100 }}</strong><br>
                Ожидается поставка <strong>{{ entity.suppliesQuantity / 100 }}</strong><br>
                Доступно для резерва <strong>{{ (entity.quantity - entity.reserved) / 100 }}</strong>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="row">

        <div class="col-md-6">
            <div class="field-group">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Основная информация</h3>
                    </div>

                    <div class="box-body">
                        {{ parent() }}
                    </div>
                </div>
            </div>

            <div class="field-group">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Ожидаемые поставки</h3>
                    </div>

                    {% if entity.supplies is not empty %}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Поставщик</th>
                                    <th>Количество</th>
                                    <th>Действия</th>
                                    <th>Обновлено</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for supply in entity.supplies %}
                                    <tr>
                                        <td>{{ supply.supplierId|display_name }}</td>
                                        <td>{{ supply.quantity / 100 }}</td>
                                        <td>
                                            <a class="btn btn-info btn-xs" href="{{ easyadmin_path('PartSupply', 'decrease', {
                                                'part_id': entity|toId,
                                                'supplier_id': supply.supplierId|toId,
                                                'referer': true
                                            }) }}">Убавить поставку</a>
                                        </td>
                                        <td>{{ supply.updatedAt|format_datetime }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="box-body">
                            <p>Записей нет</p>
                        </div>
                    {% endif %}
                    <div class="box-footer">
                        <a class="btn btn-primary" href="{{ easyadmin_path('PartSupply', 'increase', {'part_id': entity|toId, 'referer': true}) }}">Добавить поставку</a>
                    </div>
                </div>
            </div>

            <div class="field-group">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">История цен</h3>
                    </div>

                    {% if prices is not empty %}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Цена</th>
                                    <th>С даты</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for price in prices %}
                                    <tr>
                                        <td>{{ price.price|localize_money }}</td>
                                        <td>{{ price.since|format_datetime(timezone='+3GMT') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="box-body">
                            <p>Записей нет</p>
                        </div>
                    {% endif %}
                    <div class="box-footer">
                        <a class="btn btn-primary" href="{{ easyadmin_path('PartPrice', 'new', {'part_id': entity|toId, 'referer': true}) }}">Новая цена</a>
                    </div>
                </div>
            </div>

            <div class="field-group">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">История скидок</h3>
                    </div>

                    {% if discounts is not empty %}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Цена</th>
                                    <th>С даты</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for discount in discounts %}
                                    <tr>
                                        <td>{{ discount.discount|localize_money }}</td>
                                        <td>{{ discount.since|format_datetime(timezone='+3GMT') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="box-body">
                            <p>Записей нет</p>
                        </div>
                    {% endif %}
                    <div class="box-footer">
                        <a class="btn btn-primary" href="{{ easyadmin_path('PartDiscount', 'new', {'part_id': entity|toId, 'referer': true}) }}">Новая скидка</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" style="margin-bottom: 15px">
            <a href="{{ easyadmin_path('Motion', 'list', {'part_id': entity|toId}) }}" class="btn btn-success">
                <i class="fa fa-recycle"></i>
                Движения
            </a>

            <a href="{{ easyadmin_path('Income', 'list', {'part_id': entity|toId}) }}" class="btn btn-info">
                <i class="fa fa-book"></i>
                Приходы
            </a>
        </div>

        <div class="col-md-6">
            {% include 'easy_admin/note/notes_panel.html.twig' with {'subject': entity|toUuid} only %}

            {# Заказы #}
            <div class="field-group">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Активные заказы</h3>
                    </div>

                    {% if orders is not empty %}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Номер</th>
                                    <th>Статус</th>
                                    <th>Автомобиль</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                    {# @var order \App\Order\Entity\Order #}
                                    <tr>
                                        <td><a href="{{ easyadmin_path('Order', 'show', {'id': order|toId, 'part_id': entity|toId}) }}">{{ order.number }}</a></td>
                                        <td>{{ include('easy_admin/order/field_status.html.twig', {'value': order.status, 'item': order}) }}</td>
                                        <td>
                                            {% if order.carId is not empty %}
                                                <a href="{{ easyadmin_path('Car', 'show', {'id': order.carId|toId, 'referer': true}) }}">
                                                    {{ order.carId|display_name('long') }}
                                                </a>
                                            {% else %}
                                                {% include 'easy_admin/default/label_null.html.twig' %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if order|toId in reservedIn %}
                                            <span class="label label-success">РЕЗЕРВ</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="box-body">
                            <p>Заказов не найдено</p>
                        </div>
                    {% endif %}

                    <div class="box-footer">
                        <a class="btn btn-primary" href="{{ easyadmin_path('Order', 'list', {'part_id': entity|toId}) }}">Все заказы</a>
                    </div>
                </div>
            </div>

            {# Кроссы #}
            <div class="field-group">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Кроссы</h3>
                    </div>

                    {% if crosses is not empty %}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                {# @var crosses \App\Part\Entity\PartView[] #}
                                {% for part in crosses|filter(part => not part.equals(entity.toId)) %}
                                    <tr>
                                        <td>{% include 'easy_admin/field_part.html.twig' with {'value': part_view(part.toId), 'stock': true} %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="box-body">
                            <p>Кроссов нет</p>
                        </div>
                    {% endif %}
                    <div class="box-footer">
                        <a class="btn btn-primary" href="{{ easyadmin_path('PartCross', 'cross', {'part_id': entity|toId, 'referer': true}) }}">Добавить кросс</a>
                        {% if crosses is not empty %}
                            <a class="btn btn-danger" href="{{ easyadmin_path('PartCross', 'uncross', {'part_id': entity|toId, 'referer': true}) }}">Исключить</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            {# Кузова #}
            <div class="field-group">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Применимость к кузовам</h3>
                    </div>

                    {% if carModels is not empty %}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                {% for carModel in carModels %}
                                    <tr>
                                        <td>
                                            <a href="{{ easyadmin_path('CarModel', 'show', {'id': carModel.id|toId, 'referer': true}) }}">
                                                {{- carModel.id|display_name('long') -}}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="box-body">
                            <p>Записей нет</p>
                        </div>
                    {% endif %}
                    <div class="box-footer">
                        <a class="btn btn-primary" href="{{ easyadmin_path('PartCase', 'case', {'part_id': entity|toId, 'referer': true}) }}">Добавить кузов</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
