{% extends '@EasyAdmin/default/show.html.twig' %}

{% block show_fields %}
    {{ parent() }}


    <div class="form-group field-default">
        <label class="col-sm-2 control-label">Наличие</label>
        <div class="col-sm-10">
            <div class="form-control">
                {{ inStock / 100 }} - {{ reserved / 100 }} = {{ (inStock - reserved) / 100 }}
            </div>

            <span class="help-block"><i class="fa fa-info-circle"></i> На складе - Зарезервировано = Доступно для резерва</span>
        </div>
    </div>

{% endblock %}

{% block main %}
    <div class="row">

        <div class="col-md-6">
            <div class="field-group">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Основная информация</h3>
                    </div>

                    <div class="box-body">
                        {{ parent() }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" style="margin-bottom: 15px">
            <a href="{{ easyadmin_path('Part', 'income', {'referer': true}|merge(entity|to_query)) }}" class="btn btn-primary">
                <i class="fa fa-arrow-down"></i>
                Пополнить вручную
            </a>

            <a href="{{ easyadmin_path('Part', 'outcome', {'referer': true}|merge(entity|to_query)) }}" class="btn btn-danger">
                <i class="fa fa-arrow-up"></i>
                Списать вручную
            </a>

            <a href="{{ easyadmin_path('Motion', 'list', entity|to_query) }}" class="btn btn-success">
                <i class="fa fa-recycle"></i>
                Движения
            </a>
        </div>

        <div class="col-md-6">
            <div class="field-group">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Заказано в</h3>
                    </div>

                    {% if orders is not empty %}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Номер</th>
                                    <th>Статус</th>
                                    <th>Автомобиль</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                    {# @var order \App\Entity\Order #}
                                    <tr>
                                        <td><a href="{{ easyadmin_path(order, 'show', {'part_id': entity.id}) }}">{{ order.id }}</a></td>
                                        <td>{{ include('easy_admin/order/field_status.html.twig', {'value': order.status, 'item': order}) }}</td>
                                        <td>{{ order.car }}</td>
                                        <td>
                                            {% if order.id in reservedIn %}
                                            <span class="label label-success">РЕЗЕРВ</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="box-body">
                            <p>Заказов не найдено</p>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="field-group">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Кроссы</h3>
                    </div>

                    {% if crosses is not empty %}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                {% for part in crosses if part.id != entity.id %}
                                    <tr>
                                        <td>{% include 'easy_admin/field_part.html.twig' with {'value': part, 'stock': true} %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="box-body">
                            <p>Кроссов нет</p>
                        </div>
                    {% endif %}
                    <div class="box-footer">
                        <a class="btn btn-primary" href="{{ easyadmin_path(entity, 'cross', {'referer': true}) }}">Добавить кросс</a>
                        {% if crosses is not empty %}
                            <a class="btn btn-danger" href="{{ easyadmin_path(entity, 'uncross', {'referer': true}) }}">Исключить</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="field-group">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Применимость к кузовам</h3>
                    </div>

                    {% if carModels is not empty %}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                {% for carModel in carModels %}
                                    <tr>
                                        <td>
                                            <a href="{{ easyadmin_path(carModel, 'show', {'referer': true}) }}">
                                                {{- carModel -}}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="box-body">
                            <p>Записей нет</p>
                        </div>
                    {% endif %}
                    <div class="box-footer">
                        <a class="btn btn-primary" href="{{ easyadmin_path('PartCase', 'new', [{'referer': true}, entity]|to_query) }}">Добавить кузов</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
