{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block page_title %}Склад{% endblock %}

{% block main %}
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Производитель</th>
                <th>Наименование</th>
                <th>Цена</th>
                <th>Количество</th>
            </tr>
            </thead>
            <tbody>
            {% for part in parts %}
                {# @var part \App\Entity\Part #}
                <tr>
                    <td>{{ part.id }}</td>
                    <td>
                        <a href="{{ easyadmin_path(part.manufacturer, 'edit') }}">{{ part.manufacturer.name }}</a>
                    </td>
                    <td>
                        <a href="{{ easyadmin_path(part, 'edit') }}">{{ part }}</a>
                        - {{ part.number }}

                        <a href="{{ path('admin_part_explorer', {'partnumber': part.number}) }}">
                            <i class="fa fa-search"></i>
                        </a>
                    </td>
                    <td>{{ part.price|localize_money }}</td>
                    <td>{{ attribute(quantities, part.id).quantity / 100 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
