{% extends 'easy_admin/default/show.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-md-6">
            <div class="field-group">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Основная информация</h3>
                    </div>

                    <div class="box-body">
                        {{ parent() }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    {% include 'easy_admin/note/notes_panel.html.twig' with {'subject': entity|toUuid} only %}
                </div>
            </div>

            <div class="field-group">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Последние заказы</h3>
                    </div>

                    {% if orders is not empty %}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Номер</th>
                                    <th>Дата закрытия</th>
                                    <th>Заказчик</th>
                                    <th>Сумма</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                    {# @var order \App\Entity\Order #}
                                    <tr class="tr">
                                        <td>
                                            <a href="{{ easyadmin_path('Order', 'show', {'id': order|toId, 'referer': true}) }}">
                                                {{ order.number }}
                                            </a>
                                        </td>
                                        <td>
                                            {% if order.closed %}
                                                {{ created_by_view(order.getClose|toUuid) }}
                                            {% else %}
                                                {% include 'easy_admin/order/field_status.html.twig' with {'value': order.status, 'item': order} only %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if order.customerId is not empty %}
                                                <a href="{{ easyadmin_path('Operand', 'show', {
                                                    'id': order.customerId|toId,
                                                    'referer': true
                                                }) }}">
                                                    {{ order.customerId|display_name }}
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td>{{ order.totalForPayment|localize_money }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="box-body">
                            Заказов нет
                        </div>
                    {% endif %}

                    <div class="box-footer">
                        <a href="{{ easyadmin_path('Order', 'new', {'car_id': entity|toId}) }}" class="btn btn-primary">
                            Создать заказ
                        </a>
                        <a href="{{ easyadmin_path('Order', 'list', {'car_id': entity|toId}) }}" class="btn btn-primary">
                            Все заказы
                        </a>
                        <a href="{{ easyadmin_path('OrderItemService', 'list', {'car_id': entity|toId}) }}" class="btn btn-primary">
                            Все произведенные работы
                        </a>
                    </div>
                </div>
            </div>

            <div class="field-group">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Заказчики</h3>
                    </div>

                    {% if customers is not empty %}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                {% for customer in customers %}
                                    <tr>
                                        <td>
                                            <a href="{{ easyadmin_path('Operand', 'show', {
                                                'id': customer.id|toId,
                                                'referer': true
                                            }) }}">
                                                {{ customer.id|display_name }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="box-body">
                            Владельцев нет
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
