{% extends 'easy_admin/default/show.html.twig' %}

{# @var entity \App\Entity\Person #}

{% block main %}
    <div class="row">
        <div class="col-md-6">
            <div class="field-group">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Основная информация</h3>
                    </div>

                    <div class="box-body">
                        {{ parent() }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    {% include 'easy_admin/_includes/notes_panel.html.twig' with {
                        'create_url': easyadmin_path('CarNote', 'new', entity|to_query),
                        'notes': notes
                    } only %}
                </div>
            </div>

            <div class="field-group">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Последние заказы</h3>
                    </div>

                    {% if orders is not empty %}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Номер</th>
                                    <th>Дата закрытия</th>
                                    <th>Сумма</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders|sort((order) => order.closedAt is null ? -1 : 1) %}
                                    {# @var order \App\Entity\Order #}
                                    <tr class="tr">
                                        <td>
                                            <a href="{{ easyadmin_path(order, 'show', {'referer': true}) }}">
                                                {{ order.id }}
                                            </a>
                                        </td>
                                        <td>
                                            {% if order.closedAt is null %}
                                                {% include 'easy_admin/order/field_status.html.twig' with {'value': order.status, 'item': order} only %}
                                            {% else %}
                                                {{ order.closedAt|format_datetime('short', 'short', '', 'GMT+3') }}
                                            {% endif %}
                                        </td>
                                        <td>{{ order.totalForPayment|localize_money }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="box-body">
                            Заказов нет
                        </div>
                    {% endif %}

                    <div class="box-footer">
                        <a href="{{ easyadmin_path('Order', 'new', {'car_id': entity.id}) }}" class="btn btn-primary">
                            Создать заказ
                        </a>
                        <a href="{{ easyadmin_path('Order', 'list', {'car_id': entity.id}) }}" class="btn btn-primary">
                            Все заказы
                        </a>
                        <a href="{{ easyadmin_path('OrderItemService', 'list', {'car_id': entity.id}) }}" class="btn btn-primary">
                            Все произведенные работы
                        </a>
                    </div>
                </div>
            </div>

            <div class="field-group">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Владельцы</h3>
                    </div>

                    {% if possessors is not empty %}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                {% for possessor in possessors %}
                                    <tr>
                                        <td>
                                            <a href="{{ easyadmin_path_by_id(possessor.uuid, 'show', {'referer': true}) }}">
                                                {{ possessor.uuid|display_name }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="box-body">
                            Владельцев нет
                        </div>
                    {% endif %}

                    <div class="box-footer">
                        <a href="{{ easyadmin_path('Car', 'possession', {'car_id': entity.uuid.toString, 'referer': true}) }}" class="btn btn-primary">
                            Добавить владельца
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
