{# @var value \App\Entity\Part #}

{% if (field_options.item)|default(false) %}
    {% set value = item %}
{% endif %}

{% set referer = field_options.referer is defined ? field_options.referer : true %}

{%- if value is not empty -%}
    <a href="{{ easyadmin_path(value, 'show', {'referer': referer}) }}">
        <i class="fa fa-barcode"></i>
    </a>

    {{- value }}

    (
    {%- spaceless %}
    {#<a href="{{ easyadmin_path(value.manufacturer, 'show', {'referer': true}) }}">#}
        {{- value.manufacturer -}}
    {#</a>#}
    {%- endspaceless %}
    {%- include 'easy_admin/field_part_number.html.twig' with {'value': value.number, 'lineIndex': (item is defined ? item.id)} only -%}
    )

    {# Удалить это говно после возвращения страницы дефицита #}
    {% if stock|default(false) or (field_options is defined and true == field_options.stock) %}
        <span class="label label-primary">{{ part_in_stock(value) / 100 }}</span>
    {% endif %}
{%- else -%}
    {% include 'easy_admin/default/label_null.html.twig' %}
{%- endif -%}
