{% block car_engine_row %}
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">{{ block('form_label') }}</h3>
        </div>

        <div class="box-body">
            {{ block('form_errors') }}

            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.type) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.capacity) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">{{ form_row(form.airIntake) }}</div>
                <div class="col-md-4">{{ form_row(form.injection) }}</div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
{% endblock %}

{# Autocomplete form type #}
{% block autocomplete_widget %}
    {{ form_widget(form.autocomplete, {attr: attr}) }}

    {% if help is not empty %}
        <span class="help-block">
            <i class="fa fa-info-circle"></i>
            {{ help }}
        </span>
    {% endif %}
{% endblock autocomplete_widget %}
