{% block car_engine_row %}
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">{{ block('form_label') }}</h3>
        </div>

        <div class="box-body">
            {{ block('form_errors') }}

            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.type) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.capacity) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">{{ form_row(form.airIntake) }}</div>
                <div class="col-md-4">{{ form_row(form.injection) }}</div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
{% endblock %}

{# Autocomplete form type #}
{% block autocomplete_widget %}
    {{ form_widget(form.autocomplete, {attr: attr}) }}

    {% if help is not empty %}
        <span class="help-block">
            <i class="fa fa-info-circle"></i>
            {{ help }}
        </span>
    {% endif %}
{% endblock autocomplete_widget %}

{% block part_offer_widget %}
    {{ form_label(form.partId) }}

    <div class="form-group field-part_id">
        {{ form_widget(form.partId) }}

        {% if vehicleId|default is not empty and vehicle_case_is_defined(vehicleId) %}
            <span class="help-block">
        Поиск осуществляется только по <strong>{{ vehicleId|display_name }}</strong>, чтобы выполнить поиск по всему складу добавьте символ <strong>+</strong> (плюс) в любую часть строки.
            </span>
        {% endif %}
    </div>

    {{ form_row(form.price) }}
    {{ form_row(form.quantity) }}

    <script type="text/javascript">
      let partInput = $("#{{ form.partId.children.autocomplete.vars.id }}"),
          costInput = $("#{{ form.price.vars.id }}");

      partInput.on('change', function() {
        if (costInput.val()) {
          return;
        }

        let text = $(this).text();
        let price = text.split('|')[1].trim().replace(/\s/g, '').slice(0, -1).trim().replace(' ', '');
        costInput.val(price);
      });
    </script>
{% endblock part_offer_widget %}

{% block widget_button %}
    <button
            id="{{ easyadminEntity }}-widget-button"
            class="btn btn-info modal-widget-button"
            type="button"
            data-url="{{ easyadmin_path(easyadminEntity, 'widget', {'widgetTarget': form.autocomplete.vars.id})|raw }}">
        Создать
    </button>
{% endblock %}

{% block car_autocomplete_widget %}
    {% set easyadminEntity = 'Car' %}

    <div class="input-group">
        {{ form_widget(form) }}
        <div class="input-group-btn">{{ block('widget_button') }}</div>
    </div>
{% endblock car_autocomplete_widget %}

{% block vehicle_autocomplete_widget %}
    {% set easyadminEntity = 'CarModel' %}

    <div class="input-group">
        {{ form_widget(form) }}
        <div class="input-group-btn">{{ block('widget_button') }}</div>
    </div>
{% endblock vehicle_autocomplete_widget %}

{% block manufacturer_autocomplete_widget %}
    {% set easyadminEntity = 'Manufacturer' %}

    <div class="input-group">
        {{ form_widget(form) }}
        <div class="input-group-btn">{{ block('widget_button') }}</div>
    </div>
{% endblock manufacturer_autocomplete_widget %}
