{% block car_engine_row %}
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">{{ block('form_label') }}</h3>
        </div>

        <div class="box-body">
            {{ block('form_errors') }}

            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.type) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.capacity) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">{{ form_row(form.airIntake) }}</div>
                <div class="col-md-4">{{ form_row(form.injection) }}</div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
{% endblock %}

{# Autocomplete form type #}
{% block autocomplete_widget %}
    {{ form_widget(form.autocomplete, {attr: attr}) }}
{% endblock autocomplete_widget %}

{% block part_offer_widget %}
    <div class="form-group field-part_id">
        {{ form_row(form.partId) }}

        {% if vehicleId|default is not empty and vehicle_case_is_defined(vehicleId) %}
            <span class="help-block">
        Поиск осуществляется только по <strong>{{ vehicleId|display_name }}</strong>, чтобы выполнить поиск по всему складу добавьте символ <strong>+</strong> (плюс) в любую часть строки.
            </span>
        {% endif %}
    </div>

    {{ form_row(form.price) }}
    {{ form_row(form.quantity) }}

    <script type="text/javascript">
      let partInput = $("#{{ form.partId.children.autocomplete.vars.id }}"),
          costInput = $("#{{ form.price.vars.id }}");

      partInput.on('change', function() {
        if (costInput.val()) {
          return;
        }

        let text = $(this).text();
        let price = text.split('|')[1].trim().replace(/\s/g, '').slice(0, -1).trim().replace(' ', '');
        costInput.val(price);
      });
    </script>
{% endblock part_offer_widget %}

{% block widget_modal_row %}
    {% set _field_type = easyadmin.field.fieldType|default('default') %}
    <div class="form-group {% if (not compound or force_error|default(false)) and not valid %}has-error{% endif %} field-{{ block_prefixes|slice(-2)|first }}">
        {{- form_label(form) -}}

        <div class="input-group">
            {{- form_widget(form) -}}
            <div class="input-group-btn">
                <button
                        id="{{ easyadminEntity }}-widget-button"
                        class="btn btn-info modal-widget-button"
                        type="button"
                        data-url="{{ easyadmin_path(easyadminEntity, 'widget', {'widgetTarget': form.autocomplete.vars.id})|raw }}">
                    Создать
                </button>
            </div>
        </div>

        {{- form_errors(form) -}}
        {{- form_help(form) -}}
    </div>
{% endblock %}

{% block car_autocomplete_row %}
    {% set easyadminEntity = 'Car' %}

    {{ block('widget_modal_row') }}
{% endblock car_autocomplete_row %}

{% block vehicle_autocomplete_row %}
    {% set easyadminEntity = 'CarModel' %}

    {{ block('widget_modal_row') }}
{% endblock vehicle_autocomplete_row %}

{% block manufacturer_autocomplete_row %}
    {% set easyadminEntity = 'Manufacturer' %}

    {{ block('widget_modal_row') }}
{% endblock manufacturer_autocomplete_row %}

{% block part_autocomplete_row %}
    {% set easyadminEntity = 'Part' %}

    {% if with_widget %}
        {{ block('widget_modal_row') }}
    {% else %}
        {{ block('form_row') }}
    {% endif %}
{% endblock part_autocomplete_row %}

{% block customer_autocomplete_row %}
    {% set _field_type = easyadmin.field.fieldType|default('default') %}
    <div class="form-group {% if (not compound or force_error|default(false)) and not valid %}has-error{% endif %} field-{{ block_prefixes|slice(-2)|first }}">
        {{- form_label(form) -}}

        <div class="input-group">
            {{- form_widget(form) -}}
            <div class="input-group-btn">
                <button id="customer-modal-widget-button" class="btn btn-info" type="button">Создать</button>
            </div>
        </div>

        {{- form_errors(form) -}}
        {{- form_help(form) -}}
    </div>

    <div class="modal fade" id="customer-widget-modal" role="dialog" aria-labelledby="customer-modal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="customer-modal-label">Создать клиента</h4>
                </div>
                <div class="modal-body text-center">
                    <div class="row">
                        <div class="col-md-6">
                            <button
                                    id="person-widget-button"
                                    class="btn btn-info"
                                    type="button"
                                    data-url="{{ easyadmin_path('Person', 'widget', {'widgetTarget': form.autocomplete.vars.id})|raw }}">
                                Физическое лицо
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button
                                    id="organization-widget-button"
                                    class="btn btn-info"
                                    type="button"
                                    data-url="{{ easyadmin_path('Organization', 'widget', {'widgetTarget': form.autocomplete.vars.id})|raw }}">
                                Юридическое лицо
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
      (function() {
        let modalButton = $('#customer-modal-widget-button'),
            modal = $('#customer-widget-modal'),
            personButton = $('#person-widget-button'),
            organizationButton = $('#organization-widget-button');

        let customerButtonOnClickHandler = function() {
          let button = $(this);
          modal.modal('hide');

          $.ajax({
            url: button.data('url') + '&widgetButton=' + button.attr('id'),
          }).done(function(data) {
            $('body').append(data);
          });
        };

        personButton.on('click', customerButtonOnClickHandler);
        organizationButton.on('click', customerButtonOnClickHandler);

        modalButton.on('click', function() {
          modal.modal('show');
        });
      })();
    </script>
{% endblock customer_autocomplete_row %}

{% block order_payment_widget %}
    {% set forPaymentDecimal = form.vars.value.payment|localize_money(true) %}

    <div class="row">
        {% if form.description is defined %}
            <div class="col-md-6">
                {{ form_row(form.recipient) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.description) }}
            </div>
        {% else %}
            <div class="col-md-12">
                {{ form_row(form.recipient) }}
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">К оплате</label>
                <div class="input-group">
                    <span class="label label-primary" style="font-size: 24px">
                        {{ form.vars.value.payment|localize_money }}
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Введено</label>
                <div class="input-group">
                    <span class="label label-success" style="font-size: 24px">
                        <span class="js-total-amount"></span>
                        {{ (form.vars.value.payment|localize_money)[-1:] }}
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                {% for key,walletForm in form.wallets %}
                    <div class="col-md-7">
                        {% if loop.first %}
                            {{ form_label(walletForm.walletId) }}
                        {% endif %}
                        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-arrow-right js-wallet-arrow" style="cursor: pointer" data-id="{{ key }}"></i>
                        </span>
                            {{ form_widget(walletForm.walletId) }}
                        </div>
                        {{ form_errors(walletForm.walletId) }}
                    </div>
                    <div class="col-md-5">
                        {% if loop.first %}
                            {{ form_label(walletForm.payment) }}
                        {% endif %}
                        {{ form_widget(walletForm.payment, {'attr': {'class': 'js-wallet-payment ' ~ key ~ (loop.first ? ' js-wallet-first')}}) }}
                        {{ form_errors(walletForm.payment) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
      const amount = function(string) {
            let result = parseFloat(string.replace(',', '.'));
            if (!jQuery.isNumeric(result)) {
              return 0;
            }

            return result;
          },
          formatMoney = function(string) {
            return string.toFixed(2).replace('.', ',');
          };

      let
          total = $('.js-total-amount'),
          wallets = $('.js-wallet-payment');

      let refreshSum = function() {
        let totalTemp = 0;

        wallets.each(function() {
          totalTemp += amount($(this).val());
        });

        total.html(formatMoney(totalTemp));
      };

      wallets.each(function() {
        $(this).on('change', refreshSum);
        $(this).on('keyup', refreshSum);
      });

      $('.js-wallet-arrow').each(function() {
        $(this).on('click', function() {
          wallets.each(function() {
            $(this).val(formatMoney(0));
          });
          $('.' + $(this).data('id')).val('{{ forPaymentDecimal }}');
          refreshSum();
        });
      });

      $(document).on('ready', refreshSum);
    </script>
{% endblock order_payment_widget %}
