{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block header_custom_menu %}
    {{ parent() }}

    <ul class="nav navbar-nav" style="margin-right: 10px">
        <li>
            {{ render(controller('App\\Controller\\Admin\\LayoutController::balance')) }}
        </li>
    </ul>
{% endblock %}

{% block wrapper %}
    {{ parent() }}

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            Сборка <b>{{ build() }}</b> от {{ build_time()|localizeddate('medium', 'short', null, 'GMT+3') }}
        </div>
        <strong>Copyright © 2017 - {{ date()|date('Y') }} <a href="//www.automagistre.ru">Автомагистр</a>.</strong>
    </footer>
{% endblock %}
