{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block header_logo %}
    {{ parent() }}

    {# @var current \App\Enum\Tenant #}
    {% set current = state.tenant %}

    <ul class="nav navbar-nav" style="margin-top: 7px">
        <li class="dropdown user user-menu">
            <span class="sr-only">Вы вошли как</span>

            <div class="btn-group">
                <button type="button" class="btn" data-toggle="dropdown">
                    {{ current.getDisplayName() }}
                </button>
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {% for tenant in tenants() if not tenant.eq(current) %}
                        {# @var tenant \App\Entity\Landlord\Tenant #}
                        <li>
                            <a href="{{ path('easyadmin', app.request.query.all()|merge({'tenant': tenant.getIdentifier()})) }}">
                                <i class="fa fa-link"></i> {{ tenant.getDisplayName() }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
    </ul>
{% endblock %}

{% block header_custom_menu %}
    {{ parent() }}

    {{ layout_balance() }}
{% endblock %}

{% block wrapper %}
    {{ parent() }}

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            Сборка <b>{{ build() }}</b> от {{ build_time()|localizeddate('medium', 'short', null, 'GMT+3') }}
        </div>
        <strong>Copyright © 2017 - {{ date()|date('Y') }} <a href="//www.automagistre.ru">Автомагистр</a>.</strong>
    </footer>
{% endblock %}
