{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block header_logo %}
    {{ parent() }}

    {# @var current \App\Enum\Tenant #}
    {% set current = state.tenant %}

    <ul class="nav navbar-nav" style="margin-top: 7px">
        <li class="dropdown user user-menu">
            <span class="sr-only">Вы вошли как</span>

            <div class="btn-group">
                <button type="button" class="btn" data-toggle="dropdown">
                    {{ current.getDisplayName() }}
                </button>
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {% for tenant in tenants() if not tenant.eq(current) %}
                        {# @var tenant \App\Entity\Landlord\Tenant #}
                        <li>
                            <a href="{{ path('easyadmin', app.request.query.all()|merge({'tenant': tenant.getIdentifier()})) }}">
                                <i class="fa fa-link"></i> {{ tenant.getDisplayName() }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
    </ul>
{% endblock %}

{% block header_custom_menu %}
    {{ parent() }}

    {{ layout_balance() }}
{% endblock %}

{% block user_menu_dropdown %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {% set uri = app.request.uri %}
        {% if'.local' in app.request.host %}
            {% set uri = uri|replace({'http': 'https', '.local': '.ru'}) %}
            {% set label = 'На бой' %}
        {% else %}
            {% set uri = uri|replace({'https': 'http', '.ru': '.local'}) %}
            {% set label = 'На локалку' %}
        {% endif %}
        <li>
            <a href="{{ uri }}"><i class="fa fa-link"></i> {{ label }}</a>
        </li>
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block content_title %}
    {% set action = app.request.query.get('action') %}
    {% set title = (attribute(_entity_config, action).title)|default %}

    {% if title is not empty and '%entity_id%' not in title %}
        {{ include(template_from_string(title)) }}
    {% else %}
        {{ block('content_title', '@EasyAdmin/default/' ~ action ~'.html.twig') }}
    {% endif %}
{% endblock %}

{% block wrapper %}
    {{ parent() }}

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            Сборка <b>{{ build() }}</b> от {{ build_time()|localizeddate('medium', 'short', null, 'GMT+3') }}
        </div>
        <strong>Copyright © 2017 - {{ date()|date('Y') }} <a href="//www.automagistre.ru">Автомагистр</a>.</strong>
    </footer>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script>
      $(document).ready(function() {
        let urlParams = new URLSearchParams(window.location.search);

        if (urlParams.has('lineIndex')) {
          let tr = $('tr[data-id="' + urlParams.get('lineIndex') + '"]');
          tr.addClass('warning');

          $([document.documentElement, document.body]).animate({
            scrollTop: tr.offset().top,
          }, 500);
        }
      });
    </script>
{% endblock %}
