{% extends 'easy_admin/default/layout.html.twig' %}

{% block content_title %}
    Удаление записи на {{ entry.schedule.date|format_date }}
{% endblock %}

{% block main %}
    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-danger">
        <i class="fa fa-trash"></i> Удалить
    </button>

    <a class="btn btn-default" href="{{ easyadmin_path('CalendarEntry', 'edit', {'id': entry.id}) }}">
        Вернуться
    </a>

    {{ form_end(form) }}
{% endblock %}
