{% block main %}
    {{ form_start(form) }}

    {% form_theme form.orderInfo _self %}

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-5">{{ form_row(form.schedule.date) }}</div>
                <div class="col-md-2">{{ form_row(form.schedule.duration) }}</div>
                <div class="col-md-4">{{ form_row(form.orderInfo.workerId) }}</div>
            </div>

            <hr>

            {{ form_row(form.orderInfo) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block order_info_row %}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-4">{{ form_row(form.customerId) }}</div>
        <div class="col-md-4">{{ form_row(form.carId) }}</div>
        <div class="col-md-4">{{ form_row(form.description) }}</div>
    </div>
{% endblock %}
