{% block main %}
    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-5">{{ form_row(form.schedule.date) }}</div>
                <div class="col-md-2">{{ form_row(form.schedule.duration) }}</div>
                <div class="col-md-4">{{ form_row(form.orderInfo.workerId) }}</div>
            </div>
        </div>

        <div class="col-md-12">
            <hr>

            {{ form_errors(form.orderInfo) }}

            <div class="row">
                <div class="col-md-4">{{ form_row(form.orderInfo.customerId) }}</div>
                <div class="col-md-4">{{ form_row(form.orderInfo.carId) }}</div>
                <div class="col-md-4">{{ form_row(form.orderInfo.description) }}</div>
            </div>

            {% if block('customer') is defined %}
                {{ block('customer') }}
            {% endif %}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
      $(document).on('ready', function() {
        customer_car_form({
          customer: {
            input: '#{{ form.orderInfo.customerId.autocomplete.vars.id }}',
            autocomplete: '{{ easyadmin_path('Operand', 'autocomplete', {'car_id': '__CAR__', 'use_uuid': 1})|raw }}',
          },
          car: {
            input: '#{{ form.orderInfo.carId.autocomplete.vars.id }}',
            autocomplete: '{{ easyadmin_path('Car', 'autocomplete', {'customer_id': '__CUSTOMER__', 'use_uuid': 1})|raw }}',
          },
        });
      });
    </script>
{% endblock %}
