{% extends 'easy_admin/default/list.html.twig' %}

{% block content_title_wrapper %}{% endblock %}
{% block content_title %}
    Запись
{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
    <style>
        .create-plus-button {
            opacity: 0;
            transition: all 0.3s ease-in-out;
        }

        a:hover > .create-plus-button {
            opacity: 1;
        }

        .calendar_table {
            table-layout: fixed;
        }


        .calendar-head__item {
            text-align: center;
            padding: 3px !important;
            width: 4em;
        }

        .calendar-head__item:first-child {
            width: 180px;
        }


        .calendar__item {
            background-color: white !important;
            height: 85px;
            border-radius: 10px;
        }

        .calendar__item.event {
            background: #3399CC !important;
            color: white;
            overflow: hidden;
            white-space: nowrap;
            position: relative;
        }

        .calendar__item.event > a {
            position: absolute !important;
            top: 0 !important;
            left: 0;
            display: flex;
            color: white;
            border-radius: 10px;
            padding: inherit;
            height: 100%;
            width: 100%;
            align-items: center;
        }

        .calendar__item.event > a:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, .1);
            border: inherit;
            border-radius: inherit;
            opacity: 0;
            transition: all 0.3s ease-in-out;
        }

        .calendar__item.event > a:hover:after {
            opacity: 1;
        }

        .calendar__item.event:hover {
            overflow: visible;
        }

        .calendar__item.event > a:hover {
            z-index: 10;
            background-color: inherit;
            opacity: 1;
            font-weight: 500;
            min-width: fit-content;
        }

        .calendar__item.empty {
            height: 85px;
            text-align: center;
            padding: 0;

        }

        .calendar__item.empty > a {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .calendar__item.event.is-assigned {

        }

        .calendar__item.event.is-assigned.green {
            background-color: #339966 !important;
        }

        .calendar__item.event.is-assigned.orange {
            background-color: #CC6633 !important;
        }

        .calendar__item.event.is-assigned.red {
            background-color: #CC3333 !important;
        }

        .calendar__item.event.is-assigned.purple {
            background-color: #9933CC !important;
        }

        .calendar__item.event.is-assigned.pink {
            background-color: #CC3399 !important;
        }

        .modal {
            color: black;
            overflow: visible;
            white-space: normal;
            text-overflow: unset;
        }

        body.list .table tbody tr:hover td {
            background-color: inherit;
        }

    </style>
{% endblock %}

{% block global_actions %}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            <form id="date-form" method="GET" class="form" action="{{ app.request.requestUri }}">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button id="yesterday-button" class="btn btn-primary">Назад</button>
                    </div>
                    <div class="input-group-addon">Дата</div>
                    <input id="date-input" type="date" name="date" class="form-control" value="{{ date|date('Y-m-d') }}">
                    {% for query in ['entity', 'action', 'menuIndex', 'submenuIndex', 'order_id']|filter(key => app.request.query.has(key)) %}
                        <input type="hidden" name="{{ query }}" value="{{ app.request.query.get(query) }}">
                    {% endfor %}
                    <div class="input-group-btn">
                        <button id="today-button" class="btn btn-info">Сегодня</button>
                        <button id="tomorrow-button" class="btn btn-primary">Вперёд</button>
                    </div>
                </div>

                <script>
                  $('#today-button').click(function(e) {
                    $('#date-input').val('{{ today|date('Y-m-d') }}');
                  });

                  $('#tomorrow-button').click(function(e) {
                    $('#date-input').val('{{ date.modify('+1 day')|date('Y-m-d') }}');
                  });

                  $('#yesterday-button').click(function(e) {
                    $('#date-input').val('{{ date.modify('-1 day')|date('Y-m-d') }}');
                  });

                  $('#date-input').change(() => $('#date-form').submit());
                </script>
            </form>
        </div>
    </div>

    <br>

    <div id="day_buttons" class="btn-group">
        {% for day in -7..7 %}
            {% set day = date|date_modify(day~' days') %}
            {% set current = day == date %}

            {% if today == day %}
                {% set color = '#ffffff' %}
                {% set background = '#39A0ED' %}
            {% elseif current %}
                {% set color = '#ffffff' %}
                {% set background = '#006B2E' %}
            {% else %}
                {% set color = '#333333' %}
                {% set background = '#ffffff' %}
            {% endif %}

            <a href="{{ easyadmin_path('CalendarEntry', 'list', {'date': day|date('Y-m-d'), 'order_id': orderId}) }}" class="btn btn-sm {% if current %}disabled btn-success{% else %}btn-default{% endif %}" style="
                    border-radius: {{ current ? '0px' : '3px' }};
                    border: 1px solid {{ current ? '#006B2E' : '#ccc' }};
                    color: {{ color }};
                    background-color: {{ background }};
                    ">
                {{ day|format_date(pattern='dd.MM.Y') }}
                <br>
                {{ day|format_date(pattern='eeee') }}
            </a>
        {% endfor %}
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12" style="overflow: auto">

            <table class="table table-bordered calendar_table">
                <thead>
                <tr class="calendar-head__row">
                    <th class="calendar-head__item"></th>
                    {% for time in columns %}
                        <th class="calendar-head__item">{{ time }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for stream in streams %}
                    {# @var stream \App\Calendar\View\Stream #}
                    <tr class="calendar-row">
                        <td class="calendar__item master">
                            {% if stream.workerId is not empty %}
                                <a href="{{ easyadmin_path('Employee', 'show', {
                                    'id': stream.workerId|toId,
                                    'order_id': orderId,
                                    'referer': true
                                }) }}">
                                    {{- stream.workerId|display_name -}}
                                </a>
                            {% else %}
                                {% include 'easy_admin/default/label_null.html.twig' %}
                            {% endif %}
                        </td>
                        {% set skip = 0 %}
                        {% set maxRowLength = 24 %}
                        {% set currentRowLength = 0 %}

                        {% for time in columns %}
                            {# @var stream \App\Calendar\View\Stream #}
                            {% if skip > 0 %}
                                {% set skip = skip - 1 %}
                            {% elseif stream.has(time) %}
                                {% set item = stream.get(time) %}
                                {% set skip = item.length - 1 %}
                                {% set currentRowLength = currentRowLength + item.length %}
                                {#                                    Если у записи есть мастер, то добавить класс is-assigned,  так же можно выбрать для каждого мастера цвет
                                                                      Добавив классы
                                 #}
                                {% set entry = item.calendar %}
                                {# @var entry \App\Calendar\Entity\EntryView #}
                                <td class="calendar__item event{% if entry.orderInfo.workerId is not null %} is-assigned purple{% endif %}"
                                        {% if item.length > 1 %}
                                            colspan="{{ currentRowLength <= maxRowLength ? item.length : item.length - currentRowLength + maxRowLength }}"
                                        {% endif %} >
                                    <a data-toggle="modal" data-target="#{{ entry|toId }}" style="cursor: pointer">
                                        {% if entry.orderInfo.customerId is not empty %}
                                            {{ entry.orderInfo.customerId|display_name('short') }} <br>
                                        {% endif %}

                                        {% if entry.orderInfo.carId is not empty %}
                                            {{ entry.orderInfo.carId|display_name('short') }} <br>
                                        {% endif %}

                                        {{ entry.orderInfo.description }}
                                    </a>

                                    <div class="modal fade" id="{{ entry|toId }}" tabindex="-1" role="dialog" style="color: black">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Запись
                                                        на {{ entry.schedule.date|format_datetime }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    {% if entry.orderInfo.customerId is not empty %}
                                                        Заказчик:
                                                        <a href="{{ easyadmin_path('Operand', 'show', {
                                                            'id': entry.orderInfo.customerId|toId,
                                                            'referer': true
                                                        }) }}">
                                                            {{ entry.orderInfo.customerId|display_name }}
                                                        </a>

                                                        {% set tel = entry.orderInfo.customerId|display_name('tel') %}
                                                        <a href="tel:{{ tel }}">{{ tel }}</a>
                                                        <hr>
                                                    {% endif %}

                                                    {% if entry.orderInfo.carId is not empty %}
                                                        Автомобиль:
                                                        <a href="{{ easyadmin_path('Car', 'show', {
                                                            'id': entry.orderInfo.carId|toId,
                                                            'referer': true
                                                        }) }}">
                                                            {{ entry.orderInfo.carId|display_name('long') }}
                                                        </a>
                                                        <hr>
                                                    {% endif %}

                                                    {% if entry.orderInfo.description is not empty %}
                                                        Комментарий:
                                                        {{ entry.orderInfo.description }}
                                                    {% endif %}
                                                </div>
                                                <div class="modal-footer">
                                                    {% if entry.orderId is not empty %}
                                                        <a href="{{ easyadmin_path('Order', 'show', {'id': entry.orderId.toString}) }}" class="btn btn-info">
                                                            В Заказ
                                                        </a>
                                                    {% else %}
                                                        <a href="{{ easyadmin_path('Order', 'new', {'calendar_entry_id': entry|toId}) }}" class="btn btn-success">
                                                            Создать заказ
                                                        </a>
                                                    {% endif %}
                                                    <a
                                                            href="{{ easyadmin_path('CalendarEntry', 'deletion', {'id': item.calendar|toId(), 'referer': true}) }}"
                                                            class="btn btn-danger">
                                                        Удалить
                                                    </a>
                                                    <a
                                                            href="{{ easyadmin_path('CalendarEntry', 'edit', {'id': item.calendar|toId(), 'referer': true}) }}"
                                                            class="btn btn-primary">
                                                        Редактировать
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            {% else %}
                                {% set currentRowLength = currentRowLength + 1 %}
                                <td class="calendar__item empty"    >
                                    <a href="{{ easyadmin_path('CalendarEntry', 'new', {'order_id': orderId, 'date': date|date('Y-m-d') ~ ' ' ~ time}|merge(stream.workerId ? {'worker_id': stream.workerId.toString} : {})) }}">
                                        <div class="btn btn-success create-plus-button">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                    </a>
                                </td>
                            {% endif %}

                        {% endfor %}
                    </tr>
                {% endfor %}

                <tr>
                    <td>Новый поток</td>
                    {% for time in columns %}
                        <td class="calendar__item empty">
                            <a href="{{ easyadmin_path('CalendarEntry', 'new', {'order_id': orderId, 'date': date|date('Y-m-d') ~ ' ' ~ time}) }}">
                                <div class="btn btn-success create-plus-button">
                                    <i class="fa fa-plus"></i>
                                </div>
                            </a>
                        </td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
