{% extends 'easy_admin/default/list.html.twig' %}

{% block content_title_wrapper %}{% endblock %}
{% block content_title %}
    Запись
{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
    <style>
        a.create-plus-button {
            opacity: 0;
        }

        a.create-plus-button:hover {
            opacity: 1;
        }
    </style>
{% endblock %}

{% block global_actions %}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            <form id="date-form" method="GET" class="form" action="{{ app.request.requestUri }}">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button id="yesterday-button" class="btn btn-primary">Назад</button>
                    </div>
                    <div class="input-group-addon">Дата</div>
                    <input id="date-input" type="date" name="date" class="form-control" value="{{ date|date('Y-m-d') }}">
                    {% for query in ['entity', 'action', 'menuIndex', 'submenuIndex', 'order_id']|filter(key => app.request.query.has(key)) %}
                        <input type="hidden" name="{{ query }}" value="{{ app.request.query.get(query) }}">
                    {% endfor %}
                    <div class="input-group-btn">
                        <button id="today-button" class="btn btn-info">Сегодня</button>
                        <button id="tomorrow-button" class="btn btn-primary">Вперёд</button>
                    </div>
                </div>

                <script>
                  $('#today-button').click(function(e) {
                    $('#date-input').val('{{ today|date('Y-m-d') }}');
                  });

                  $('#tomorrow-button').click(function(e) {
                    $('#date-input').val('{{ date.modify('+1 day')|date('Y-m-d') }}');
                  });

                  $('#yesterday-button').click(function(e) {
                    $('#date-input').val('{{ date.modify('-1 day')|date('Y-m-d') }}');
                  });

                  $('#date-input').change(() => $('#date-form').submit());
                </script>
            </form>
        </div>
    </div>

    <br>

    <div id="day_buttons" class="btn-group">
        {% for day in -7..7 %}
            {% set day = date|date_modify(day~' days') %}
            {% set current = day == date %}

            {% if today == day %}
                {% set color = '#ffffff' %}
                {% set background = '#39A0ED' %}
            {% elseif current %}
                {% set color = '#ffffff' %}
                {% set background = '#006B2E' %}
            {% else %}
                {% set color = '#333333' %}
                {% set background = '#ffffff' %}
            {% endif %}

            <a href="{{ easyadmin_path('CalendarEntry', 'list', {'date': day|date('Y-m-d'), 'order_id': orderId}) }}" class="btn btn-sm {% if current %}disabled btn-success{% else %}btn-default{% endif %}" style="
                    border-radius: {{ current ? '0px' : '3px' }};
                    border: 1px solid {{ current ? '#006B2E' : '#ccc' }};
                    color: {{ color }};
                    background-color: {{ background }};
                    ">
                {{ day|format_date(pattern='dd.MM.Y') }}
                <br>
                {{ day|format_date(pattern='eeee') }}
            </a>
        {% endfor %}
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="width: 10%"></th>
                        {% for time in columns %}
                            <th style="text-align: center; width: 50px"><strong>{{ time }}</strong></th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for stream in streams %}
                        {# @var stream \App\Calendar\View\Stream #}
                        <tr style="height: 60px">
                            <td>
                                {% if stream.workerId is not empty %}
                                    <a href="{{ easyadmin_path_by_id(stream.workerId, 'show', {'order_id': orderId, 'referer': true}) }}">
                                        {{- stream.workerId|display_name -}}
                                    </a>
                                {% else %}
                                    {% include 'easy_admin/default/label_null.html.twig' %}
                                {% endif %}
                            </td>
                            {% set skip = 0 %}

                            {% for time in columns %}
                                {# @var stream \App\Calendar\View\Stream #}
                                {% if skip > 0 %}
                                    {% set skip = skip - 1 %}
                                {% elseif stream.has(time) %}
                                    {% set item = stream.get(time) %}
                                    {% set skip = item.length - 1 %}
                                    <td
                                            {% if item.length > 1 %} colspan="{{ item.length }}"{% endif %}
                                            style="background-color: #dff0d8;border: 1px solid #205081"
                                    >
                                        {# @var entry \App\Calendar\Form\CalendarEntryDto #}
                                        {% set entry = item.calendar %}

                                        <a data-toggle="modal" data-target="#{{ entry.id.toString }}" style="cursor: pointer">
                                            {% if entry.orderInfo.customerId is not empty %}
                                                {{ entry.orderInfo.customerId|display_name('short') }} <br>
                                            {% endif %}

                                            {% if entry.orderInfo.carId is not empty %}
                                                {{ entry.orderInfo.carId|display_name('short') }} <br>
                                            {% endif %}

                                            {{ entry.orderInfo.description }}
                                        </a>

                                        <div class="modal fade" id="{{ entry.id.toString }}" tabindex="-1" role="dialog">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Запись
                                                            на {{ entry.schedule.date|format_datetime }}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        {% if entry.orderInfo.customerId is not empty %}
                                                            Заказчик:
                                                            <a href="{{ easyadmin_path_by_id(entry.orderInfo.customerId, 'show', {'referer': true}) }}">
                                                                {{ entry.orderInfo.customerId|display_name }}
                                                            </a>

                                                            {% set tel = entry.orderInfo.customerId|display_name('tel') %}
                                                            <a href="tel:{{ tel }}">{{ tel }}</a>
                                                            <hr>
                                                        {% endif %}

                                                        {% if entry.orderInfo.carId is not empty %}
                                                            Автомобиль:
                                                            <a href="{{ easyadmin_path_by_id(entry.orderInfo.carId, 'show', {'referer': true}) }}">
                                                                {{ entry.orderInfo.carId|display_name('long') }}
                                                            </a>
                                                            <hr>
                                                        {% endif %}

                                                        {% if entry.orderInfo.description is not empty %}
                                                            Комментарий:
                                                            {{ entry.orderInfo.description }}
                                                        {% endif %}
                                                    </div>
                                                    <div class="modal-footer">
                                                        {% if entry.orderId is not empty %}
                                                            <a href="{{ easyadmin_path('Order', 'show', {'id': entry.orderId.toString}) }}" class="btn btn-info">
                                                                В Заказ
                                                            </a>
                                                            {% else %}
                                                            <a href="{{ easyadmin_path('Order', 'new', {'calendar_entry_id': entry.id.toString}) }}" class="btn btn-success">
                                                                Создать заказ
                                                            </a>
                                                        {% endif %}
                                                        <a
                                                                href="{{ easyadmin_path('CalendarEntry', 'deletion', {'id': item.calendar.id.toString(), 'referer': true}) }}"
                                                                class="btn btn-danger">
                                                            Удалить
                                                        </a>
                                                        <a
                                                                href="{{ easyadmin_path('CalendarEntry', 'edit', {'id': item.calendar.id.toString(), 'referer': true}) }}"
                                                                class="btn btn-primary">
                                                            Редактировать
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                {% else %}
                                    <td style="text-align: center">
                                        <a href="{{ easyadmin_path('CalendarEntry', 'new', {'order_id': orderId, 'date': date|date('Y-m-d') ~ ' ' ~ time}|merge(stream.workerId ? {'worker_id': stream.workerId.toString} : {})) }}" class="btn btn-success create-plus-button">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        {% for time in columns %}
                            <td style="text-align: center">
                                <a href="{{ easyadmin_path('CalendarEntry', 'new', {'order_id': orderId, 'date': date|date('Y-m-d') ~ ' ' ~ time}) }}" class="btn btn-success create-plus-button">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
