{% extends 'easy_admin/default/new.html.twig' %}

{% use 'easy_admin/calendar/form.html.twig' %}

{% block customer %}
    {% set isNewCustomerForm = form.orderInfo.customer.vars.value is not empty %}
    <label>
        <input type="checkbox" id="form-customer-checkbox"{% if isNewCustomerForm %} checked="checked"{% endif %}>
        Новый клиент
    </label>

    <div id="form-customer-cloak"{% if not isNewCustomerForm %} style="display: none"{% endif %}>
        <hr>

        <div class="row">
            <div class="col-md-4">{{ form_row(form.orderInfo.customer.firstName, {'attr': {'disabled': not isNewCustomerForm}}) }}</div>
            <div class="col-md-4">{{ form_row(form.orderInfo.customer.lastName, {'attr': {'disabled': not isNewCustomerForm}}) }}</div>
            <div class="col-md-4">{{ form_row(form.orderInfo.customer.telephone, {'attr': {'disabled': not isNewCustomerForm}}) }}</div>
        </div>
    </div>

    <hr>

    <button type="submit" class="btn btn-success">Сохранить</button>
{% endblock %}

{% block body_javascript %}
    {{ block('js') }}
    <script>
      let cloak = $('#form-customer-cloak'),
          customerInput = $('#{{ form.orderInfo.customerId.autocomplete.vars.id }}'),
          customerFirstNameInput = $('#{{ form.orderInfo.customer.firstName.vars.id }}'),
          customerLastNameInput = $('#{{ form.orderInfo.customer.lastName.vars.id }}'),
          customerTelephoneInput = $('#{{ form.orderInfo.customer.telephone.vars.id }}');

      $('#form-customer-checkbox').on('change', function() {
        if ($(this).prop('checked')) {
          cloak.slideDown(200);
          customerInput.prop('disabled', true);
          customerTelephoneInput.prop('disabled', false);
          customerLastNameInput.prop('disabled', false);
          customerFirstNameInput.prop('disabled', false);
          return;
        }

        cloak.slideUp(200);
        customerInput.prop('disabled', false);
        customerTelephoneInput.prop('disabled', true);
        customerLastNameInput.prop('disabled', true);
        customerFirstNameInput.prop('disabled', true);
      });
    </script>
{% endblock %}
