{% block panel_body %}
    {{ form_start(form) }}
    {{ form_row(form.order) }}
    {{ form_row(form.parent) }}

    <div class="form-group field-easyadmin_autocomplete">
        {{ form_label(form.part) }}

        <div class="input-group">
            {{ form_widget(form.part) }}
            <div class="input-group-addon">
                <a href="" id="new-part">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>

        <span class="help-block">
            <i class="fa fa-info-circle"></i>
            Если первый символ в строке будет + то поиск будет по запчастям имеющимся на складе
        </span>
    </div>

    {{ form_row(form.price) }}
    {{ form_row(form.quantity) }}
    {{ form_row(form.warranty) }}
{% endblock %}

{% block js %}
    <script type="text/javascript">
      let url = "{{ easyadmin_path('Part', 'new')|raw }}",
          partInput = $("#{{ form.part.children.autocomplete.vars.id }}"),
          costInput = $("#{{ form.price.vars.id }}");

      $('#new-part').click(function() {
        $.ajax({
          url: url,
        }).done(function(data) {
          $('body').append(data);
        });

        return false;
      });

      $(document).on('new-part-added', function(e, data) {
        let option = new Option([data.name, '(' + data.manufacturer.name, data.number + ')'].join(' '), data.id);
        option.selected = true;

        costInput.val(data.price.amount.replace('.', ','));

        partInput.append(option);
        partInput.trigger('change');
      });

      partInput.on('change', function() {
        if (costInput.val()) {
          return;
        }

        let text = $(this).text();
        let price = text.split('|')[1].trim().replace(/\s/g, '').slice(0, -1).trim().replace(' ', '');
        costInput.val(price);
      });
    </script>
{% endblock %}
