{% extends '@EasyAdmin/default/new.html.twig' %}

{% use 'easy_admin/order/layout.html.twig' %}

{% block content_title %}Создать новую запчасть{% endblock %}

{% block panel_title %}Запчасть{% endblock %}

{% block div_footer %}{% endblock %}

{% block panel_body %}
    {{ form_start(form) }}
    {{ form_row(form.order) }}
    {{ form_row(form.parent) }}

    <div class="form-group field-easyadmin_autocomplete">
        {{ form_label(form.part) }}

        <div class="input-group">
            {{ form_widget(form.part) }}
            <div class="input-group-btn">
                <a href="{{ easyadmin_path('Part', 'new', {'referer': true}) }}" class="btn btn-primary">
                    Создать
                </a>
            </div>
        </div>

        <span class="help-block">
            Если первый символ в строке будет + то поиск будет по запчастям имеющимся на складе
        </span>
    </div>

    {{ form_row(form.price) }}
    {{ form_row(form.quantity) }}
    {{ form_row(form.warranty) }}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
      let partInput = $("#{{ form.part.children.autocomplete.vars.id }}"),
          costInput = $("#{{ form.price.vars.id }}");

      partInput.on('change', function() {
        if (costInput.val()) {
          return;
        }

        let text = $(this).text();
        let price = text.split('|')[1].trim().replace(/\s/g, '').slice(0, -1).trim().replace(' ', '');
        costInput.val(price);
      });
    </script>
{% endblock %}
