{# @var item \App\Storage\Entity\Motion #}

{% if item.source.isOrder() %}
    <a href="{{ easyadmin_path_by_id(item.sourceAsIdentifier, 'show', {'referer': true}) }}">
        {{ item.sourceAsIdentifier|display_name }}
    </a>
{% elseif item.source.isIncome() %}
    <a href="{{ easyadmin_path('Income', 'part', {'income_part_id': item.sourceId.toString, 'referer': true}) }}">
        {{ item.sourceAsIdentifier|display_name }}
    </a>
{% else %}
    {{ value }}
{% endif %}
