{% extends 'easy_admin/order/finish.html.twig' %}

{% block form %}
    {{ form_row(form.recipient) }}

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Всего</label>
                <div class="input-group">
                    {{ form.amountCash.vars.value }}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Переключатель</label>
                <div class="input-group">
                    <button class="btn btn-primary" type="button">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            {{ form_row(form.amountCash) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.amountNonCash) }}
        </div>
    </div>

    {{ form_row(form.description) }}
{% endblock %}
