{% extends 'easy_admin/default/layout.html.twig' %}

{% use 'easy_admin/order/layout.html.twig' %}

{% form_theme form with easyadmin_config('design.form_theme') %}

{% block content_title %}
    Создать платёж по заказу №{{ order }}
{% endblock %}

{% block panel_title %}Форма платежа{% endblock %}

{% set forPaymentDecimal = form.vars.value.forPayment|localize_money(true) %}

{% block panel_body %}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.recipient) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.description) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">К оплате</label>
                <div class="input-group">
                    <span class="label label-primary" style="font-size: 24px">
                        {{ form.vars.value.forPayment|localize_money }}
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Введено</label>
                <div class="input-group">
                    <span class="label label-success" style="font-size: 24px">
                        <span class="js-total-amount">{{ forPaymentDecimal }}</span>
                        {{ (form.vars.value.forPayment|localize_money)[-1:] }}
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                {% for key,data in form.vars.value.wallets %}
                    {% set walletForm = attribute(form.children, key) %}
                    <div class="col-md-7">
                        {% if loop.first %}
                            {{ form_label(walletForm.wallet) }}
                        {% endif %}
                        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-arrow-right js-wallet-arrow" style="cursor: pointer" data-id="{{ key }}"></i>
                        </span>
                            {{ form_widget(walletForm.wallet) }}
                        </div>
                        {{ form_errors(walletForm.wallet) }}
                    </div>
                    <div class="col-md-5">
                        {% if loop.first %}
                            {{ form_label(walletForm.payment) }}
                        {% endif %}
                        {{ form_widget(walletForm.payment, {'attr': {'class': 'js-wallet-payment ' ~ key ~ (loop.first ? ' js-wallet-first')}}) }}
                        {{ form_errors(walletForm.payment) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% if form.desc is defined %}
        <div class="row">
            <div class="col-md-12">{{ form_row(form.desc) }}</div>
        </div>
    {% endif %}
{% endblock %}


{% block body_javascript %}
    {{ parent() }}

    <script>
      const amount = function(string) {
            let result = parseFloat(string.replace(',', '.'));
            if (!jQuery.isNumeric(result)) {
              return 0;
            }

            return result;
          },
          formatMoney = function(string) {
            return string.toFixed(2).replace('.', ',');
          };

      let
          total = $('.js-total-amount'),
          wallets = $('.js-wallet-payment');

      let refreshSum = function() {
        let totalTemp = 0;

        wallets.each(function() {
          totalTemp += amount($(this).val());
        });

        total.html(formatMoney(totalTemp));
      };

      wallets.each(function() {
        $(this).on('change', refreshSum);
        $(this).on('keyup', refreshSum);
      });

      $('.js-wallet-arrow').each(function() {
        $(this).on('click', function() {
          wallets.each(function() {
            $(this).val(formatMoney(0))
          });
          $('.' + $(this).data('id')).val('{{ forPaymentDecimal }}');
          refreshSum();
        });
      });
    </script>
{% endblock %}
