{% extends 'easy_admin/default/show.html.twig' %}

{% set order = entity %}
{% set car = order.car %}
{% set carModel = car.carModel|default %}

{# @var order \App\Entity\Tenant\Order #}
{# @var car \App\Entity\Landlord\Car #}
{# @var carModel \App\Entity\Landlord\CarModel #}

{% block page_title %}Заказ № {{ order.id }}{% endblock %}

{% block content_title %}Заказ № {{ order.id }}{% endblock %}

{% block main %}
    <section id="main" class="content">
        <div class="row">
            <div class="col-md-6">
                {{ render(controller('App\\Controller\\EasyAdmin\\OrderController::info', {'order': order, 'statusSelector': true})) }}
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" style="margin-bottom: 15px">
                        {% if order.editable %}
                            <a href="{{ easyadmin_path(order, 'edit') }}" class="btn btn-primary">
                                <i class="fa fa-pencil"></i>
                                Редактировать
                            </a>

                            {% if order.readyToClose %}
                                <a href="{{ easyadmin_path(order, 'close', {'referer': true}) }}" class="btn btn-danger">
                                    <i class="fa fa-close"></i>
                                    Закрыть
                                </a>
                            {% else %}
                                <a href="#" class="btn btn-default" disabled="disabled">
                                    <i class="fa fa-close"></i>
                                    Закрыть
                                </a>
                            {% endif %}

                            <!-- Single button -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-print"></i> Печать <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    {% if car and car.recommendations is not empty %}
                                        <li>
                                            <a href="{{ easyadmin_path(order, 'matching', {'referer': true}) }}">
                                                Согласование
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ easyadmin_path(order, 'giveout', {'referer': true}) }}">
                                            Выдача
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ easyadmin_path(order, 'finish', {'referer': true, 'version': 1}) }}">
                                            Заказ-наряд v1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ easyadmin_path(order, 'finish', {'referer': true, 'version': 2}) }}">
                                            Заказ-наряд v2
                                        </a>
                                    </li>
                                    {% if order.customer is not empty %}
                                        <li>
                                            <a href="{{ easyadmin_path(order, 'invoice', {'referer': true}) }}">
                                                Счёт
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% else %}
                            <a href="{{ easyadmin_path(order, 'finish', {'referer': true, 'version': 1}) }}"
                               class="btn btn-success">
                                <i class="fa fa-print"></i>
                                Финалка v1
                            </a>
                            <a href="{{ easyadmin_path(order, 'finish', {'referer': true, 'version': 2}) }}"
                               class="btn btn-success">
                                <i class="fa fa-print"></i>
                                Финалка v2
                            </a>
                            <a href="{{ easyadmin_path(order, 'act', {'referer': true}) }}"
                               class="btn btn-info">
                                <i class="fa fa-print"></i>
                                Акт
                            </a>
                            <a href="{{ easyadmin_path(order, 'invoice', {'referer': true}) }}"
                               class="btn btn-info">
                                <i class="fa fa-print"></i>
                                Счёт
                            </a>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="field-group">
                            <div class="box box-default">
                                <div class="box-header with-border">
                                    <h3 class="box-title">
                                        Платежи
                                    </h3>
                                </div>

                                {% if order.payments is not empty %}
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Сумма</th>
                                                <th>Описание</th>
                                                <th>Принял</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for payment in order.payments %}
                                                {# @var payment \App\Entity\OrderPayment #}

                                                <tr>
                                                    <td>{{ payment.money|localize_money }}</td>
                                                    <td>{{ payment.description }}</td>
                                                    <td>{{ payment.createdAt|localizeddate }} ({% include 'easy_admin/field_user.html.twig' with {'value': payment.createdBy} %})</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="box-body">
                                        Платежей нет
                                    </div>
                                {% endif %}
                                {% if order.editable %}
                                    <div class="box-footer">
                                        <a href="{{ easyadmin_path(order, 'payment', {'referer': true}) }}" class="btn btn-primary">
                                            Создать платёж
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {% include 'easy_admin/_includes/notes_panel.html.twig' with {
                            'create_url': easyadmin_path('OrderNote', 'new', order|to_query),
                            'notes': notes
                        } only %}
                    </div>
                </div>

                {% if order.suspends is not empty %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="field-group">
                                <div class="box box-default">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">
                                            Откладывался
                                        </h3>
                                    </div>

                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>До</th>
                                                <th>Причина</th>
                                                <th>Создал</th>
                                                <th>Дата</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for suspend in order.suspends %}
                                                <tr>
                                                    <td>{{ suspend.till|localizeddate('medium', 'none') }}</td>
                                                    <td>{{ suspend.reason }}</td>
                                                    <td>{{ include('easy_admin/field_user.html.twig', {'value': suspend.createdBy}) }}</td>
                                                    <td>{{ suspend.createdAt|localizeddate }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <h2 class="page-header">
            {%- apply spaceless -%}
                {%- if order.editable %}
                    <a class="btn btn-primary" href="{{ easyadmin_path('OrderItemService', 'new', {'order_id': order.id}) }}">
                        <i class="fa fa-plus"></i>
                        Работа
                    </a>

                    <a class="btn btn-primary" href="{{ easyadmin_path('OrderItemPart', 'new', {'order_id': order.id}) }}">
                        <i class="fa fa-plus"></i>
                        Запчасть
                    </a>

                    <a class="btn btn-primary" href="{{ easyadmin_path('OrderItemGroup', 'new', order|to_query) }}">
                        <i class="fa fa-plus"></i>
                        Группа
                    </a>

                    {% if carModel.caseName|default is not empty %}
                        <a class="btn btn-primary" href="{{ easyadmin_path(order, 'TO', {'referer': true}) }}">
                            <i class="fa fa-heartbeat"></i>
                            ТО
                        </a>
                    {% endif %}
                {% endif %}
            {%- endapply -%}
        </h2>

        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Наименование</th>
                            <th>Исполнитель</th>
                            <th>Скидка</th>
                            <th>Цена</th>
                            <th>Итого</th>
                            {% if order.editable %}
                                <th>Склад</th>
                                <th>Действия</th>
                            {% endif %}
                            <th><i class="fa fa-info-circle"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in order.rootItems %}
                            {# @var item \App\Entity\OrderItem #}
                            {% include 'easy_admin/order/item/row.html.twig' with {'item': item, 'order': order} %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {% if car is not empty %}
            <h2 class="page-header">
                {%- apply spaceless -%}
                    <a class="btn btn-primary"
                       href="{{ easyadmin_path('CarRecommendation', 'new', {'car_id': order.car.id}|merge(order|to_query)) }}">
                        <i class="fa fa-plus"></i>
                        Рекомендация
                    </a>
                {%- endapply -%}
                <a>
                    {%- for money in car.getRecommendationPrice -%}
                        {%- if 1 == loop.index -%}
                            {{- '&nbsp;'|raw -}}

                            <i class="fa fa-barcode"></i>
                        {%- elseif 2 == loop.index -%}
                            {{- '&nbsp;'|raw -}}

                            + <i class="fa fa-wrench"></i>
                        {%- else -%}
                            {{- '&nbsp;'|raw -}}

                            =
                        {%- endif -%}

                        {{- '&nbsp;'|raw -}}

                        {{- money|localize_money -}}
                    {%- endfor -%}
                </a>
            </h2>

            {% if car.recommendations is not empty %}
                {% include 'easy_admin/order/includes/recommendations.html.twig' %}
            {% endif %}
        {% endif %}
    </section>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script>
      $('.icon-form-submit').click(function() {
        $(this).parent().submit();
      });
    </script>
{% endblock %}
