{% extends '@EasyAdmin/default/show.html.twig' %}

{% set order = entity %}
{% set car = order.car %}

{# @var order \App\entity\Order #}

{% block page_title %}Заказ № {{ order.id }}{% endblock %}

{% block content_title %}Заказ № {{ order.id }}{% endblock %}

{% block main %}
    <section id="main" class="content">
        <div class="row">
            <div class="col-md-6">
                {% include 'easy_admin/order/includes/main_information.html.twig' with {'order': order} only %}
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" style="margin-bottom: 15px">
                        {% if order.editable %}
                            <a href="{{ easyadmin_path(order, 'edit') }}" class="btn btn-primary">
                                <i class="fa fa-pencil"></i>
                                Редактировать
                            </a>

                            {% if order.readyToClose %}
                                <a href="{{ easyadmin_path(order, 'close', {'referer': true}) }}" class="btn btn-danger">
                                    <i class="fa fa-close"></i>
                                    Закрыть
                                </a>
                            {% else %}
                                <a href="#" class="btn btn-default" disabled="disabled">
                                    <i class="fa fa-close"></i>
                                    Закрыть
                                </a>
                            {% endif %}

                            <a href="{{ easyadmin_path(order, 'print', {'referer': true}) }}" class="btn btn-default">
                                <i class="fa fa-print"></i>
                                Черновик
                            </a>
                        {% endif %}

                        <a href="{{ easyadmin_path(order, 'finish', {'referer': true}) }}" class="btn btn-success">
                            <i class="fa fa-print"></i>
                            Финалка
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="field-group">
                            <div class="box box-default">
                                <div class="box-header with-border">
                                    <h3 class="box-title">
                                        Платежи
                                    </h3>
                                </div>

                                {% if order.payments is not empty %}
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>№</th>
                                                <th>Сумма</th>
                                                <th>Описание</th>
                                                <th>Дата</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for orderPayment in order.payments %}
                                                {# @var payment \App\Entity\Payment #}
                                                {% set payment = orderPayment.payment %}
                                                <tr>
                                                    <td>{{ payment.id }}</td>
                                                    <td>{{ payment.amount|localize_money }}</td>
                                                    <td>{{ payment.description }}</td>
                                                    <td>{{ orderPayment.createdAt|localizeddate }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="box-body">
                                        Платежей нет
                                    </div>
                                {% endif %}
                                {% if order.editable %}
                                    <div class="box-footer">
                                        <a href="{{ easyadmin_path(order, 'payment', {'referer': true}) }}" class="btn btn-primary">
                                            Создать платёж
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {% include 'easy_admin/_includes/notes_panel.html.twig' with {
                            'create_url': easyadmin_path('OrderNote', 'new', order|to_query),
                            'notes': notes
                        } only %}
                    </div>
                </div>
            </div>
        </div>

        <h2 class="page-header">
            {%- spaceless -%}
                {%- if order.editable %}
                    <a class="btn btn-primary" href="{{ easyadmin_path('OrderItemService', 'new', {'order_id': order.id}) }}">
                        <i class="fa fa-plus"></i>
                        Работа
                    </a>

                    <a class="btn btn-primary" href="{{ easyadmin_path('OrderItemPart', 'new', {'order_id': order.id}) }}">
                        <i class="fa fa-plus"></i>
                        Запчасть
                    </a>

                    <a class="btn btn-primary" href="{{ easyadmin_path('OrderItemGroup', 'new', order|to_query) }}">
                        <i class="fa fa-plus"></i>
                        Группа
                    </a>
                {% endif %}
            {%- endspaceless -%}
        </h2>

        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Наименование</th>
                            <th>Исполнитель</th>
                            <th>Цена</th>
                            <th>Итого</th>
                            {% if order.editable %}
                                <th>Склад</th>
                                <th>Действия</th>
                            {% endif %}
                            <th>Создал</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in order.rootItems %}
                            {# @var item \App\Entity\OrderItem #}
                            {% include 'easy_admin/order/item/row.html.twig' with {'item': item, 'order': order} %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {% if car is not empty %}
            <h2 class="page-header">
                {%- spaceless -%}
                    <a class="btn btn-primary"
                       href="{{ easyadmin_path('CarRecommendation', 'new', {'car_id': order.car.id}|merge(order|to_query)) }}">
                        <i class="fa fa-plus"></i>
                        Рекомендация
                    </a>
                {%- endspaceless -%}
            </h2>

            {% if car.recommendations is not empty %}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Наименование</th>
                                    <th>Цена</th>
                                    <th>Склад</th>
                                    <th>Диагностировал</th>
                                    <th>Дата</th>
                                    <th>Действия</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for recommendation in car.recommendations %}
                                    {# @var recommendation \App\Entity\CarRecommendation #}

                                    <tr>
                                        <td>
                                            {{ recommendation.service }}

                                            <a href="{{ easyadmin_path('CarRecommendationPart', 'new', {'recommendation_id': recommendation.id}) }}">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </td>
                                        <td>{{ recommendation.price|localize_money }}</td>
                                        <td></td>
                                        <td>
                                            {% if recommendation.worker is not empty %}
                                                <a href="{{ easyadmin_path(recommendation.worker, 'show') }}">
                                                    {{ recommendation.worker.fullName }}
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td>{{ recommendation.createdAt|localizeddate('medium', 'none') }}</td>
                                        <td>
                                            <a href="{{ easyadmin_path(recommendation, 'edit') }}">
                                                <i class="fa fa-pencil"></i>
                                            </a>

                                            {% if order.editable %}
                                                <form action="{{ easyadmin_path(recommendation, 'realize', {
                                                    'order_id': order.id
                                                }) }}" method="post" style="display: inline">
                                                    <i class="fa fa-wrench icon-form-submit"
                                                       style="cursor: pointer"></i>
                                                </form>
                                            {% endif %}
                                        </td>

                                        {% for part in recommendation.parts %}
                                            {# @var part \App\Entity\CarRecommendationPart #}
                                            {{ '</tr><tr>' }}
                                            <td style="padding-left: 40px">
                                                {% include 'easy_admin/field_part.html.twig' with {'value': part.part} only %}
                                            </td>
                                            <td>{{ part.quantity / 100 }} x {{ part.totalPrice|localize_money }}</td>
                                            <td>
                                                {% set reservable = part_reservable(part.part) %}
                                                {% set reserved = part_reserved(part.part) %}
                                                {% set inStock = part_in_stock(part.part) %}
                                                {% set required = part.quantity %}

                                                {% if reservable >= required %}
                                                    {% set stockStyle = 'success' %}
                                                    {% set reserveStyle = 'success' %}
                                                {% elseif inStock >= required %}
                                                    {% set stockStyle = 'warning' %}
                                                    {% set reserveStyle = 'warning' %}
                                                {% elseif inStock < required %}
                                                    {% set stockStyle = 'danger' %}
                                                    {% set reserveStyle = 'default' %}
                                                {% endif %}

                                                <span class="label label-{{ stockStyle }}">
                                                    {{ reservable / 100 }}
                                                </span>
                                                <span class="label label-{{ reserveStyle }}">
                                                    {{ reserved / 100 }}
                                                </span>
                                            </td>
                                            <td>{% include 'easy_admin/field_user.html.twig' with {'value': part.selector} only %}</td>
                                            <td>{{ part.createdAt|localizeddate('medium', 'none') }}</td>
                                            <td>
                                                <a href="{{ easyadmin_path(part, 'edit') }}">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </section>

{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script>
      $('.icon-form-submit').click(function() {
        $(this).parent().submit();
      });
    </script>
{% endblock %}
