{% extends '@EasyAdmin/default/show.html.twig' %}

{% set order = entity %}
{% set car = order.car %}

{# @var order \App\entity\Order #}

{% block page_title %}Заказ № {{ order.id }}{% endblock %}

{% block content_title %}{% endblock %}

{% block main %}
    <section id="main" class="content">
        <div class="row">
            <div class="field-group col-xs-12 col-sm-6">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Основная информация по заказу №{{ order.id }}

                            {% if order.editable %}
                                <a href="{{ easyadmin_path(order, 'edit') }}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            {% endif %}
                        </h3>
                    </div>

                    <div class="box-body">
                        <div class="form-horizontal">
                            <div class="form-group field-association ">
                                <label class="col-sm-2 control-label">Клиент</label>

                                <div class="col-sm-10">
                                    <div class="form-control">
                                        {% if order.customer is not empty %}
                                            {{ order.customer }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-horizontal">
                            <div class="form-group field-association ">
                                <label class="col-sm-2 control-label">Автомобиль</label>

                                <div class="col-sm-10">
                                    <div class="form-control">
                                        {{ order.car }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-horizontal">
                            <div class="form-group field-association ">
                                <label class="col-sm-2 control-label">Пробег</label>

                                <div class="col-sm-10">
                                    <div class="form-control">
                                        {{ order.mileage }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field-group col-xs-12 col-sm-6">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Описание
                        </h3>
                    </div>

                    <div class="box-body">
                        <div class="form-horizontal">
                            <div class="form-group field-association ">
                                <label class="col-sm-2 control-label">Описание</label>

                                <div class="col-sm-10">
                                    <div class="form-control">
                                        {{ order.description }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="page-header">
            {%- spaceless -%}
                Работы
                {%- if order.editable %}
                    <a href="{{ easyadmin_path('OrderItemService', 'new', {'order_id': order.id}) }}">
                        <i class="fa fa-plus"></i>
                    </a>
                {%- endif %}
                / Запчасти
                {% if order.editable -%}
                    <a href="{{ easyadmin_path('OrderItemPart', 'new', {'order_id': order.id}) }}">
                        <i class="fa fa-plus"></i>
                    </a>
                {%- endif %}
                / Группа
                {% if order.editable %}
                    <a href="{{ easyadmin_path('OrderItemGroup', 'new', {'order_id': order.id}) }}">
                        <i class="fa fa-plus"></i>
                    </a>
                {% endif %}
            {%- endspaceless -%}
        </h2>

        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Наименование</th>
                            <th>Исполнитель / Артикул</th>
                            <th>Цена</th>
                            <th>Итого</th>
                            {% if order.editable %}
                                <th>Склад</th>
                                <th>Действия</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in order.rootItems %}
                            {# @var item \App\Entity\OrderItem #}
                            {% include 'easy_admin/order/item/row.html.twig' with {'item': item, 'order': order} %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {% if car is not empty %}
            <h2 class="page-header">
                {%- spaceless -%}
                    Рекомендации

                    <a href="{{ easyadmin_path('CarRecommendation', 'new', {'car_id': order.car.id}) }}">
                        <i class="fa fa-plus"></i>
                    </a>
                {%- endspaceless -%}
            </h2>

            {% if car.recommendations is not empty %}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Наименование</th>
                                    <th>Цена</th>
                                    <th>Диагностировал</th>
                                    <th>Дата</th>
                                    <th>Действия</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for recommendation in car.recommendations %}
                                    {# @var recommendation \App\Entity\CarRecommendation #}

                                    <tr>
                                        <td>
                                            <a href="{{ easyadmin_path(recommendation.service, 'edit') }}">
                                                <i class="fa fa-asterisk"></i>
                                            </a>

                                            {{ recommendation.service.name }}

                                            <a href="{{ easyadmin_path('CarRecommendationPart', 'new', {'recommendation_id': recommendation.id}) }}">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </td>
                                        <td>{{ recommendation.price|localize_money }}</td>
                                        <td>
                                            {% if recommendation.worker is not empty %}
                                                <a href="{{ easyadmin_path(recommendation.worker, 'show') }}">
                                                    {{ recommendation.worker.fullName }}
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td>{{ recommendation.createdAt|localizeddate('medium', 'none') }}</td>
                                        <td>
                                            <a href="{{ easyadmin_path(recommendation, 'edit') }}">
                                                <i class="fa fa-pencil"></i>
                                            </a>

                                            {% if order.editable %}
                                                <form action="{{ easyadmin_path(recommendation, 'realize', {
                                                    'order_id': order.id
                                                }) }}" method="post" style="display: inline">
                                                    <i class="fa fa-wrench icon-form-submit"
                                                       style="cursor: pointer"></i>
                                                </form>
                                            {% endif %}
                                        </td>

                                        {% for part in recommendation.parts %}
                                            {# @var part \App\Entity\CarRecommendationPart #}
                                            {{ '</tr><tr>' }}
                                            <td style="padding-left: 40px">
                                                <a href="{{ easyadmin_path(part.part, 'edit') }}">
                                                    <i class="fa fa-barcode"></i>
                                                </a>
                                                {{ part.part.name }}
                                            </td>
                                            <td>{{ part.totalPrice|localize_money }}</td>
                                            <td>{{ part.selector.person.fullName }}</td>
                                            <td>{{ part.createdAt|localizeddate('medium', 'none') }}</td>
                                            <td>
                                                <a href="{{ easyadmin_path(part, 'edit') }}">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </section>

{% endblock %}

{% block body_javascript %}
    <script>
        $('.icon-form-submit').click(function () {
            $(this).parent().submit();
        });
    </script>
{% endblock %}
