{% extends 'easy_admin/default/show.html.twig' %}

{% set order = entity %}

{# @var order \App\Order\Entity\Order #}
{# @var car \App\Entity\Landlord\Car #}

{% block page_title %}Заказ № {{ order.number }}{% endblock %}

{% block content_title %}Заказ № {{ order.number }}{% endblock %}

{% block main %}
    <section id="main" class="content">
        <div class="row">
            <div class="col-md-6">
                {{ order_info(order, true) }}
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12" style="margin-bottom: 15px">
                        {% if order.editable %}
                            <a href="{{ easyadmin_path('Order', 'edit', {'id': order|toId}) }}" class="btn btn-primary">
                                <i class="fa fa-pencil"></i>
                                Редактировать
                            </a>

                            {% if order.readyToClose %}
                                <a href="{{ easyadmin_path('Order', 'close', {'id': order|toId, 'referer': true}) }}" class="btn btn-danger">
                                    <i class="fa fa-close"></i>
                                    Закрыть
                                </a>
                            {% else %}
                                <a href="#" class="btn btn-default" disabled="disabled">
                                    <i class="fa fa-close"></i>
                                    Закрыть
                                </a>
                            {% endif %}
                        {% endif %}

                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-print"></i> Печать <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ easyadmin_path('OrderPrint', 'finish', {'id': order|toId, 'referer': true}) }}">
                                        ЗАКАЗ-НАРЯД
                                    </a>
                                </li>
                                {% if order.editable %}
                                    <li>
                                        <a href="{{ easyadmin_path('OrderPrint', 'matching', {'id': order|toId, 'referer': true}) }}">
                                            Ком.предложение
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ easyadmin_path('OrderPrint', 'giveOut', {'id': order|toId, 'referer': true}) }}">
                                            Рабочий лист
                                        </a>
                                    </li>
                                {% endif %}
                                {% if customer is not empty %}
                                    <li>
                                        <a href="{{ easyadmin_path('OrderPrint', 'invoice', {'id': order|toId, 'referer': true}) }}">
                                            Счёт
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ easyadmin_path('OrderPrint', 'act', {'id': order|toId, 'referer': true}) }}">
                                            Акт
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="field-group">
                            <div class="box box-default">
                                <div class="box-header with-border">
                                    <h3 class="box-title">
                                        Платежи
                                    </h3>
                                </div>

                                {% if order.payments is not empty %}
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Сумма</th>
                                                <th>Описание</th>
                                                <th>Принял</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for payment in order.payments %}
                                                {# @var payment \App\Order\Entity\OrderPayment #}

                                                <tr>
                                                    <td>{{ payment.money|localize_money }}</td>
                                                    <td>{{ payment.description }}</td>
                                                    <td>{{ created_by_view(payment.toId) }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="box-body">
                                        Платежей нет
                                    </div>
                                {% endif %}
                                {% if order.editable %}
                                    <div class="box-footer">
                                        <a href="{{ easyadmin_path('Order', 'payment', {'order_id': order|toId, 'referer': true}) }}" class="btn btn-primary">
                                            Создать платёж
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {% include 'easy_admin/note/notes_panel.html.twig' with {'subject': order|toUuid} only %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="field-group">
                            <div class="box box-default">
                                <div class="box-header with-border">
                                    <h3 class="box-title">
                                        Связанные проводки
                                    </h3>
                                </div>

                                {% if transactions is not empty %}
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Получатель</th>
                                                <th>Сумма</th>
                                                <th>Описание</th>
                                                <th>Дата</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for transaction in transactions %}
                                                {# @var transaction \App\Customer\Entity\CustomerTransactionView #}

                                                <tr>
                                                    <td>
                                                        {% if transaction.operandId is defined %}
                                                            {{ transaction.operandId|display_name }}
                                                        {% else %}
                                                            {{ transaction.walletId|display_name }}
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ transaction.amount|localize_money }}</td>
                                                    <td>{{ transaction.source.toDescription }}</td>
                                                    <td>{{ transaction.createdAt|format_datetime('short', 'short', '', 'GMT+3') }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="box-body">
                                        Проводок нет
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                {% if order.suspends is not empty %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="field-group">
                                <div class="box box-default">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">
                                            Откладывался
                                        </h3>
                                    </div>

                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>До</th>
                                                <th>Причина</th>
                                                <th>Создано</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for suspend in order.suspends %}
                                                <tr>
                                                    <td>{{ suspend.till|format_date('short', '', 'GMT+3') }}</td>
                                                    <td>{{ suspend.reason }}</td>
                                                    <td>{{ created_by_view(suspend|toUuid) }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <h2 class="page-header">
            {%- apply spaceless -%}
                {%- if order.editable %}
                    <a class="btn btn-primary" href="{{ easyadmin_path('OrderItemService', 'new', {'order_id': order|toId}) }}">
                        <i class="fa fa-plus"></i>
                        Работа
                    </a>

                    <a class="btn btn-primary" href="{{ easyadmin_path('OrderItemPart', 'new', {'order_id': order|toId}) }}">
                        <i class="fa fa-plus"></i>
                        Запчасть
                    </a>

                    <a class="btn btn-primary" href="{{ easyadmin_path('OrderItemGroup', 'new', {'order_id': order|toId}) }}">
                        <i class="fa fa-plus"></i>
                        Группа
                    </a>

                    <a class="btn btn-primary" href="{{ easyadmin_path('Order', 'TO', {'id': order|toId, 'referer': true}) }}">
                        <i class="fa fa-heartbeat"></i>
                        ТО
                    </a>
                {% endif %}
            {%- endapply -%}
        </h2>

        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Наименование</th>
                            <th>Исполнитель</th>
                            <th>Скидка</th>
                            <th>Цена</th>
                            <th>Итого</th>
                            {% if order.editable %}
                                <th>Склад</th>
                                <th>Действия</th>
                            {% endif %}
                            <th>
                                <a onclick="$('.created-by').slideToggle(0)">
                                    <i class="fa fa-info-circle"></i>
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in order.rootItems %}
                            {# @var item \App\Entity\OrderItem #}
                            {% include 'easy_admin/order/item/row.html.twig' with {'item': item, 'order': order, 'car': car, 'customer': customer} %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {% if car is not empty %}
            <h2 class="page-header">
                {%- apply spaceless -%}
                    <a class="btn btn-primary"
                       href="{{ easyadmin_path('CarRecommendation', 'new', {'car_id': car|toId, 'order_id': order|toId}) }}">
                        <i class="fa fa-plus"></i>
                        Рекомендация
                    </a>
                {%- endapply -%}
                <a>
                    {% set totalServicePrice = car.recommendationPrice('service') %}
                    {% set totalPartPrice = car.recommendationPrice('part') %}
                    {% set totalRecommendationPrice = totalServicePrice.add(totalPartPrice) %}

                    <i class="fa fa-wrench"></i>
                    {{- '&nbsp;'|raw -}}
                    {{ totalServicePrice|localize_money }}

                    {% if totalPartPrice.positive %}
                        {{- '&nbsp;'|raw -}}
                        +
                        {{- '&nbsp;'|raw -}}
                        <i class="fa fa-barcode"></i>
                        {{- '&nbsp;'|raw -}}
                        {{ totalPartPrice|localize_money }}
                    {% endif %}
                    {{- '&nbsp;'|raw -}}
                    =
                    {{- '&nbsp;'|raw -}}
                    {{ totalRecommendationPrice|localize_money }}
                </a>
            </h2>

            {% if car.recommendations is not empty %}
                {% include 'easy_admin/order/includes/recommendations.html.twig' %}
            {% endif %}
        {% endif %}
    </section>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script>
      $('.icon-form-submit').click(function() {
        $(this).parent().submit();
      });
    </script>
{% endblock %}
